.input-box input.fast-error-field, .input-box select.fast-error-field, .input-box textarea.fast-error-field, p.fast-error-field   {
	background: #ffdcdd;
}
.input-box .fast-success-field {
	background: #f7fde1;
}
.fast-loader #fast-shipping {
	background: #fff;
	position: relative;
	background: url(../images/fastcheckout/loader.gif) 50% 50% no-repeat;	
}
.fast-loader #fast-shipping #fast-shipping-methods {
		filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}
.fast-loader #fast-payment {
	background: #fff;
	position: relative;
	background: url(../images/fastcheckout/loader.gif) 50% 50% no-repeat;	
}
.fast-loader #fast-payment #fast-payment-methods {
		filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}
.fast-loader #fast-adress {
	background: #fff;
	position: relative;
	background: url(../images/fastcheckout/loader.gif) 50% 50% no-repeat;	
}
.fast-loader #fast-adress #ul-fast-address {
		filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}
.fast-loader #fast-total {
	background: #fff;
	position: relative;
	background: url(../images/fastcheckout/loader.gif) 50% 50% no-repeat;
	z-index: 1000;
}

.fast-loader #fast-total #shopping-cart-totals-table {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}

#fast-panel li {
	display: block;
	float: left;
	margin: 4px 4px 4px 0;
	padding: 0px 10px 0 0;
	font-weight: normal;
	cursor: pointer;
	color: #0096dc;
	font-size: 12px;
	text-decoration: underline;
	line-height: 17px;
}
#fast-panel li.fast-active-pane {
	font-weight: bold;
	font-size: 15px;
	color: #2F2F2F;
	text-decoration: none;
}
#fast-panel {
	margin-top: 10px;
}
#co-billing-form {
	padding: 10px 0;
	display: block;
}
#fast-error {
/*	background: url("../images/fastcheckout/error-bg.png") no-repeat scroll 10px center #FFDCDD;
	color: #b40007;
	line-height: 34px;
	padding: 4px 10px 4px 54px;
	font-weight: bold;
	margin-bottom: 10px;*/
	text-align: left;
	padding-bottom: 4px;
}
#fastcheckout {
	margin: 10px 0;
	width: 900px;
}
#fastcheckout td {
	text-align: left;
	vertical-align: top;
}
#fast-adress-loader {
	width: 280px;
	padding: 0 10px;
}
.wide-adress #fast-adress-loader {
	/*width: 580px;*/
}
#fast-comment.two-payment .fast-title {
	background:  url("../images/fastcheckout/fri-step.png") center left no-repeat;
}
.fast-title {
	font-size: 14px;
	padding-left: 28px;
	line-height: 20px;
	margin-bottom: 8px;
}
#fast-adress-loader .fast-title {
	background:  url("../images/fastcheckout/one-step.png") center left no-repeat;
}
#fast-shipping-loader .fast-title {
	background:  url("../images/fastcheckout/two-step.png") center left no-repeat;
}
#fast-payment-loader .fast-title {
	background:  url("../images/fastcheckout/fri-step.png") center left no-repeat;
}
.two-payment #fast-payment-loader .fast-title {
	background:  url("../images/fastcheckout/two-step.png") center left no-repeat;
}
#fast-comment .fast-title {
	background:  url("../images/fastcheckout/fo-step.png") center left no-repeat;
}
#fast-shipping-loader {
	width: 272px;
	padding: 0 10px 0 18px;
	background: url("../images/fastcheckout/step-bg.png") top left no-repeat;
	min-height: 160px;
}
#fast-payment-loader {
	width: 282px;
	padding: 0 0px 0 18px;
	background: url("../images/fastcheckout/step-bg.png") top left no-repeat;
	min-height: 130px;
}
#ul-fast-address {
	padding-left: 10px; 
}
#fast-shipping {
	padding-left: 10px;
	min-height: 100px;
}
#billing-new-address-form label {
	color: #5f696f;
	font-size: 12px;
}
#billing-new-address-form label.required-entry-label {
	font-weight: bold;
}
#billing-new-address-form input {
	border: #bebcb7 solid 1px;
	width: 262px;
	font-size: 13px;
	color: #2b363d;
}
#billing-new-address-form div.field {
	margin-bottom: 6px;
}
#billing-new-address-form textarea {
	width:  262px;
	font-size: 13px;
	color: #2b363d;
}
#billing-new-address-form select {
	width: 270px;
	font-size: 13px;
	color: #2b363d;
}
#fast-payment {
	padding-left: 10px;
	min-height: 100px;
}
#fast-shipping-methods li {
	margin: 2px 0;
	padding: 3px;
	line-height: 18px;
}
#fast-shipping-methods li label {
	color: #2b363d;
	font-size: 12px;
	font-weight: normal;
	display: block;
	float: left;
	width: 238px;
	padding-left: 2px;
}
#fast-shipping-methods li label .price {
	float: right;
	color: #8f8f8f;
	font-size: 11px;
}
#fast-shipping-methods li input {
	display: block;
	float: left;
	margin-top: 2px;
}
#fast-shipping-methods li.fast-success:hover, li.active-radio, .fast-method-color-true, .fast-method-color:hover {
	background: #ecf7da;
}

#fast-comment {
	padding-left: 18px;
	padding-top: 14px;
}
#fast-comment .input-box {
	padding-left: 10px;
}
#fast-comment textarea {
	width: 564px;
	height: 62px;
	font-size: 14px;
}
#fast-total {
	padding-right: 0px;
	float: right;
	margin: 20px 0 10px 0;
	font-size: 14px;
}
#shopping-cart-totals-table td {
	padding: 2px 4px;
}
.fast-method-color {
	padding: 4px 8px;
	margin: 2px 0;
}
#fast-sp-methods {
	/*min-height: 220px;*/
}
#fast-adress label.required {
	font-weight: bold;
}
#fast-adress label.required em {
	display: inline;
	color: red;
}
#fast-shipping-methods dt {
	color: #2b363d;
	margin: 4px 0 0 0;
}
#fast-payment-methods input.input-text {
	width: 218px;
}
#billing-buttons-container {
	border-top: 3px solid #c2c2c2;
	width: 565px;
	float: right;
	margin: 0;
	padding-top: 12px;
}
#fast-register {
	float: left;
	padding-left: 10px;
}
#billing-new-address-form input.checkbox {
	width: auto;
}
#billing-new-address-form .control {
	margin-top: 8px;
}
.fast-b {
	font-weight: bold;
	margin-bottom: 4px;
	display: block;
}
.fast-customer-address-title label {
	font-weight: bold;
}
.fast-customer-address-address {
	padding-left: 16px;
}
.fast-customer-address-title {
	margin-bottom: 4px;
	padding: 2px 4px;
}
#fast-register label {
	/*font-weight: bold; */
}
#fast-payment-methods label {
	color: #384750;
}
#fast-login .block-title strong {
	float: right;
	margin-right: 10px;
	color: #0096dc;
	cursor: pointer;
	border-bottom: 1px dashed #0096dc;
	line-height: normal;
}
#fast-login .block-content {
	float: right;
	clear: both;
	margin: 4px 0 0 0;
}
#fast-login #openloader {
	float: right;
	margin: 2px 0 4px;
}
#agreements {
	float: left;
}
#agreements label {
	font-weight: normal;
}
#agreements .checkout-agreements .agree
{
	padding: 4px 10px;
}
#agreements .checkout-agreements li {
	margin: 0;
}
#agreements .checkout-agreements .agree label{
	color: #2F2F2F;
}
#fast-login .input-text {
	width: 120px;
	height: 16px;
}
#fast-sertificat {
	background: url(../images/fastcheckout/sertificat.png) top left no-repeat;
	height: 26px;
	line-height: 26px;
	margin: 18px 0 10px 28px;
	padding-left: 50px;
}
#fast-sertificat label {
	font-weight: bold;
}
#fast-sertificat input {
	height: 16px;
}

button.button.button-login { overflow:visible; width:auto; border:0; padding:0; margin:0; background:transparent; cursor:pointer; }
button.button.button-login span { font-weight: normal; display:block; height:22px; line-height:22px; border:0; background: url(../images/fastcheckout/fast-btn.png) no-repeat; padding:0 0 0 1px; text-align:center; white-space:nowrap; color:#fff; }
button.button.button-login span span { background-position: 100% -22px;
	padding: 0 6px 0 5px;
}

#fast-login button.button.button-login {
	margin:0 0 1px 0;
}
.fast-ya-address {
	padding: 0 0 6px 10px;
}
#pickup-field {
	padding: 6px 0 2px;
}
#pickup-field label {
	font-weight: bold;
	font-size: 12px;
}
label.for-required em {
	display: none;
}
#customer-pickup {
	margin: 0 3px 3px;
}
#billing-new-address-form .control .checkbox
{
	margin: 0 3px;	
}
#checkout_method {
	margin-top: 0;
}

#fast-login label {
	display: block;
}
#fast-login td {
	padding: 1px 2px;
}
.ons-div-one {
	width: 300px;
	float: left;
}
.ons-div-two {
	width: 600px;
	float: right;
}
#fast-shipping-methods select {
	width: 256px;
}
.ons-review-table {
	width: 570px;
	text-align: left;
	float: right;
}
.order-review-footer {
	margin: 18px 0 0 0;
	padding-left: 18px;
}
.order-review-footer .fast-title {
	background:  url("../images/fastcheckout/five-step.png") center left no-repeat;
}

/*
 * jQuery UI Autocomplete 1.8.17
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Autocomplete#theming
 */
.ui-autocomplete { position: absolute; cursor: default; }
.ui-autocomplete-loading {
	background: url(../images/fastcheckout/ui-anim_basic_16x16.gif) right center no-repeat !important;
}
.ui-autocomplete.ui-menu
{
	background: #fff;
	border: #BEBCB7 1px solid;
	border-top: none;
}
.ui-autocomplete.ui-menu .ui-menu-item
{
	text-align: left;
}

/* workarounds */
* html .ui-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */

/*
 * jQuery UI Menu 1.8.17
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Menu#theming
 */
.ui-menu {
	list-style:none;
	padding: 2px;
	margin: 0;
	display:block;
	float: left;
}
.ui-menu .ui-menu {
	margin-top: -3px;
}
.ui-menu .ui-menu-item {
	margin:0;
	padding: 0;
	zoom: 1;
	float: left;
	clear: left;
	width: 100%;
}
.ui-menu .ui-menu-item a {
	text-decoration:none;
	display:block;
	padding:.2em .4em;
	line-height:18px;
	zoom:1;
	border: 1px solid #fff;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
	font-weight: normal;
	/*margin: -1px;*/
	background: #F7FDE1;
	border: 1px solid #B6B6B6;
}
