<?php 
/**
 * @category    Mana
 * @package     Mana_Filters
 * @copyright   Copyright (c) http://www.manadev.com
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
/** 
 * Template for showing options for filter as a HTML list 
 * @author Mana Team
 * Injected instead of standard catalog/layer/filter.phtml in Mana_Filters_Block_Filter_Attribute constructor.
 * This template is overridden by copying (template body was pasted from catalog/layer/filter.phtml 
 * and modified as needed). All changes are marked with comments.
 */
/** @var $this Mana_Filters_Block_Filter_Attribute */
/** @var $_item Mana_Filters_Model_Item */
?>
<ol class="m-filter-item-list">
<?php
    /** @var $session ManaPro_FilterShowMore_Model_Session */
    $session = Mage::getSingleton('manapro_filtershowmore/session');

    $maxItemCount = $this->getFilterOptions()->getShowMoreItemCount();

$i=0;
foreach ($this->getItems() as $_item):
          if($i<$maxItemCount) { ?>
    <li>
        <?php // MANA BEGIN ?>
        <?php if ($_item->getMSelected()): ?>
        	<span class="m-selected-filter-item"><?php echo $_item->getLabel() ?></span>
        <?php else : ?>
	        <?php if ($_item->getCount() > 0): ?>
	        <a href="<?php echo $this->escapeUrl($_item->getUrl()) ?>"><?php echo $_item->getLabel() ?></a>
	        <?php else: echo $_item->getLabel() ?>
	        <?php endif; ?>
        <?php endif; ?>
        <?php // MANA END ?>
        (<?php echo $_item->getCount() ?>)
    </li>
<?php } $i++;
endforeach ?>
</ol>
<div id="show-more-<?php echo $this->getFilter()->getRequestVar()?>"<?php if (!$session->isFilterExpanded($this->getFilter()->getRequestVar())) echo ' style="display:none"' ?>>
<ol class="m-filter-item-list">
<?php
$i=0; $checked=0;
foreach ($this->getItems() as $_item):
          if($i>=$maxItemCount) { ?>
    <li>
        <?php // MANA BEGIN ?>
        <?php if ($_item->getMSelected()):
                $checked++; ?>
        	<span class="m-selected-filter-item"><?php echo $_item->getLabel() ?></span>
        <?php else : ?>
	        <?php if ($_item->getCount() > 0): ?>
	        <a href="<?php echo $this->escapeUrl($_item->getUrl()) ?>"><?php echo $_item->getLabel() ?></a>
	        <?php else: echo $_item->getLabel() ?>
	        <?php endif; ?>
        <?php endif; ?>
        <?php // MANA END ?>
        (<?php echo $_item->getCount() ?>)
    </li>
<?php } $i++;
endforeach ?>
</ol>

</div>
<?php echo Mage::helper('mana_core')->getNamedHtml('mana_filters/markup', 'after_items', array('block' => $this)) ?>
