<?php 
/**
 * @category    Mana
 * @package     Mana_Filters
 * @copyright   Copyright (c) http://www.manadev.com
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
/** 
 * Template for showing options for filter as a HTML list 
 * @author Mana Team
 * Injected instead of standard catalog/layer/filter.phtml in Mana_Filters_Block_Filter_Attribute constructor.
 * This template is overridden by copying (template body was pasted from catalog/layer/filter.phtml 
 * and modified as needed). All changes are marked with comments.
 */
/** @var $this Mana_Filters_Block_Filter_Attribute */
/** @var $_item Mana_Filters_Model_Item */
?>
<ol class="m-filter-item-list">
<?php foreach ($this->getItems() as $_item): ?>
    <li>
        <?php // MANA BEGIN ?>
        <?php if ($_item->getMSelected()): ?>
        	<span class="m-selected-filter-item"><?php echo $_item->getLabel() ?></span>
        <?php else : ?>
	        <?php if ($_item->getCount() > 0): ?>
	        <a href="<?php echo $this->escapeUrl($_item->getReplaceUrl()) ?>"><?php echo $_item->getLabel() ?></a>
	        <?php else: echo $_item->getLabel() ?>
	        <?php endif; ?>
        <?php endif; ?>
        <?php // MANA END ?>
        (<?php echo $_item->getCount() ?>)
    </li>
<?php endforeach ?>
</ol>
<?php echo Mage::helper('mana_core')->getNamedHtml('mana_filters/markup', 'after_items', array('block' => $this)) ?>
