<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; CHARSET=utf-8">
<TITLE></TITLE>
<STYLE TYPE="text/css">
body { background: #ffffff; margin: 0; font-family: Arial; font-size: 8pt; font-style: normal; }
tr.R0{ height: 11pt; }
tr.R0 td.R0C1{ text-align: center; vertical-align: medium; }
tr.R0 td.R10C1{ font-family: Arial; font-size: 8pt; font-style: normal; vertical-align: medium; border-left: #000000 1px solid; border-top: #ffffff 0px none; border-bottom: #000000 1px solid; }
tr.R0 td.R12C1{ font-family: Arial; font-size: 14pt; font-style: normal; font-weight: bold; vertical-align: medium; }
tr.R0 td.R5C19{ font-family: Arial; font-size: 9pt; font-style: normal; vertical-align: top; border-left: #000000 1px solid; border-top: #000000 1px solid; border-bottom: #000000 1px solid; border-right: #000000 1px solid; }
tr.R0 td.R5C22{ font-family: Arial; font-size: 9pt; font-style: normal; vertical-align: top; border-left: #000000 1px solid; border-top: #ffffff 0px none; border-bottom: #000000 1px solid; border-right: #000000 1px solid; }
tr.R0 td.R6C1{ border-left: #000000 1px solid; border-bottom: #000000 1px solid; border-right: #000000 1px solid; }
tr.R0 td.R8C1{ font-family: Arial; font-size: 9pt; font-style: normal; vertical-align: top; border-left: #000000 1px solid; border-top: #000000 1px solid; }
tr.R14{ height: 7pt; }
tr.R14 td.R14C1{ border-bottom: #000000 2px solid; }
tr.R14 td.R22C1{ border-top: #000000 2px solid; }
tr.R16{ height: 25pt; }
tr.R16 td.R16C1{ font-family: Arial; font-size: 9pt; font-style: normal; vertical-align: top; }
tr.R16 td.R16C5{ font-family: Arial; font-size: 9pt; font-style: normal; font-weight: bold; vertical-align: top; }
tr.R21{ height: 22pt; }
tr.R21 td.R21C1{ text-align: center; vertical-align: top; overflow: hidden;border-left: #000000 2px solid; border-top: #000000 1px solid; }
tr.R21 td.R21C2{ vertical-align: top; border-left: #000000 1px solid; border-top: #000000 1px solid; }
tr.R21 td.R21C3{ text-align: right; vertical-align: top; border-left: #000000 1px solid; border-top: #000000 1px solid; }
tr.R21 td.R21C4{ vertical-align: top; border-left: #000000 1px solid; border-top: #000000 1px solid; }
tr.R21 td.R21C6{ text-align: right; vertical-align: top; border-left: #000000 1px solid; border-top: #000000 1px solid; border-right: #000000 2px solid; }
tr.R4{ height: 13pt; }
tr.R4 td.R20C1{ font-family: Arial; font-size: 9pt; font-style: normal; font-weight: bold; text-align: center; vertical-align: medium; border-left: #000000 2px solid; border-top: #000000 2px solid; }
tr.R4 td.R20C2{ font-family: Arial; font-size: 9pt; font-style: normal; font-weight: bold; text-align: center; vertical-align: medium; border-left: #000000 1px solid; border-top: #000000 2px solid; }
tr.R4 td.R20C6{ font-family: Arial; font-size: 9pt; font-style: normal; font-weight: bold; text-align: center; vertical-align: medium; border-left: #000000 1px solid; border-top: #000000 2px solid; border-right: #000000 2px solid; }
tr.R4 td.R23C5{ font-family: Arial; font-size: 9pt; font-style: normal; font-weight: bold; text-align: right; vertical-align: top; }
tr.R4 td.R26C1{ font-family: Arial; font-size: 9pt; font-style: normal; }
tr.R4 td.R27C1{ font-family: Arial; font-size: 9pt; font-style: normal; font-weight: bold; vertical-align: top;}
tr.R4 td.R30C1{ font-family: Arial; font-size: 9pt; font-style: normal; font-weight: bold; }
tr.R4 td.R30C10{ text-align: right; border-bottom: #000000 1px solid; }
tr.R4 td.R30C6{ border-bottom: #000000 1px solid; }
tr.R4 td.R4C1{ font-family: Arial; font-size: 9pt; font-style: normal; vertical-align: top; border-left: #000000 1px solid; border-top: #000000 1px solid; border-right: #000000 1px solid; }
tr.R4 td.R4C19{ font-family: Arial; font-size: 9pt; font-style: normal; vertical-align: medium; border-left: #000000 1px solid; border-top: #000000 1px solid; border-bottom: #000000 1px solid; border-right: #000000 1px solid; }
tr.R4 td.R4C22{ font-family: Arial; font-size: 9pt; font-style: normal; vertical-align: medium; border-left: #000000 1px solid; border-top: #000000 1px solid; border-bottom: #ffffff 0px none; border-right: #000000 1px solid; }
tr.R4 td.R7C1{ font-family: Arial; font-size: 9pt; font-style: normal; vertical-align: medium; border-left: #000000 1px solid; border-top: #000000 1px solid; }
tr.R4 td.R7C19{ font-family: Arial; font-size: 9pt; font-style: normal; vertical-align: top; border-left: #000000 1px solid; border-top: #000000 1px solid; border-bottom: #000000 1px solid; border-right: #000000 1px solid; }
tr.R4 td.R7C3{ font-family: Arial; font-size: 9pt; font-style: normal; vertical-align: medium; border-top: #000000 1px solid; border-right: #000000 1px solid; }
table {table-layout: fixed; padding: 0px; padding-left: 2px; vertical-align:bottom; border-collapse:collapse;font-family: Arial; font-size: 8pt; font-style: normal; }
td { padding: 0px; padding-left: 2px; overflow:hidden; }
.DESK {font-size: 10pt; text-align: center; padding: 10pt;}
</STYLE>
</HEAD>
<BODY STYLE="background: #ffffff; margin: 0; font-family: Arial; font-size: 8pt; font-style: normal; ">
<TABLE width="100%"  CELLSPACING=0>
<COL WIDTH=7>
<COL WIDTH=21>
<COL WIDTH=21>
<COL WIDTH=21>
<COL WIDTH=21>
<COL WIDTH=21>
<COL WIDTH=21>
<COL WIDTH=21>
<COL WIDTH=21>
<COL WIDTH=21>
<COL WIDTH=21>
<COL WIDTH=21>
<COL WIDTH=21>
<COL WIDTH=21>
<COL WIDTH=21>
<COL WIDTH=21>
<COL WIDTH=21>
<COL WIDTH=21>
<COL WIDTH=21>
<COL WIDTH=21>
<COL WIDTH=21>
<COL WIDTH=21>
<COL WIDTH=21>
<COL WIDTH=21>
<COL WIDTH=21>
<COL WIDTH=21>
<COL WIDTH=21>
<COL WIDTH=21>
<COL WIDTH=21>
<COL WIDTH=21>
<COL WIDTH=21>
<COL WIDTH=21>
<COL WIDTH=19>
<TR CLASS=R0>
<TD><span></span></TD>
<TD CLASS=R0C1 COLSPAN=32 ROWSPAN=3><?php echo $this->getHead();?></TD>
<TD></TD>
</TR>
<TR CLASS=R0>
<TD><span></span></TD>
<TD>&nbsp;</TD>
</TR>
<TR CLASS=R0>
<TD><span></span></TD>
<TD>&nbsp;</TD>
</TR>
<TR CLASS=R0>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD>&nbsp;</TD>
</TR>
<TR CLASS=R4>
<TD><span></span></TD>
<TD CLASS=R4C1 COLSPAN=18 ROWSPAN=2><?php echo $this->getConfig()->getBankName() ?></TD>
<TD CLASS=R4C19 COLSPAN=3><SPAN STYLE="white-space:nowrap">БИК</SPAN></TD>
<TD CLASS=R4C22 COLSPAN=11><SPAN STYLE="white-space:nowrap"><?php echo $this->getConfig()->getBankBik() ?></SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R0>
<TD><span></span></TD>
<TD CLASS=R5C19 COLSPAN=3 ROWSPAN=2><SPAN STYLE="white-space:nowrap">Сч.&nbsp;№</SPAN></TD>
<TD CLASS=R5C22 COLSPAN=11 ROWSPAN=2><SPAN STYLE="white-space:nowrap"><?php echo $this->getConfig()->getBankKorrSchet() ?></SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R0>
<TD><span></span></TD>
<TD CLASS=R6C1 COLSPAN=18><SPAN STYLE="white-space:nowrap">Банк&nbsp;получателя</SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R4>
<TD><span></span></TD>
<TD CLASS=R7C1 COLSPAN=2><SPAN STYLE="white-space:nowrap">ИНН</SPAN></TD>
<TD CLASS=R7C3 COLSPAN=7><SPAN STYLE="white-space:nowrap"><?php echo $this->getConfig()->getINN() ?></SPAN></TD>
<TD CLASS=R7C1 COLSPAN=2><SPAN STYLE="white-space:nowrap">КПП&nbsp;&nbsp;</SPAN></TD>
<TD CLASS=R7C3 COLSPAN=7><span><?php echo $this->getConfig()->getKPP() ?></span></TD>
<TD CLASS=R7C19 COLSPAN=3 ROWSPAN=4><SPAN STYLE="white-space:nowrap">Сч.&nbsp;№</SPAN></TD>
<TD CLASS=R7C19 COLSPAN=11 ROWSPAN=4><SPAN STYLE="white-space:nowrap"><?php echo $this->getConfig()->getNomerScheta() ?></SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R0>
<TD><span></span></TD>
<TD CLASS=R8C1 COLSPAN=18 ROWSPAN=2><?php echo $this->getConfig()->getPoluchatelPlateza() ?></TD>
<TD></TD>
</TR>
<TR CLASS=R0>
<TD><span></span></TD>
<TD>&nbsp;</TD>
</TR>
<TR CLASS=R0>
<TD><span></span></TD>
<TD CLASS=R10C1 COLSPAN=18><SPAN STYLE="white-space:nowrap">Получатель</SPAN></TD>
<TD></TD>
</TR>
<TR>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD>&nbsp;</TD>
</TR>
<TR CLASS=R0>
<TD><span></span></TD>
<TD CLASS=R12C1 COLSPAN=32 ROWSPAN=2><SPAN STYLE="white-space:nowrap">Счет&nbsp;на&nbsp;оплату&nbsp;№&nbsp;<?php echo $this->getPrefix().$this->getOrderNumber() ?>&nbsp;от&nbsp;<?php echo $this->getOrderDate() ?></SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R0>
<TD><span></span></TD>
<TD>&nbsp;</TD>
</TR>
<TR CLASS=R14>
<TD><span></span></TD>
<TD CLASS=R14C1 COLSPAN=32><span></span></TD>
<TD>&nbsp;</TD>
</TR>
<TR CLASS=R14>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD>&nbsp;</TD>
</TR>
<TR CLASS=R16>
<TD><span></span></TD>
<TD CLASS=R16C1 COLSPAN=4><SPAN STYLE="white-space:nowrap">Поставщик:</SPAN></TD>
<TD CLASS=R16C5 COLSPAN=28><?php echo $this->getFullName()?></TD>
<TD></TD>
</TR>
<TR CLASS=R14>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD>&nbsp;</TD>
</TR>
<TR CLASS=R16>
<TD><span></span></TD>
<TD CLASS=R16C1 COLSPAN=4><SPAN STYLE="white-space:nowrap">Покупатель:</SPAN></TD>
<TD CLASS=R16C5 COLSPAN=28><?php echo $this->getCustomerAdress()?></TD>
<TD></TD>
</TR>
<TR CLASS=R14>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD>&nbsp;</TD>
</TR>
</TABLE>
<TABLE width="100%"  CELLSPACING=0>
<COL WIDTH=7>
<COL WIDTH=42>
<COL WIDTH=303>
<COL WIDTH=63>
<COL WIDTH=48>
<COL WIDTH=99>
<COL WIDTH=108>
<TR CLASS=R4>
<TD><span></span></TD>
<TD CLASS=R20C1><SPAN STYLE="white-space:nowrap">№</SPAN></TD>
<TD CLASS=R20C2><SPAN STYLE="white-space:nowrap">Товары&nbsp;(работы,&nbsp;услуги)</SPAN></TD>
<TD CLASS=R20C2><SPAN STYLE="white-space:nowrap">Кол-во</SPAN></TD>
<TD CLASS=R20C2><SPAN STYLE="white-space:nowrap">Ед.</SPAN></TD>
<TD CLASS=R20C2><SPAN STYLE="white-space:nowrap">Цена</SPAN></TD>
<TD CLASS=R20C6><SPAN STYLE="white-space:nowrap">Сумма</SPAN></TD>
<TD></TD>
</TR>
<?php foreach ($this->getAllItems() as $_key => $_value) :?>
<TR CLASS=R21>
<TD><span></span></TD>
<TD CLASS=R21C1><SPAN STYLE="white-space:nowrap"><?php echo ++$_key;?></SPAN></TD>
<TD CLASS=R21C2><?php echo $this->getName($_value);?></TD>
<TD CLASS=R21C3><SPAN STYLE="white-space:nowrap"><?php echo ceil($_value->getQtyOrdered());?>&nbsp;</SPAN></TD>
<TD CLASS=R21C4><SPAN STYLE="white-space:nowrap">&nbsp;шт</SPAN></TD>
<TD CLASS=R21C3><SPAN STYLE="white-space:nowrap"><?php echo $this->formatPrice($this->convertToRub($_value->getRowTotalInclTax() - $_value->getDiscountAmount())/ceil($_value->getQtyOrdered()))?>&nbsp;</SPAN></TD>
<TD CLASS=R21C6><SPAN STYLE="white-space:nowrap"><?php echo $this->formatPrice($this->convertToRub($_value->getRowTotalInclTax() - $_value->getDiscountAmount()))?>&nbsp;</SPAN></TD>
<TD></TD>
</TR>
<?php endforeach;?>
<?php if($this->getShipping() && $this->getConfig()->getAddShippingPrice ()) :?>
<TR CLASS=R21>
<TD><span></span></TD>
<TD CLASS=R21C1><SPAN STYLE="white-space:nowrap"><?php echo ++$_key;?></SPAN></TD>
<TD CLASS=R21C2><?php echo $this->__('ship');?></TD>
<TD CLASS=R21C3><SPAN STYLE="white-space:nowrap">1&nbsp;</SPAN></TD>
<TD CLASS=R21C4><SPAN STYLE="white-space:nowrap">&nbsp;шт</SPAN></TD>
<TD CLASS=R21C3><SPAN STYLE="white-space:nowrap"><?php echo $this->formatPrice($this->getShipping())?>&nbsp;</SPAN></TD>
<TD CLASS=R21C6><SPAN STYLE="white-space:nowrap"><?php echo $this->formatPrice($this->getShipping())?>&nbsp;</SPAN></TD>
<TD></TD>
</TR>
<?php endif;?>
<TR CLASS=R14>
<TD><span></span></TD>
<TD CLASS=R22C1><span></span></TD>
<TD CLASS=R22C1><span></span></TD>
<TD CLASS=R22C1><span></span></TD>
<TD CLASS=R22C1><span></span></TD>
<TD CLASS=R22C1><span></span></TD>
<TD CLASS=R22C1><span></span></TD>
<TD>&nbsp;</TD>
</TR>
<TR CLASS=R4>
<TD CLASS=R23C5 COLSPAN=6><SPAN STYLE="white-space:nowrap">Итого:</SPAN></TD>
<TD CLASS=R23C5><SPAN STYLE="white-space:nowrap"><?php echo $this->getOrderSummRub ().".".$this->getOrderSummKop ();?></SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R4>
<TD CLASS=R23C5 COLSPAN=6><SPAN STYLE="white-space:nowrap"><?php if($this->getTax()):?>В&nbsp;том числе&nbsp;(НДС)<?php else :?>Без&nbsp;налога&nbsp;(НДС)<?php endif;?></SPAN></TD>
<TD CLASS=R23C5><SPAN STYLE="white-space:nowrap"><?php if($this->getTax()): echo $this->getTax(); else :?>-<?php endif;?></SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R4>
<TD CLASS=R23C5 COLSPAN=6><SPAN STYLE="white-space:nowrap">Всего&nbsp;к&nbsp;оплате:</SPAN></TD>
<TD CLASS=R23C5><SPAN STYLE="white-space:nowrap"><?php echo $this->getOrderSummRub ().".".$this->getOrderSummKop ();?></SPAN></TD>
<TD></TD>
</TR>
</TABLE>
<TABLE width="100%" CELLSPACING=0>
<COL WIDTH=7>
<COL WIDTH=21>
<COL WIDTH=21>
<COL WIDTH=21>
<COL WIDTH=21>
<COL WIDTH=21>
<COL WIDTH=21>
<COL WIDTH=21>
<COL WIDTH=21>
<COL WIDTH=21>
<COL WIDTH=21>
<COL WIDTH=21>
<COL WIDTH=21>
<COL WIDTH=21>
<COL WIDTH=21>
<COL WIDTH=21>
<COL WIDTH=21>
<COL WIDTH=21>
<COL WIDTH=21>
<COL WIDTH=21>
<COL WIDTH=21>
<COL WIDTH=21>
<COL WIDTH=21>
<COL WIDTH=21>
<COL WIDTH=21>
<COL WIDTH=21>
<COL WIDTH=21>
<COL WIDTH=21>
<COL WIDTH=21>
<COL WIDTH=21>
<COL WIDTH=21>
<COL WIDTH=21>
<COL WIDTH=19>
<TR CLASS=R4>
<TD><span></span></TD>
<TD CLASS=R26C1 COLSPAN=32><SPAN STYLE="white-space:nowrap">Всего&nbsp;наименований&nbsp;<?php echo $_key;?>,&nbsp;на&nbsp;сумму&nbsp;<?php echo $this->getOrderSummRub ().".".$this->getOrderSummKop ();?>&nbsp;руб.</SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R4>
<TD><span></span></TD>
<TD CLASS=R27C1 COLSPAN=31><?php echo $this->getAmountString(); ?></TD>
<TD><span></span></TD>
<TD></TD>
</TR>
<TR CLASS=R14>
<TD><span></span></TD>
<TD CLASS=R14C1><span></span></TD>
<TD CLASS=R14C1><span></span></TD>
<TD CLASS=R14C1><span></span></TD>
<TD CLASS=R14C1><span></span></TD>
<TD CLASS=R14C1><span></span></TD>
<TD CLASS=R14C1><span></span></TD>
<TD CLASS=R14C1><span></span></TD>
<TD CLASS=R14C1><span></span></TD>
<TD CLASS=R14C1><span></span></TD>
<TD CLASS=R14C1><span></span></TD>
<TD CLASS=R14C1><span></span></TD>
<TD CLASS=R14C1><span></span></TD>
<TD CLASS=R14C1><span></span></TD>
<TD CLASS=R14C1><span></span></TD>
<TD CLASS=R14C1><span></span></TD>
<TD CLASS=R14C1><span></span></TD>
<TD CLASS=R14C1><span></span></TD>
<TD CLASS=R14C1><span></span></TD>
<TD CLASS=R14C1><span></span></TD>
<TD CLASS=R14C1><span></span></TD>
<TD CLASS=R14C1><span></span></TD>
<TD CLASS=R14C1><span></span></TD>
<TD CLASS=R14C1><span></span></TD>
<TD CLASS=R14C1><span></span></TD>
<TD CLASS=R14C1><span></span></TD>
<TD CLASS=R14C1><span></span></TD>
<TD CLASS=R14C1><span></span></TD>
<TD CLASS=R14C1><span></span></TD>
<TD CLASS=R14C1><span></span></TD>
<TD CLASS=R14C1><span></span></TD>
<TD CLASS=R14C1><span></span></TD>
<TD CLASS=R14C1><span></span></TD>
<TD>&nbsp;</TD>
</TR>
<TR>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD>&nbsp;</TD>
</TR>
<TR CLASS=R4>
<TD><span></span></TD>
<TD CLASS=R30C1 COLSPAN=5><SPAN STYLE="white-space:nowrap">Руководитель</SPAN></TD>
<TD CLASS=R30C6><span></span></TD>
<TD CLASS=R30C6><span></span></TD>
<TD CLASS=R30C6><span></span></TD>
<TD CLASS=R30C6><span></span></TD>
<TD CLASS=R30C10 COLSPAN=9><SPAN STYLE="white-space:nowrap"><?php echo $this->getConfig()->getDirektor () ?></SPAN></TD>
<TD><span></span></TD>
<TD CLASS=R30C1 COLSPAN=4><SPAN STYLE="white-space:nowrap">Бухгалтер</SPAN></TD>
<TD CLASS=R30C6><span></span></TD>
<TD CLASS=R30C6><span></span></TD>
<TD CLASS=R30C6><span></span></TD>
<TD CLASS=R30C10 COLSPAN=6><span><?php echo $this->getConfig()->getBuch () ?></span></TD>
<TD></TD>
</TR>
</TABLE>
<br>
<br>
<TABLE CLASS="DESK" width="100%">
<TR>
<TD>
<?php echo $this->getConfig()->getDesk ()?>
</TD>
</TR>
</TABLE>
</BODY>
</HTML>