<?php echo $this->getChildHtml('items_before'); ?>
<div id="checkout-review-table-wrapper">
	<div class="block-header">Вы заказали</div>
	<table class="data-table" id="checkout-review-table">
		<thead>
			<tr>
				<th style="padding-right:50px;">Наименование товара</th>
				<th style="width:60px; padding-right:50px;">Количество</th>
				<th style="width:150px">Стоимость</th>
			</tr>
		</thead>
		<?php echo $this->getChildHtml('totals'); ?>
		<?php $total=Mage::getSingleton('checkout/cart')->getQuote()->getGrandTotal();
		?>
		<tbody>
		<?php $GaItems='';?>
		<?php foreach($this->getItems() as $_item): ?>
			<?php echo $this->getItemHtml($_item);
				$GaItems.="
				  _gaq.push(['_addItem',
					'".Mage::getSingleton('checkout/session')->getQuoteId()."',                // Сюда нужно подставить ID транзакции (совпадает с ID в методе _gaq.push(['_addTrans',))
					'".$_item->getProduct()->getSku()."',               // Сюда подставляем внутренний артикул товара в мазазине*
					'".$_item->getProduct()->getName()."',         // Наименование товара*
					'',          // Категория товара. Этот параметр необязателен, но желателен. 
					'".$_item->getProduct()->getFinalPrice(1)."',        // Цена единицы товара*
					'".$_item->getQty()."'           // Количество единиц товара*
				  ]);
				";
			?>
		<?php endforeach ?>
		</tbody>
	</table>
</div>
<?php echo $this->getChildHtml('items_after'); ?>
<script type="text/javascript">
//<![CDATA[
    decorateTable('checkout-review-table');
    truncateOptions();
//]]>
</script>
<div id="checkout-review-submit">
    <?php echo $this->getChildHtml('agreements') ?>
    <div class="buttons-set" id="review-buttons-container">
			<?php echo $this->getChildHtml('button') ?>
			<span class="please-wait" id="review-please-wait" style="display:none;">
					<img src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>" alt="<?php echo $this->__('Submitting order information...') ?>" title="<?php echo $this->__('Submitting order information...') ?>" class="v-middle" /> <?php echo $this->__('Submitting order information...') ?>
			</span>
    </div>
    <script type="text/javascript">
    //<![CDATA[
        review = new Review('<?php echo $this->getUrl('checkout/onepage/saveOrder') ?>', '<?php echo $this->getUrl('checkout/onepage/success') ?>', $('checkout-agreements'));
    //]]>
    </script>
</div>
<?php
/*Adding GA*/
$GaCode = "";
$GaCode .= "

<script type='text/javascript'>

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-27639858-1']);
  _gaq.push(['_trackPageview']);
 
  _gaq.push(['_addTrans',
    '".Mage::getSingleton('checkout/session')->getQuoteId()."',                // Сюда нужно подставить ID транзакции*
    'vmashin.ru',          // Название магазина
    '".$total."', // Итоговая стоимость заказа*
    '',                   // Оставляем пустым
    '',                   // 
    'Москва',              // Город, откуда осуществляется заказ
    '',                   // Оставляем пустым
    ''                    // Оставляем пустым
  ]);";
$GaCode .=$GaItems;
$GaCode .= " 
  _gaq.push(['_trackTrans']); //Отправка данных в GA

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
";
Mage::getSingleton('core/session')->setGaCode($GaCode);

?>