<?php $_item = $this->getItem()?>
<tr>
	<td>
		<span class="catalogue-product-name"><?php echo $this->htmlEscape($this->getProductName()) ?></span>
	</td>
	
 <td style="width:60px; padding-right:50px;">
	<?php echo $_item->getQty() ?>
	</td>
	
	<td style="width:150px">
		<div class="price-box">
			<span class="regular-price">
				<?php echo $_item->getRowTotal() ?> <span class="currency">руб.</span>
			</span>					
		</div>
	</td>

</tr>
