<form id="search_mini_form" action="<?php echo $this->helper('catalogsearch')->getResultUrl() ?>" method="get">
    <input id="search" type="text" class="input-text" name="<?php echo $this->helper('catalogsearch')->getQueryParamName() ?>" value="<?php echo $this->helper('catalogsearch')->getEscapedQueryText() ?>" maxlength="128" autocomplete="off"><button type="submit" class="button btn-blue">Искать</button>
    <input type="hidden" name="order" value="relevance">
    <input type="hidden" name="dir" value="desc">
</form>
<div class="search-example">Например: <span style="text-decoration: underline;"><span style="font-style: italic">KYOSHO</span></span></div>
<script type="text/javascript">
//<![CDATA[
		var searchForm = new Varien.searchForm('search_mini_form', 'search', 'Что ищем?');
//]]>
</script>
