@charset "utf-8";
html {height:100%;}
body {
    min-height:100%;
    margin:0;
    font:13px/18px Arial, Helvetica, sans-serif;
    color:#333;
}
.left{
    float: left;
}

a:active, a:focus { 
outline: 0 
} 
.block-layered-nav {display:none;}
label {
	display:inline-block;
	vertical-align:middle;
}

a {color:#0082a9;}
img {outline:0 none; border:0 none;}
input, textarea, .button, select, .page, table, .gocart > a {
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}
input, textarea, .button, select, .page {vertical-align:top}
input, textarea {
	font:inherit;
	font-size:14px;
	color:#666;
	margin:0;
}
input[type="checkbox"],
input[type="radio"] {vertical-align:middle}
input::-moz-focus-inner, button::-moz-focus-inner {border:0 none; padding:0}
.input-text {
	display:inline-block;
	border:1px solid #c2c2c2;
	border-radius:3px;
	padding:5px 16px;
	height:32px;
}
.input-text:focus {
	outline:0 none;
	border-color:#b63333;
}
.page, .gocart > a {
	display:inline-block;
	border:1px solid #b63333;
	border-radius:15px;
	background-color:#cb4442;
	background-image: -ms-linear-gradient(top, #E85A54 0%, #BE3A3A 100%);
	background-image: -moz-linear-gradient(top, #E85A54 0%, #BE3A3A 100%);
	background-image: -o-linear-gradient(top, #E85A54 0%, #BE3A3A 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #E85A54), color-stop(1, #BE3A3A));
	background-image: -webkit-linear-gradient(top, #E85A54 0%, #BE3A3A 100%);
	background-image: linear-gradient(top, #E85A54 0%, #BE3A3A 100%);
	padding:6px 15px;
	margin:0 6px;
	height:32px;
	box-shadow:0 1px 0 rgba(255,255,255,.2) inset;
	font:inherit;
	font-size:15px;
	color:#fff;
	text-shadow:1px 1px 0 #a03534;
	text-decoration:none;
	cursor:pointer;
}
/*#search_mini_form .button{
	font-size:14px;
	padding:6px 17px;
	border:1px solid #056b8a;
	background-color:#149fc9;
	background-image: -ms-linear-gradient(top, #52bddd 0%, #0082a9 100%);
	background-image: -moz-linear-gradient(top, #52bddd 0%, #0082a9 100%);
	background-image: -o-linear-gradient(top, #52bddd 0%, #0082a9 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #52bddd), color-stop(1, #0082a9));
	background-image: -webkit-linear-gradient(top, #52bddd 0%, #0082a9 100%);
	background-image: linear-gradient(top, #52bddd 0%, #0082a9 100%);
		text-shadow:1px 1px 0 #07617d;
}*/
.pagination .page{
	border:1px solid #056b8a;
	background-color:#149fc9;
	background-image: -ms-linear-gradient(top, #52bddd 0%, #0082a9 100%);
	background-image: -moz-linear-gradient(top, #52bddd 0%, #0082a9 100%);
	background-image: -o-linear-gradient(top, #52bddd 0%, #0082a9 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #52bddd), color-stop(1, #0082a9));
	background-image: -webkit-linear-gradient(top, #52bddd 0%, #0082a9 100%);
	background-image: linear-gradient(top, #52bddd 0%, #0082a9 100%);
		text-shadow:1px 1px 0 #07617d;
}
.button:hover, .page:hover {
background-color:#e63837;
	background-image: -ms-linear-gradient(top, #F34743 0%, #DD2D2E 100%);
	background-image: -moz-linear-gradient(top, #F34743 0%, #DD2D2E 100%);
	background-image: -o-linear-gradient(top, #F34743 0%, #DD2D2E 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F34743), color-stop(1, #DD2D2E));
	background-image: -webkit-linear-gradient(top, #F34743 0%, #DD2D2E 100%);
	background-image: linear-gradient(top, #F34743 0%, #DD2D2E 100%);
}

.pagination .page:hover {
	background-color:#25bae7;
	background-image: -ms-linear-gradient(top, #51cff5 0%, #2eb2d9 100%);
	background-image: -moz-linear-gradient(top, #51cff5 0%, #2eb2d9 100%);
	background-image: -o-linear-gradient(top, #51cff5 0%, #2eb2d9 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #51cff5), color-stop(1, #2eb2d9));
	background-image: -webkit-linear-gradient(top, #51cff5 0%, #2eb2d9 100%);
	background-image: linear-gradient(top, #51cff5 0%, #2eb2d9 100%);
	
}
.button:active, .page:active {
	background-color:#d44b47;
	background-image: -ms-linear-gradient(top, #BF3B3B 0%, #E75953 100%);
	background-image: -moz-linear-gradient(top, #BF3B3B 0%, #E75953 100%);
	background-image: -o-linear-gradient(top, #BF3B3B 0%, #E75953 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #BF3B3B), color-stop(1, #E75953));
	background-image: -webkit-linear-gradient(top, #BF3B3B 0%, #E75953 100%);
	background-image: linear-gradient(top, #BF3B3B 0%, #E75953 100%);
}
.block-header, h1 {
	font-size:24px;
	line-height:36px;
	color:#333;
	font-weight:400;
	margin:0;
	padding:0;
}

.category-title h1 {float:left; position: relative;
width: 100%;}

h2 {
	font-size:17px;
	font-weight:400;
}

.add-margin{
    margin: 0 6px;
}

.top-red-row {
	height:7px;
	background-color:#BE3A3A;
	background-image: -ms-linear-gradient(top left, #BE3A3A 0%, #E85A54 100%);
	background-image: -moz-linear-gradient(top left, #BE3A3A 0%, #E85A54 100%);
	background-image: -o-linear-gradient(top left, #BE3A3A 0%, #E85A54 100%);
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #BE3A3A), color-stop(1, #E85A54));
	background-image: -webkit-linear-gradient(top left, #BE3A3A 0%, #E85A54 100%);
	background-image: linear-gradient(top left, #BE3A3A 0%, #E85A54 100%);
}
.top-white-row {
	background-color:#fff;
	height:3px;
}
.top-grey-row {
	height:40px;
	background-image: -ms-linear-gradient(top, #EEEEEE 0%, #FEFEFE 100%);
	background-image: -moz-linear-gradient(top, #EEEEEE 0%, #FEFEFE 100%);
	background-image: -o-linear-gradient(top, #EEEEEE 0%, #FEFEFE 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #EEEEEE), color-stop(1, #FEFEFE));
	background-image: -webkit-linear-gradient(top, #EEEEEE 0%, #FEFEFE 100%);
	background-image: linear-gradient(top, #EEEEEE 0%, #FEFEFE 100%);
}
#header {
	width:990px; 
	margin:-38px auto 10px;
}
#header > .left-wrapper,
#header > .right-wrapper {
	display:inline-block;
	vertical-align:top;
}
#header > .left-wrapper, #float_header .left-wrapper {
	width:231px;
}
#header > .right-wrapper {
	margin-left:22px;
	width:737px;
}
.trade-mark {
float: left;
height: 0;
width: 0;
overflow: hidden;
margin-top: 6px;
padding: 116px 185px 0 0;
background: url(../images/trade-mark.png) scroll no-repeat center center;
}

.f-slogan {
	color:#909090;
	margin-top: 115px;
	font-size: 13px;
}
.contacts,
#header > .right-wrapper > .right-wrapper {
	display:inline-block;
	vertical-align:top;
}
.contacts {width:230px}
#header > .right-wrapper > .right-wrapper {
	width:506px;
}
.phones-title {
	color:#909090;
}
.phone {
	font-size:23px;
	line-height:26px;
	font-family:Calibri, sans-serif;
	color:#6d6d6d;
	padding-left:26px;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAkRJREFUeNp8VEuoUlEU3V6v38LkkaKYgg7EggbSICc6CBIhCYwQJ02aNbFh8GZ9xoFCIwdRg2gQPgoKwlmgg3iTIEMHojxw8ApF85N/W/virfuuVw8s9vnss/Y5a+9zdLlcjnY0B3ATOL8Zd4ES0Fc6ZbNZyYoaBFeAZ0BKY22p0+lerdfrx+ifKBcEleM94FgmsVqtEgwGg7yuB8l9kH3D3I1dRLeAl4CFB263m9LpNAUCAXI6nWeigcw+n88/2my262qiC8BrjiiJ43BQMpkks9lMiE5Go1FLQ/NoNHrTbDatSqKHwIHswdfR6/W0XC6p2+1K0GpYD5TL5QdKortKh8lkItlarUbtdpv6/f6uzNJwOEzC2JiIz31Vudjr9STL+vDJ9rXFYnEZ5pywqZczbTqdSmQWi4V8Pt9eotVqdRHGxERDLYdGoyHZUCi0lwjJ4P2isKnUE7VDtVrlaOT1eiXxN5u2iERR/MG6y2K/UzuMx2Oq1+skCAJFIhEKBoOUSCS2yFBLn2BmMtFzYKQmq1QqklZMEo1GCTVD4XD4fzULwmksFvuA7kAmamPykZoI1UulUkmqJ34mfr+fWq3WvzLyeDyHuPpv1llUqP/CZDIdIGNPlGSdTocKhcJWDDybw1Qq9QX9n7xdUKX9qd1uv4Paqe/KEsQ9RibTmUzmCMNTllPzG4EmR/hjPheLxduDweDabDa7xPM4bdPlcn2Nx+PfufiBX/l8frrvPyI4cJS3cHrPjxOQ/5EZ8IcJ1Hv+CjAAj1vHG7kPtUsAAAAASUVORK5CYII=) scroll no-repeat left center;
	margin:10px 0;
}
.intercity-phone{
    background-color: rgb(231,89,83);
    background-position: 2px;
    color: #fff;
    border-radius: 5px;
    width: 168px;
}
.add_phone{
    float: left;
}
.worktime {
	font-size:12px;
	color:#909090;
	background: url(data:image/gif;base64,R0lGODlhCQAJAIABAJCQkP///yH5BAEAAAEALAAAAAAJAAkAAAIRTIBoZ9D8motnVrmyys/StBUAOw==) scroll no-repeat left center;
	padding-left:16px;
    margin-top: 14px;
}
.freecall{
	font-size:12px;
	color:#909090;
    padding-left: 26px;
}
.callmeback {
	display:inline-block;
	font-size:14px;
	margin:19px 0 0 26px;
}
.callmeback-button{
    margin: 6px 0 0 26px;
    display: inline-block;
}
#callmeback-container{
    width: 350px;
    height: 420px;
    margin-left: -175px;
    margin-top: -210px;
    padding: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 99999;
    display:none;
}

#callmeback-container form{
    background: none repeat scroll 0 0 #f7f7f7;
    border: 1px solid #e4e5e5;
    margin: 40px 0 10px;
    padding: 12px 20px;    
}
#callmeback-container h3, #callmeback-container h4{
    font-size: 13px;
    font-weight: normal;
    margin: 0 0 5px;
}
#callmeback-container h3 span{
    font-weight: bold;
}
#callmeback-container .it1{
    width: 100% !important;
}
#callmeback-popup-overlay{
    background-color: #000 !important;
    opacity: 0.8 !important;
}
.search-mini-form, .sign-in, .sign-out {
	display:inline-block;
	vertical-align:top;
}
.sign-in, .sign-out{
float:right;
margin-top:5px;
width:219px;
}
.search-mini-form {
width:282px;
clear:both;
float:left;
margin: 5px 0 0 2px;
}
#search {
	width:188px;
	background-repeat: no-repeat;
	background-position: 165px 8px;
	background-image: url(data:image/gif;base64,R0lGODlhCgALANUiAISEhJeXl+Tk5PDw8MzMzMrKyoiIiIWFhYeHh+Hh4ejo6NjY2IGBgdLS0qOjo+3t7cTExM3NzYqKisbGxri4uN/f34KCgpaWlpmZmZqamtPT09XV1ZCQkL29vY6Oju7u7uvr66Kiov///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAACIALAAAAAAKAAsAAAZGQJFo0NAMhMgOIIOxQJAFiUIoQCyElwhSNAkIAVNkwiDkNLYFr4jgOYoehgKScnCEDghABQkiED4LDAAJW0gbDGqFIgICQQA7);
	padding-right:22px;
}
.search-example {
	background-repeat: no-repeat;
	background-position: 3px center;
	background-image: url(data:image/gif;base64,R0lGODlhCwAKAIABAJCQkP///yH5BAEAAAEALAAAAAALAAoAAAIVDI5owd3nIowP0HqZTXq6nRlWOAYFADs=);
	padding-left:22px;
	margin:6px 0;
	font-size:11px;
	color:#909090;
}
.search-example a{
    color: #909090;
}
.search-example a:hover{
    color: #0082a9;
}
.sign-in-link, .reg-link, .my-profile {
	display:inline-block;
	vertical-align:top;
}
.sign-in-link, .reg-link > .text, .my-profile > span {
	display:inline-block;
	vertical-align:top;
	text-decoration:none;
	font-size:13px;
	line-height:19px;
	border-bottom:1px dashed #0082a9;
	margin:6px;
}
.sign-in-link {margin:6px 11px}
.sign-out-link {
	display:inline-block;
	vertical-align:top;
	text-decoration:none;
	font-size:14px;
	line-height:19px;
	border-bottom:1px dashed #0082a9;
	margin:6px;
}
.sign-out-link {margin:6px 12px}
.reg-link, .my-profile {
	padding:0 4px 2px;
}
.mod-cart {
	display:table;
	width:207px;
	float:right;
	margin-top: 5px;	
	border-radius:0 9px 0 9px;
	-moz-border-radius:0 9px 0 9px;
	-webkit-border-radius:0 9px 0 9px;	
	border: 1px solid #dadada;
}
.mod-cart-info, .mod-cart-acts {
	display:table-cell;
	vertical-align:middle;
}
.h-c{
margin: -15px 22px 0 0;
}
.mod-cart-info {
display: block;   
position:relative;
color: #666;
font-size: 11px;
line-height: 24px;
width: 153px;
padding: 16px 16px 20px 38px;
background-repeat: no-repeat;
background-position: 6px 16px;
background-image: url(../images/cart_head.png);
background-color: #F9F9F9;
	border-radius:0 9px 0 9px;
	-moz-border-radius:0 9px 0 9px;
	-webkit-border-radius:0 9px 0 9px;	
}
.mod-cart-info > u {
	color:#0082a9;
	font-size:14px;
        text-decoration: none;
}
.mod-cart-info > .button {
    background: url("images/button-new1.png") no-repeat scroll top left rgba(0, 0, 0, 0);    
    background-size: 100% 100%;
    position: absolute;
    line-height: 13px;
    bottom: -16px;
    left: 35px;
    width: 150px;
}
.mod-cart-info > .button:hover{
    background: url("images/button-new1.png") no-repeat scroll top left rgba(0, 0, 0, 0);
    background-size: 100% 100%;
}

.mod-cart-acts {
	text-align:center;
	background:#f9f9f9;
	border-left:1px solid #eae4e4;
	border-radius: 9px;
	border-bottom-right-radius:0;
}
.top-menubar,
.top-menu {
	border-bottom-left-radius:9px;
	border-bottom-right-radius:9px;
}
.top-menu > .first, .top-menu > .first > a {border-bottom-left-radius:9px;}
.top-menu > .last, .top-menu > .last > a {border-bottom-right-radius:9px;}
.top-menubar {
	margin-top:10px;
	background-image: -ms-linear-gradient(top, #FFFFFF 0%, #FFFFFF 75%, #F0F0F0 90%, #FDFDFD 100%);
	background-image: -moz-linear-gradient(top, #FFFFFF 0%, #FFFFFF 75%, #F0F0F0 90%, #FDFDFD 100%);
	background-image: -o-linear-gradient(top, #FFFFFF 0%, #FFFFFF 75%, #F0F0F0 90%, #FDFDFD 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(0.75, #FFFFFF), color-stop(.9, #F0F0F0), color-stop(1, #FDFDFD));
	background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #FFFFFF 75%, #F0F0F0 90%, #FDFDFD 100%);
	background-image: linear-gradient(top, #FFFFFF 0%, #FFFFFF 75%, #F0F0F0 90%, #FDFDFD 100%);
	border:1px solid #e4e5e7;
	box-shadow:0 2px 2px rgba(0,0,0,.09);
}
.top-menu {
	background-repeat:repeat;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAM1JREFUeNpMUNkOgzAMS8tA3IjzR/j/H0LikEDcx+ZM6eaXpJFrO1HXddVKKWrbloqioKZpqCxLwuwfelkWHoI0zzP5vk/jOPJHQdd1pM/z5AZ4nofCMOQ+z3OCCJBlGb2SJDE/932nIAgM2fM8Vr7vm/Q0TTxETdOU+77vua7ryi6c+dPUGCIXYsRxbByO42D7bdt+RLEehoGqqjJE27a/W+MhcByHSVAHhAQBDQXJIypRFPECcg0IaMuyOIfrunxsqCCT1poXkcXeAgwAHPaAhDiJb6wAAAAASUVORK5CYII=);
	display:table;
	width:100%;
	list-style:none;
	margin:0;
	padding:0;
	text-align:center;
	font-size:14px;
	text-shadow:1px 1px 0 #fff;
}
.top-menu > li {
	display:table-cell;
	vertical-align:middle;
	border-width:0 1px;
	border-style:solid;
	border-color:transparent #e4e5e7 transparent #fff;
}
.top-menu > .first {border-left:0 none}
.top-menu > .last {border-right:0 none}
.top-menu > li > a {display:block; padding:15px 22px 17px}
.top-menu > li > a:hover {background:#f3f3f3; background:rgba(0,0,0,.05)}



#footer-outer {
	border-top:1px solid #e5edef;
	box-shadow:0 1px 0 rgba(255,255,255,1) inset;
	background:#f7f7f7;
}
#footer {
	display:table;
	width:990px;
	margin:0 auto;
	padding:30px 0;
}
.nav-cell, .contacts-cell, .cat-cell, .menu-cell {display:table-cell; vertical-align:top;} 
.nav-cell, .contacts-cell, .cat-cell {width:252px}



#section-wrapper {
        display:block;
//	background-repeat: repeat-x;
//	background-position: center bottom;
//	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAB9CAYAAABj9QkzAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADNJREFUeNpi/v//fzETAwMDL4hgGCUIEsAAI0cWIYFNCRFiJCkhXS8R2og1BZ/EZ4AAAwDSnzg5c6ncpwAAAABJRU5ErkJggg==);
	padding-bottom:125px;
        margin: auto;
        
}
#section {
	display:block;
	width:990px;
	margin:0 auto;
}
#left, #center {
vertical-align:top;
}
#left {
    float: right;
    width:231px;
    padding-right:23px;
}
#center{
    width:736px;
    float: right;
}
.nav-container ul {
	margin:0;
	padding:0;
	list-style:none;
}
#nav {
	font-size:14px;
}
#nav li {
	padding:0 0 0 20px
}
#nav > li {
	background-repeat: no-repeat;
	background-position: left 13px;
	background-image: url(data:image/gif;base64,R0lGODlhCQAHAIABAACCqf///yH5BAEAAAEALAAAAAAJAAcAAAINBBKGqHnbGnuR2ondKgA7);
	line-height:36px;
}
.parent > ul {display:none;}
.active.parent > ul {display:block;}
#nav > .active {
	background-image: url(data:image/gif;base64,R0lGODlhBwAJAIABAONWUf///yH5BAEAAAEALAAAAAAHAAkAAAIORH6guG25wptRGsdqQgUAOw==);
}
#nav .active > a {color:#e35651}
#nav ul > li {
	background-repeat: no-repeat;
	background-position: left 11px;
	background-image: url(data:image/gif;base64,R0lGODlhBQAHAIABAACCqf///yH5BAEAAAEALAAAAAAFAAcAAAIKBIJhqZfbEIShAAA7);
	line-height:30px;
	z-index:10;
}
#nav > li > ul > .active {
	background-image: url(data:image/gif;base64,R0lGODlhBQAHAIABAONWUf///yH5BAEAAAEALAAAAAAFAAcAAAIKBIJhqZfbEIShAAA7);
}
#nav > li > ul > li > a {
	color:#83919d;
}
#bestseller-slideshow {
	position:relative;
}
#bestseller-slideshow > .navi {
	position:absolute;
	z-index:333;
	bottom:10px;
	right:14px;
}
.navi > a {
	display:inline-block;
	width:12px;
	height:12px;
	border:1px solid #dadada;
	border-radius:7px;
	text-decoration:none;
}
.navi > .active {
	background-color:#D9DDE7;
	background-image: -ms-linear-gradient(top, #E9EEF3 0%, #D9DDE7 100%);
	background-image: -moz-linear-gradient(top, #E9EEF3 0%, #D9DDE7 100%);
	background-image: -o-linear-gradient(top, #E9EEF3 0%, #D9DDE7 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #E9EEF3), color-stop(1, #D9DDE7));
	background-image: -webkit-linear-gradient(top, #E9EEF3 0%, #D9DDE7 100%);
	background-image: linear-gradient(top, #E9EEF3 0%, #D9DDE7 100%);
	box-shadow:0 1px 0 #fff inset;
}
#slider {
	margin:30px 0;
	border:1px solid #eae4e4;
	border-bottom-left-radius:9px;
	border-top-right-radius:9px;
	height:290px!important;
}
#slider > a > img {
	display:block;
	margin:50px 0 35px;
}
#promo-wrapper {
	
}
.tabs {
	list-style:none;
	margin:20px 0 40px;
	padding:0;
}
.tab {
	position:relative;
	display:inline-block;
	font-size:24px;
	line-height:24px;
	border:1px solid transparent;
	border-radius:6px;
}
.tab > a {
	display:block;
	margin:9px 20px;
	color:#0082a9;
	border-bottom:1px dashed #0082a9;
	text-decoration:none;
}
.tab > span {
	display:none;
	width:14px;
	height:12px;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAMCAYAAABSgIzaAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAARFJREFUeNqMkT9Lw1AUxZObjg79Iu6O/Q71qzi4uYrgINitQ7du3cRRcBUHlyIiIiI6BNL8e0/avDx/FyzEkJQGTt67957DObkJ8yTxB8NhsO9TrFaBLctAjDGxyfO9RMpTvouiOwm9PyyzzFbr9U6RzuFtapEXynvh9Q1O1H7Xo3NEr1xjcCV//esfYx5NUXRHpG+tTXwYqskkci6Wxvy4TNONq6p/Iq3pO9yeKR8Q3Wq/KXwDZ7blqjVOOkvA5bYvrVTnfMtyK9aTLaa4fVJOcfvqEzowLjSacwFnjZtGfAKLJlE6drHUSPrPEL2DjPoCt7pJGvRs/5SIR0T03GeIPtoE6RHqFkecN2DeRfgVYACAHaF5Q8cgeAAAAABJRU5ErkJggg==) scroll no-repeat 0 0;
	position:absolute;
	left:50%;
	bottom:0;
	margin:0 0 -12px -7px;
}
.ui-state-active.tab {
	border-color:#eae4e4;
	box-shadow:1px 1px 2px rgba(231,231,231,.75);
}
.ui-state-active.tab > a {
	margin:0;
	padding:9px 20px;
	color:#000;
	border:0 none;
}
.ui-state-active.tab > span {
	display:block;
}
.pane {
	width:737px;
//	overflow:hidden;
}
.ui-tabs-hide {display:none}

.category-products {
	position:relative;
	clear:both;
}
.catalogue-grid-view {text-align:justify}
.catalogue-grid-view:after {
	content:"";
	display:inline-block;
	width:100%;
}
.catalogue-product-cell {
	position:relative;
	display:inline-block; 
	vertical-align:top; 
	width:230px;
	height:321px;
	text-align:left;
	margin:30px 0 10px;
}
.catalogue-product-cell:hover {
        opacity: 0.8; /* FF, Opera, Safari, Chrome */
        filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80); /* IE7 */
        -ms-filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80); /* IE8, хотя несмотря на заверения майкрософт вроде как и предыдущий вариант*/
}

/* short description for items in catalog
.catalogue-product-cell:hover .outline-container{
}
*/
.catalogue-product-image {
	display:block;
	width:230px;
	height:180px;
	position:relative;
	overflow:hidden;
}
.catalogue-product-image > img {
	display:block;
	margin:0 auto;
	position:absolute;
	bottom:0;
}
.catalogue-product-name {
	display:block;
	font-size:14px;
	line-height:21px;
	height:63px;
	overflow:hidden;
        padding-left: 2px;
        padding-right: 2px;
}
.availability{
    padding-left: 2px;
}
.catalog-review-summary{
    position: relative;
    margin-bottom: -25px;
    margin-left: 2px;
    z-index: 1;
}
/* short description for items in catalog
.catalogue-product-cell:hover .catalog-review-summary{
    position: relative;
    margin-bottom: 0;
}
*/
.catalog-review-summary .ratings{
    margin-left: 2px;
}
.catalogue-product-cell  .description-catalogue-product-cell{
	display:none;
}
/* short description for items in catalog
.catalogue-product-cell:hover .description-catalogue-product-cell{
	display:block;
}
*/
.description-catalogue-product-cell{
    background-color: #fff;
}
.description-catalogue-product-cell table{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 11px;
}
.description-catalogue-product-cell td, .description-catalogue-product-cell th{
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: left;
    
}
.price-catalogue-product-cell{
    vertical-align: bottom;
    height:57px;
    position:relative;
    background-color: #fff;
}
/*  short description for items in catalog
.catalogue-product-cell:hover > .price-catalogue-product-cell{
    height:55px;
    position:relative;
    z-index: 200;
}
*/
.price-catalogue-product-cell > .up{
    width:100%;
    height:27px;
}
.up > .btn-buy, .right-buy > .btn-buy-credit {
	position:absolute;
	right:0;
	display:block;
    margin-right: 3px;
}
.up > .ajax_loader{
    position:absolute;
    right:115px;
}
.catalogue-product-cell > .down{
    width:100%; 
}
/*
.down > .left-price{
    vertical-align: bottom;
    bottom:0;
    left:0;
    width:100%;
    height:100%;
   // position: absolute;
}
*/
.price-box{
    padding-top: 5px;
    padding-left: 2px;
//    text-align: right;
}
 #shopping-cart-table .price-box{
    text-align: right;
}
.down > .right-buy{
    vertical-align: bottom;
    bottom:0;
    right:0;
    width:100%;
    height:100%;
    position:absolute;
}
.availability,
.add-to-compare {
	display:inline-block;
	vertical-align:top;
	font-size:11px;
	line-height:11px;
	margin-top:4px;
}
.availability {color:#666;}
.product_availability{
    font-size: 20px;
    font-weight: bold;
}
.add-to-compare {float:right;}
.catalogue-product-cell > .price-box {
	position:absolute;
	bottom:0;
	left:0;
        margin-top: 3px;
}
.discount-price {
	display:block;
	font-size:13px;
	line-height:13px;
	margin-bottom:4px;
	
}
.regular-price, .regular-price > .currency {
	color:#333;
	font-size:22px;
	line-height:22px;
}

.regular-price > .currency {
	font-size:14px;
}

.pagination {
	display:inline-block;
	vertical-align:top;
}
.page {
	font-size:13px;
	line-height:30px;
	padding:0;
	text-align:center;
	width:32px;
	height:32px;
}
.current.page, .current.page:hover, .current.page:active {
	color:#727272;
	border-color:#eae4e4;
	background-image:none;
	background-color:#f9f9f9;
	text-shadow:none;
}
.page-next, .page-previuos {
	display:inline-block;
	width:35px;
	height:32px;
	line-height:30px;
	background-repeat: no-repeat;
	background-position: center center;
	text-decoration:none;
}
.page-next {
	background-image: url(data:image/gif;base64,R0lGODlhIwALAMQfAACCqfn8/V2wyPz+/ur1+PP5+waFq4TD1vb7/DCauZnN3eTy9s/n79vt81etxm+4zhKLr6LR4Mnl7Q+JriqXtzacuxiOscPi6zyfvXW70KjU4nu+0gODqpzO3i2YuP///yH5BAEAAB8ALAAAAAAjAAsAAAVI4CeOZGl+BXOubEth2tDOrQIA1kHQPFlMN4BBIOn1HsFgJRL4JJ/QqDQoaBpXjick07iyFpxgooPwtjZCwcU8C3h0bBpC1goBADs=);
}
.page-previuos {
	background-image: url(data:image/gif;base64,R0lGODlhIwALAMQfAACCqfn8/V2wyPz+/ur1+PP5+waFq4TD1vb7/DCauZnN3eTy9s/n79vt81etxm+4zhKLr6LR4Mnl7Q+JriqXtzacuxiOscPi6zyfvXW70KjU4nu+0gODqpzO3i2YuP///yH5BAEAAB8ALAAAAAAjAAsAAAVH4CeO5DcgZaquJXF4ASvLl2AA26yTSJcAQM5ip2tkIMCkgygLCJLQqHRK/QQiFemDuZPYkpMCd+eyABVj4kCDoaS5DPFbFAIAOw==);
}

.header, .footer {
	position:relative;
}
.toolbar-wrapper {position:relative; min-height:40px; margin-top:20px;}
.toolbar {
	display:inline-block;
	vertical-align:top;
	position:absolute;
	right:0;
	background:#f9f9f9;
	border:1px solid #eae4e4;
	border-radius:7px;
	padding:9px 16px;
	top: 0;
}
.limiter-wrapper, .sorter-wrapper {display:inline-block;}
.sorter-wrapper {margin-left:12px;}
.limiter-wrapper > label,
.sorter-wrapper > label {
	font-size:12px;
	color:#727272;
}
.limiter-wrapper > label > .label,
.sorter-wrapper > label > .label {
	line-height:20px;
	display:inline-block;
	margin-right:8px;
	text-shadow:1px 1px 1px rgba(255,255,255,.5);
}
.limiter-wrapper > label > select,
.sorter-wrapper > label > select {
	height:20px;
	font:inherit;
	color:inherit;
}
.limiter-wrapper > label > select {
	width:44px;
}
.sorter-wrapper > label > select {
	width:86px;
}
.sort-asc, .sort-desc {
	display:inline-block;
	width:7px;
	height:10px;
	background-repeat: no-repeat;
	background-position: center center;
	margin-left:6px;
	text-decoration:none;
        margin-bottom: 6px;
}
/*.sort-asc {background-image: url(data:image/gif;base64,R0lGODlhBwAKAIABAN5STv///yH5BAEAAAEALAAAAAAHAAoAAAIPjGEJq8sf3Jk0RVsVvqYAADs=);}*/
/*.sort-desc {background-image: url(data:image/gif;base64,R0lGODlhBwAKAIABAN5STv///yH5BAEAAAEALAAAAAAHAAoAAAIPjGEZqNveGGSgOltz0koWADs=);}*/

.breadcrumbs {
	list-style:none;
	margin:8px 0 6px;
	padding:0;
}
.breadcrumbs > li {
	display:inline-block;
	font-size:12px;
}
.breadcrumbs > li > span {
	display:inline-block;
	vertical-align:middle;
	width:7px;
	height:5px;
	margin:0 8px;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url(data:image/gif;base64,R0lGODlhBwAFAIABAHJycv///yH5BAEAAAEALAAAAAAHAAUAAAIJjAOnCe25FDIFADs=);
}
.breadcrumbs > li > strong,
.breadcrumbs > li > p.bold {
	font-weight:400;
	color:#727272;
}

.no-display {display:none;}

.product-view {margin:0 0 30px;}
.prevnext-container {
    margin-bottom: 50px;
    margin-top: 5px;
    text-align: center;
}
.prevnext-product{
    display: inline-block;
    margin: 0 20px;
    font-size: 17px;
}
.prevnext-product img{
    display: block;
}
.product-essential {
	display:table;
	width:100%;
}
.product-image-wrapper,
.product-shop {
	display:table-cell;
	vertical-align:top;
    width: 350px;   
}
.product-image-wrapper {
}
.product-image {
	width:360px;
}
#image {
	display:block;
	margin:0 auto;
}

.more-views-header {
	font-size:16px;
	line-height:16px;
	color:#727272;
	padding:14px 0;
	margin:10px 0;
	border-bottom:1px solid #e3e3e3;
}
.more-views {
	list-style:none;
	padding:0;
	margin:0;
}
.more-views > li {
	display:inline-block;
	vertical-align:top;
	margin-right:20px;
}
.more-views > li > a {
	display:block;
	text-decoration:none;
}
.more-views > li > a:hover {
	outline:1px solid #dadada;
}
.more-views > li > a > img {
	display:block;
	margin:0 auto;
}
.product-shop > .availability {
	display:block;
}
.sku{
    margin-bottom: 5px;
}
.sku,
.manufacturer-cod,
.manufacturer {
	font-size:11px;
	line-height:11px;
	margin-top:8px;
	color:#666;
}
.footer {min-height:40px;}
.footer > .price-box, 
.footer > .add-to-box {
	float:right;
}
.quick-order{
	position:relative;
	float:right;
//        padding-left: 26px;
	text-align:right;
    z-index: 1;
}

.quick-order .m-span{
    margin-top: 4px;
    font-size: 12px;
    line-height: 14px;
    margin-left: 0;
    background: url("images/button-new.png") no-repeat scroll top left rgba(0, 0, 0, 0);
    background-size: 100% 100%;
//    background: url("images/button-buy.png") no-repeat scroll top left rgba(0, 0, 0, 0);
}
.quick-order  .m-span:hover{
    box-shadow: 0 0 3px 3px rgba(0,0,0,0.1);
    text-shadow: 1px 1px 1px #000000;
}
.quick_order_form{
	display:none;
	padding: 10px 20px 10px 20px;
	box-shadow: 4px 5px 18px rgba(0,0,0,.3);
	position:absolute;
	right:0;
	top:10px;
	text-align:left !important;
	margin-top:25px;
	width:282px;
	background:#fff;
}
.quick_order_form .button{
	margin:0;
}
.quick_order_form .m-close{
	position:absolute;
	background: url('../images/cross.png') no-repeat;
	width: 15px;
	height:15px;
	right:3px;
	top:3px;
	cursor:pointer;
}
.left-asside,
.right-asside {
	display:inline-block;
	vertical-align:top;
	margin:16px 0;
}
.left-asside {
	width:180px;
	padding-right:10px;
	float:left;
}
.right-asside {
    float:right;
    width:160px;
}
.right-asside div.price-box{
    margin-left: 7px;
}
.short-description {
    text-align: justify;
}

table {
	margin:1em 0;
	width:100%;
	border-collapse:collapse;
	text-align:left;
}

table thead tr, table tbody tr {background-color:#fff;}

th, td {
	padding:10px 3px;
	background:#f9f9f9;
	border-width:1px 0;
	border-style:solid;
	border-color:#dadada;
	vertical-align:top;
}
tr:nth-child(odd) th, tr:nth-child(odd) td {
	background-color:transparent;
}

#list-options table thead th, #list-options table tbody th, #list-options table thead td, #list-options table tbody td {background:#fff; border: transparent;}

tr:first-child th, tr:first-child td {border-top-color:transparent}
tr:last-child th, tr:last-child td {border-bottom-color:transparent}

input.qty {width:60px;}
.btn-order, .btn-update {
	float:right;
}
.btn-update, .btn-update:hover, .btn-update:active {
	background:transparent none;
	text-decoration:underline;
	color:#727272;
	text-shadow:none;
	border-color:transparent;
}

.messages {
	margin:1em 0;
	padding:0;
	list-style:none;
}
.messages > li {
	margin:1em 0;
}
.messages > li > ul {
	margin:0;
	padding:0;
	list-style:none;
}

.success-msg {
	background:#ebf5fa url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAdpJREFUeNpsUztPG0EQnt073yuYONgWjkCBmEeAEikSHQoSEiUtitLyByhSUURKj0SFKEORPm0KRIXSRKIC8zBSpDwERLbwcef12ly+Pd9Z54s/abSzs/vNY2eWBUFASXz9flrGsgyZi0xnkKPVxfkqpcBiMkg2lm3IJiSfvMQZczO6diBkewtO/D4yiBb0z5D10MgYvSx1+dd//lIcIOtY56Xc8NJkKV8LnUZOPsREBUPXqFwqtCdH8x81zhqxveE1Zx+E+AbVCsmIOh2l2gPSo5PqT3l4Ullodx6Hkmc3dXem5nq7ceQ3kFz6MYSUtm0YK6qKpL3d6dBDU7yFOsMTr9qDmdFpcfoFvZ6d+IESZPrcEy1HdYTTAOiaRhrnvxu+WJOdxyoNxhyP+vgfAgrqd/euH6QHAXhimhTXfIg+egP4TEf40E8CGWT1LKuypgpH0y+NjP6pLyqCwWEw7FiqXjN5Nl7MkWMatTCoMjRbcgsDcBFf8FuSLn7djqJd77GdiO3Fp1kMT0Gpe5DL3nhikvKeEMe36KNEO9KpjhVyNPW8SJyzLzBtqEdnqfew666/4zbFO7/bDnIsg0aGHLK7qe5H0+j3fYwUpqKf9SraV9TPglwlL/0TYAB2Sa1e3cWXeQAAAABJRU5ErkJggg==) scroll no-repeat 9px 18px;
	border:1px solid #cedae0;
	padding:16px 32px;
}

/* One Page Checkout */
.block-progress { border:0; margin:0; }
.block-progress .block-title { background:none; border:0; padding:0; margin:0 0 5px; }
.block-progress .block-title strong { font-size:13px; color:#0a263c; }
.block-progress .block-content { background:none; }
.block-progress dt { font-size:13px; font-weight:bold; line-height:1.35; background:#eee; border:1px solid #a3aeb3; margin:0 0 6px; padding:2px 8px; color:#999; }
.block-progress dd { background:#eee; border:1px solid #a3aeb3; border-top:0; padding:8px 13px; margin:0 0 6px; }
.block-progress dt.complete { margin:0; background:#d0dce1; color:#5e8ab4; }
.block-progress dd.complete {}
.block-progress p { margin:0; }
.block-progress .cards-list dt { background:none; border:0 none; color:inherit; font-size:12px; margin:5px 0; padding:0; }
.block-progress .cards-list dd { border:0 none; margin:0; padding:0; }
.block-progress .cards-list .info-table th { font-weight:normal; }

.opc .buttons-set { margin-top:0; padding:1em 0; }
.opc .buttons-set p.required { margin:0; padding:0 0 10px; }
.opc .buttons-set .back-link small { display:none; }
.opc .buttons-set .back-link a { background:url(../images/i_arrow-top.gif) 0 50% no-repeat; padding-left:16px; }
.opc .buttons-set.disabled button.button {  }/*display:none;*/
.opc .buttons-set .please-wait { height:21px; line-height:21px; }
.opc .ul { list-style:disc outside; padding-left:18px; }

.opc { position:relative; margin:40px 0 0; list-style:none; padding:0;}
.opc li.section {}

.opc ul {margin:0; list-style:none; padding:0}
.opc fieldset {margin:0; border:0 none;}

.opc .step-title { border-width:1px 1px 0 1px; border-style:solid; border-color:#cedae0; text-align:left; color:#000 !important}
#opc-review .step-title {border-bottom-width:1px}
.opc .step-title .number {display:inline-block; width:50px; line-height:48px; border-right:1px solid #cedae0; text-align:center}
.opc .step-title h2 {display:inline-block; padding:0 20px; margin:0;}
.opc .step-title a {display:none; float:right; font-size:11px; line-height:16px; }

.opc .allow .step-title {cursor:pointer}
/*.opc .allow .step-title a { display:block; }*/

.opc .active .step-title {background:#ebf5fa; border-bottom-width:1px; cursor:default}
/*.opc .active .step-title a { display:none; }*/

.opc .step {padding:10px 0; position:relative;}
.opc .step .tool-tip {right:30px}

#opc-login h3 {font-size:21px; color:#000; font-weight:400; border-bottom:1px solid #e4e4e4; padding-bottom:20px}
#opc-login h4 {font-size:1em; font-weight:bold; margin:0; color:#2f2f2f; }

.opc .gift-messages-form { margin:0 -30px; background:#f6f1eb; border:1px solid #e9e4de; border-width:1px 0; padding:22px 24px 22px 30px; }
.opc .gift-messages-form .inner-box { padding:5px; height:260px; overflow:auto; }

#opc-review .buttons-set {padding:20px 30px}
#opc-review .buttons-set p { margin:0; line-height:40px; }
#opc-review .buttons-set .please-wait { height:40px; line-height:40px; }
#opc-review .authentication { margin:0 auto; width:570px; }
#opc-review .warning-message { color:#222; font-weight:bold; text-align:center; padding:10px 10px 0; }

#billing-new-address-form label {width:130px}
#opc-shipping {display:none;}

.req, .field-req {color:red}
.label-txt {display:inline-block; width:80px; vertical-align:middle}
.tel-7 {margin:0 12px 0 0}
.it1 {width:200px}
.tel-it1 {width:174px}

.quick-order label,
#contactForm label {
	width:100px;
	line-height:32px;
}
#contactForm textarea {
	width:300px;
	height:150px;
	resize:none;
}
#checkout-shipping-method-load dt {
    display:none;
}
.s_method_flatrate_flatrate .price {
    display:none;
}

.account-login {
	display:table;
	width:100%;
}
.account-login > .new-users,
.account-login > .registered-users {
	display:table-cell;
	vertical-align:top;
	width:45%;
}
.account-login > .registered-users {padding:0 5% 0 0}
.account-login > .new-users {padding:0 0 0 5%}
.f-pass, .registered-users input, .registered-users button {
	vertical-align:middle;
}
.registered-users label {	width:60px}
.account-create label {width:140px}
.account-edit label {width:80px}
.account-edit-password label {width:180px}
.account-address-new label {width:120px}
.quick-order em,
.required > em {color:#c00; font-weight:700}

#YMapsID table {
	margin:auto;
	width:auto;
}
#YMapsID th, #YMapsID td {
	padding:0;
	border:0 none;
	vertical-align:top;
}
#over{
position: absolute;
width: 100%;
height: 300%;
background: #333;
z-index: 10;
opacity: 0.6; 
-moz-opacity: 0.6;
filter: alpha(opacity=60);
}

#messages_product_view{
position: absolute;
width: 500px;
top: 50%;
left: 35%;
z-index:20;
}
.mpv_co{
float: left;
margin-top: 10px;
}
.mpv_ca{
float: right;
margin-top: 10px;
}

#list-options thead tr td {font-size:11px; color:#6B6B6B; font-weight: bold; min-width: 85px; padding: 0 5px 0 0;}
#list-options tbody tr td {padding-top:5px;}
#list-options table {margin:0; background-color:#fff;}
.m-filter-checkboxes {padding:0; margin:0;}
.m-filter-checkboxes span {font-weight:normal; font-size:10px; color:#666;}
.but-filter {height: 32px; margin-top: 5px;}
.product-but {cursor:pointer; float:right;}
.product-but-reset {
	color: #0082A9;
    display: block;
    float: right;
    font-size: 15px;
    height: 24px;
    padding: 6px 0 0;
    text-align: center;
    text-decoration: underline;
    width: 100px;
	}
	
.product-but-reset:hover {text-decoration:none; cursor: pointer;}
	
.block-layered-nav1 {border:1px solid #EAE4E4; padding: 15px; border-radius: 10px 0 10px 10px; margin-top: -1px; clear:both;}
#product_choice {color:#0082A9; font-size:15px; text-decoration:underline; position:relative; height: 19px; width:130px; background-color: #fff; float:right; padding: 10px 20px 10px 10px; border:1px solid #EAE4E4; border-radius: 10px 10px 0 0; -moz-border-radius: 10px 10px 0 0; -webkit-border-radius: 10px 10px 0 0; border-bottom:none;}
#product_choice  span {background: #fff url(../images/arrow-options.png) 0 0 no-repeat; height:4px; width:7px; display:block; position:absolute; top:18px; right:12px;}

.product-choice-block {width:auto; height:40px; text-align: center; float:right; margin-bottom:-1px;}
.product-choice-block select {margin:10px 10px 0 0; float:right;}

.clear{clear:both}
.center{text-align: center}

.active-but-options {border:1px solid #EAE4E4 !important; border-radius: 10px !important; -moz-border-radius: 10px !important; -webkit-border-radius: 10px !important;}
.active-but-options span {background-position:0 -6px !important;}

.totals-cart {float:right; margin: 20px 10px 10px 0;}
.totals-cart span {color:#727272;}
.totals-cart .price {font-size:22px; color:#333;}

.product-img-label.top-right{
    position:absolute;
    height:50px;
    width: 70px;
    top:12px;
    right:0px;
    z-index: 70;
    pointer-events: none;

}
.product-img-label.top-left{
    position:absolute;
    height:50px;
    width: 70px;
    top:12px;
    left:10px;
    z-index: 70;
    pointer-events: none;
}

#list-options label {display:inline; word-wrap: break-word; }
.expl{
margin:3px 0 0 10px;
color:#aaa;
}

/*STYLE FOR VSE-V-KREDIT POPUP*/
body > div[style*='position']{
	z-index: 1000;
}

/* Delivery block */
.delivery-info{
    position: relative;
    float: left;
    margin: 10px;
    width: 32%;
}
.d-block {
    vertical-align: top;
    border: 1px solid #d5d5d5;
    padding: 10px 4px 0;
    position: relative;
    font: normal 11px Arial, Helvetica, sans-serif;
}
.d-block .page-header {
    position: absolute;
    width: 100%;
    text-align: center;
    top: -32px;
    left: 0px;
    font: italic bold 15px "Trebuchet MS", Tahoma, sans-serif;
}
.d-block .page-header span {
    display: inline-block;
    padding: 5px;
    background: #fff;
}
.d-block .d-pnt {
    background: url(images/d-pnt.png) left 11px repeat-x;
}
.d-block .d-pnt span {
    padding-right: 5px;
    background: #fff;
    font-weight: bold !important;
    margin: 0;
}
.d-block .d-pnt em, .d-block .d-pnt .em {
    float: right;
    padding-left: 5px;
    background: #fff;
    color: #0B5ED8;
}
.d-block .d-pnt span.em{
	font-weight: normal !important;
}
.d-usl{
    margin-top: 15px;
    text-align: right;
    font-weight: normal;    
}
/* Payment info*/
.payment-info{
    position: relative;
    float: left;
    width: 30%;
    text-align: left;
    margin: 10px;
}
.last_p{
    margin-bottom: 28px;
}
/*my tabs on page - begin */
#product-bottom .mytab{
    display: block;
    float: left;
    margin: 4px 50px 0px 5px;
    cursor: pointer;
    font-size: 24px;
    line-height: 24px;
    color: #696969;
    border-bottom: 1px dotted #c2c2c2;
}
#product-bottom .mytab.active {
    border-bottom-color: transparent;
    color: #000;
    font-size: 24px;
    line-height: 24px;
    margin-top: 0px;
}
#product-bottom div.mytabs{
    overflow: hidden;
}
/*my tabs on page - end */
.catalogue-product-cell > button.button-up{
    bottom: 41px;
}

.button{
    background: url("images/button-new.png") no-repeat scroll top left rgba(0, 0, 0, 0);
    background-size: 100% 100%;
    border: 0 none;
    border-radius: 3px;
    bottom: 29px;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Arial,sans-serif;
    font-size: 12px;
    height: 29px;
    padding: 1px 38px 1px 0;
    text-shadow: 1px 1px 1px #000000;
    width: 105px;
    z-index: 2;
    line-height: 14px;
    text-decoration: none;
}
 .btn-buy {
    background: url("images/button-buy.png") no-repeat scroll top left rgba(0, 0, 0, 0);    
    background-size: 100% 100%;
    border: 0 none;
    border-radius: 3px;
    bottom: 29px;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Arial,sans-serif;
    font-size: 13px;
    height: 29px;
    padding: 1px 34px 1px 0;
    text-shadow: 1px 1px 1px #000000;
    width: 95px;
    z-index: 2;
    margin: 0 6px;
}
#button-buy .btn-buy{
    margin: 0 0 6px;
}
.add-to-cart .btn-buy:hover { 
    background: url("images/button-buy.png") no-repeat scroll top left rgba(0, 0, 0, 0);
    background-size: 100% 100%;
    -webkit-box-shadow: 0 0 3px 3px rgba(0,0,0,0.1);
    box-shadow: 0 0 3px 3px rgba(0,0,0,0.1); 
}
.gocart > a {
    background: scroll rgba(0, 0, 0, 0) url(images/button-new1.png) top left no-repeat;    
    background-size: 100% 100%;
    border: 0 none;
    border-radius: 3px;
    bottom: 29px;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Arial,sans-serif;
    font-size: 12px;
    height: 29px;
    padding: 6px 0px 0px 6px;
    text-shadow: 1px 1px 1px #000000;
    width: 150px;
    z-index: 2;
    line-height: 14px;
    text-decoration: none;
}

.button:hover { 
    background: url("images/button-new.png") no-repeat scroll top left rgba(0, 0, 0, 0);
    background-size: 100% 100%;
    -webkit-box-shadow: 0 0 3px 3px rgba(0,0,0,0.1);
    box-shadow: 0 0 3px 3px rgba(0,0,0,0.1);
    text-shadow: 1px 1px 1px #000000;
    text-decoration: none;
    color: #FFFFFF;
}

.btn-blue, .btn-blue:hover{
    background: url("images/button-new-blue.png") no-repeat scroll top left rgba(0, 0, 0, 0);  
    background-size: 100% 100%;
}

.gocart > a:hover { 
    background: url("images/button-new1.png") no-repeat scroll top left rgba(0, 0, 0, 0);
    background-size: 100% 100%;
    -webkit-box-shadow: 0 0 3px 3px rgba(0,0,0,0.1);
    box-shadow: 0 0 3px 3px rgba(0,0,0,0.1);
    text-shadow: 1px 1px 1px #000000;
    text-decoration: none;
    color: #FFFFFF;
}

#search_mini_form .btn-blue{
    margin-left: 2px;
    width: 88px;
    height: 32px;
    padding: 0 0 0 10px;
    text-align: left;    
}

#shopping-cart-table .button{
    width: 145px;
    background: url("images/button-new1.png") no-repeat scroll top left rgba(0, 0, 0, 0);
    background-size: 100% 100%;
}

#shopping-cart-table .btn-blue{
    width: 145px;
    background: url("images/button-new-blue.png") no-repeat scroll top left rgba(0, 0, 0, 0);
    background-size: 100% 100%;
}



.btn-buy-credit {
    border:1px solid #056b8a;
    background-color:#149fc9;
    background-image: -ms-linear-gradient(top, #52bddd 0%, #0082a9 100%);
    background-image: -moz-linear-gradient(top, #52bddd 0%, #0082a9 100%);
    background-image: -o-linear-gradient(top, #52bddd 0%, #0082a9 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #52bddd), color-stop(1, #0082a9));
    background-image: -webkit-linear-gradient(top, #52bddd 0%, #0082a9 100%);
    background-image: linear-gradient(top, #52bddd 0%, #0082a9 100%);
    text-shadow:1px 1px 0 #07617d;
    border-radius: 3px;
    bottom: 4px !important; 
    color: #FFFFFF;
    cursor: pointer;
    font-family: Arial,sans-serif;
    font-size: 10px;
    height: 19px;
    width: 95px;
    z-index: 2;
    padding: 0px;
    margin: 0 6px;
}
.btn-buy-credit:hover {
    background-color:#25bae7;
    background-image: -ms-linear-gradient(top, #51cff5 0%, #2eb2d9 100%);
    background-image: -moz-linear-gradient(top, #51cff5 0%, #2eb2d9 100%);
    background-image: -o-linear-gradient(top, #51cff5 0%, #2eb2d9 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #51cff5), color-stop(1, #2eb2d9));
    background-image: -webkit-linear-gradient(top, #51cff5 0%, #2eb2d9 100%);
    background-image: linear-gradient(top, #51cff5 0%, #2eb2d9 100%);    
}

.filtersExpand{
    float: left;
}

.f-collapsed{
    overflow: hidden;
    max-height: 88px;
}
.italic, .em{
	font-style: italic;
}
.underline{
	text-decoration: underline;
}
.bold{
	font-weight: bold;
}
.likespan{
	display: inline;
}

.hideCategory
{
    display: none;
}
.buttonHide
{
    display: none;
}
.buttonShowAll,
.buttonHide
{
    text-align: center;
    color: #126aac;
    font-family: Arial,sans-serif;
    font-size: 11px;
    line-height: 11px;
    cursor: pointer;
}
h1.filtered{
	font-size: 16px;
	font-weight: bold;
}
#float_header{
    display: none;
    top: 0;
    position: fixed;
    width: 100%;
    background-color: #FFFFFF;
    z-index: 999999;
    padding: 5px 0;
    -webkit-box-shadow: 0px 1px 7px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 1px 7px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 1px 7px 0px rgba(50, 50, 50, 0.75);    
}
#float_header_content{
    width: 990px;
    margin: auto;
}

#float_header .search-mini-form{
    clear: none;
}

#float_header .worktime{
    margin-top: 0;
}

#float_header .f-slogan{
    margin-top: 60px;
    font-size: 8px;
}

#float_header .trade-mark{
    padding: 60px 100px 0 0;
    background-size: 100%;
    background-position-y: 100%;
    margin-top: 0;
}
#general_cantainer{
    display:table;
    width: 100%;
    background-repeat: repeat-x;
    background-position: center bottom;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAB9CAYAAABj9QkzAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADNJREFUeNpi/v//fzETAwMDL4hgGCUIEsAAI0cWIYFNCRFiJCkhXS8R2og1BZ/EZ4AAAwDSnzg5c6ncpwAAAABJRU5ErkJggg==);
}
#header_container{
    display:table-header-group;
}
#content_container{
   // display:table-row-group;
    //    margin:0 0 0 180px;
}
#center_container{
    display:table;
    width:100%;
}
#breadcrumps_container{
    display: table-header-group;
}
#product-shop-container{
    float:right;
}
#product_image_container{
    float:left;
}
#catalog-container{
    display: table;
    width:100%;
}
#category-description-container{
    display: table-footer-group;
}
#filters{
    display: table-row-group;
}

.plus-qnt{
    color:#333;
    font-size:22px;
    cursor: pointer;
}
.minus-qnt{
    color:#333;
    padding-left:1px;
    font-size:19px;
    cursor: pointer;
}
.onestepcheckout-container{
    text-align: left;
}

#product-review .static-review-rate{
	margin-right: 5px;
	float: left;
}
#product-review .revieew-title{
    font-size: 15px;
    font-weight: bold;
    text-transform: capitalize;
}
#product-review .customer-review-nick {
    font-size: 12px;
    font-style: italic;
}
#product-review .customer-review-nick span{
    font-weight: bold;
}
#customer-reviews dd{
    margin: 0 0 20px 0;
}
#product-review .ratings-table{
    border: 0 none;
    border-spacing: 0;
    empty-cells: show;
    font-size: 100%;
    margin: 0;
}
#product-review .ratings-table td, .ratings-table td{
    font-size: 11px;
    line-height: 1.15;
    padding: 3px 0;
    margin: 0;
}
#review-form fieldset{
    background: none repeat scroll 0 0 #f7f7f7;
    border: 1px solid #e4e5e5;
    margin: 40px 0 10px;
    padding: 12px 20px;    
}
#review-form h3, #review-form h4{
    font-size: 13px;
    font-weight: normal;
    margin: 0 0 5px;
}
#review-form h3 span{
    font-weight: bold;
}
#product-review .data-table {
    border: 1px solid #cecfca;
    width: 100%;
    margin: 0;
    padding: 0;
    border-spacing: 0;
    empty-cells: show;
    font-size: 100%;
}
#product-review .data-table thead th {
    border: 1px solid #cecfca;
    color: #4a575f;
    font-weight: normal;
    height: 27px;
    min-height: 27px;
    padding: 2px 8px;
    vertical-align: middle;
    white-space: nowrap;
}
#product-review .data-table th {
    font-size: 12px;
    font-weight: normal;
    padding: 3px 8px;
    font-weight: normal;
    text-align: left;
    vertical-align: top;
}
#product-review .data-table thead th {
    background: url("../images/bg-th.png") repeat-x scroll left top #D24342;
    border-bottom: 1px solid #cecfca;
    color: #ffffff;
    font-family: Arial,sans-serif;
    font-size: 12px;
    line-height: 14px;
    text-shadow: 1px 1px 1px #000000;
}
#product-review .data-table tbody th, #product-review .data-table tbody td {
    border-bottom: 1px solid #cecfca;
    border-left: 1px solid #cecfca;
}
#product-review .data-table td {
    text-align: center;
    font-size: 13px;
    line-height: 18px;
    padding: 3px 8px;
    margin: 0;
}
#product-review .form-list {
    margin: 15px 0 0;
    list-style: none outside none;
    padding: 0;
    text-align: left;
    color: #4a575f;
    font-family: Tahoma,Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 18px;
}
#product-review .form-list li {
    margin: 0 0 8px;
}
#product-review .form-list label {
    color: #4a575f;
    font-size: 14px;
    padding-bottom: 3px;
    position: relative;
    z-index: 0;
    margin: 0;
    padding: 0;
}
#product-review .form-list label.required em {
    color: #eb340a;
    font-size: 26px;
    font-style: normal;
    left: 100%;
    margin-left: 4px;
    position: absolute;
    top: 3px;
}
#product-review .form-list .input-box {
    width: 360px;
    clear: both;
    display: block;
    margin-top: 3px;
}
#product-review .form-list #summary_field{
    width: 695px;
}
#product-review input#nickname_field.input-text {
    width: 350px;
}
#product-review .form-list input.input-text {
    background: url("../images/input-bg.png") repeat-x scroll left top rgba(0, 0, 0, 0);
    border-radius: 2px;
    line-height: 19px;
    height: 25px !important;
}
#product-review input.input-text, textarea {
    padding: 2px;
}
#product-review .input-box textarea{
    width: 695px;
    height: 10em;
    overflow: auto;
    padding: 2px;
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #7b868d;
    color: #2f2f2f;
    font: 13px/15px Arial,Helvetica,sans-serif;
    vertical-align: middle;
    margin: 0;
}
#review-form .button{
    float:right;
}
#product-review .validation-advice {
    background: url("../images/validation_advice_bg.gif") no-repeat scroll 2px 0 rgba(0, 0, 0, 0);
    clear: both;
    color: #eb340a;
    font-size: 11px;
    font-weight: bold;
    line-height: 13px;
    margin: 3px 0 0;
    min-height: 13px;
    padding-left: 17px;
}
#store-reviews .customer-review-nick{
    margin: 2px 0 0 4px;
}
#store-reviews dd{
    margin-left: 0;
}
#store-reviews table{
    margin-bottom: 0;
}
#store-reviews .rating-box{
    margin-left: 4px;
}
.reviewed-product-img{
    margin: 4px;
}
.modalDialog {
    width: 740px;
    margin-left: -370px;
    margin-top: -250px;
    padding: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 99999;
    display:none;
}

.modalDialog:target {
 display: block;
 pointer-events: auto;
}

#review-form{
    width: 740px;
}
#continue_shopping{
    font-family: arial;
    font-size: 14px;
    font-weight: 400;
    margin-left: 4px;
    padding-left: 6px;
}
.yandex-market-menu{
    margin-top: 10px;
}
.yandex-market-footer{
    margin-top: 20px;
}
.iSubCategories {
    display: table;
}
.iSubCategory {
    float: left;
    height: 213px;
    margin-right: 20px;
    margin-top: 20px;
    overflow: hidden;
    width: 165px;
}
.iSubCategory:hover{
    opacity: 0.8; /* FF, Opera, Safari, Chrome */
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80); /* IE7 */
    -ms-filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80); /* IE8, хотя несмотря на заверения майкрософт вроде как и предыдущий вариант*/
    
}

.iSubCategory:nth-child(4n) {
    margin-right: 0;
}
.iSubCategory > .iName {
/*
    padding: 0 12px;
    width: 141px;
*/
}

.iSubCategory > .iName, .iSubCategory > .iName > .iBox {
    height: 53px;
}
.iSubCategory > .iName > .iBox {
    color: #126aac;
    display: table-cell;
    font-family: Arial,sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    vertical-align: middle;
  //  width: 117px;
}
.iSubCategory > .iImage {
    border: 1px solid #f3f3f3;
    border-radius: 3px;
    height: 163px;
    overflow: hidden;
    width: 163px;
}
.icatalog-product-view {
    border: 1px solid #f3f3f3;
    border-radius: 3px;
    display: block;
    width: 348px;
}
.icatalog-product-view .ibox {
    display: table-row;
    width: 348px;
}
.icatalog-product-view .ibox, .icatalog-product-view .ibox > div {
    height: 313px;
}
.icatalog-product-view .ibox > div {
    display: table-cell;
    vertical-align: middle;
}
.icatalog-product-view .ibox > div:first-child {
    background: url("../images/arrow-big.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}
.icatalog-product-view .ibox > div:last-child {
    background: url("../images/arrow-big-right.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}
.icatalog-product-view .ibox > div:first-child, .icatalog-product-view .ibox > div:last-child {
    cursor: pointer;
    width: 34px;
}
.icatalog-product-view .product-image, .icatalog-product-view #image {
    width: 280px;
}
.icatalog-product-view .more-views {
    overflow: hidden;
    padding: 5px 3px 0 0;
}
.icatalog-product-view .more-views li {
    display: block;
    float: left;
    margin: 2px 2px 5px 5px;
    overflow: hidden;
}
.icatalog-product-view .more-views img {
    border: 1px solid #f3f3f3;
    border-radius: 3px;
    height: 60px;
    width: 60px;
}
.icatalog-product-view .more-views img:hover {
    border: 1px solid #1081c2;
}
.icatalog-product-view .more-views a {
}
.news{
    margin-top: 10px;
}
.news-title{
    display: inline;
}
.all-news-link{
    color: #aaa;
    text-decoration: none;
}
.all-news-link:hover{
    text-decoration: underline;
}
.news-container{
    margin-top: 15px;
}
.news-date{
    font: bold;
    color: #000;
}
.news-link{
    color: #00f;
}
.main-button{
    margin: 0;
    height: 40px;
    width: 120px;
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 10px;
}
#search_autocomplete{
    z-index: 3;
}
.ajaxsearch{
    width: 493px;
    background: #ffffff;
    padding: 5px;
}
.ajaxsearch .preview{
    display: inline-block;
    list-style-type: none;
    margin: 5px auto;
}
.ajaxsearch .preview a {
    color: #0082a9 !important;
}
.ajaxsearch .preview img {
    margin-right: 4px;
}
.product-bonus-container{
    float: right;
    margin-right: 5px;
}
.product-bonus-container .product-bonus{
    margin-top: 0;
    height: 50px;
}
.bonus-size{
    font-size: 16px;
}
.product-bonus{
    padding: 17px 12px 2px;
    margin-top: 11px;
    background-image: url(../images/bonus.png);
    background-repeat: no-repeat;
    height: 66px;
    width: 47px;
    text-align: center;
}
.catalog-product-bonus-container{
    margin-left: -115px;
    margin-top: -80px;
    position: absolute;
    left: 50%;
}
.pluso{
    z-index: 0 !important;
}