<?php
$_item = $this->getItem();
$isVisibleProduct = $_item->getProduct()->isVisibleInSiteVisibility();
$canApplyMsrp = Mage::helper('catalog')->canApplyMsrp($_item->getProduct(), Mage_Catalog_Model_Product_Attribute_Source_Msrp_Type::TYPE_BEFORE_ORDER_CONFIRM);
?>
<tr>
	<td style="width:85px; padding:0; "><?php if ($this->hasProductUrl()):?><a href="<?php echo $this->getProductUrl() ?>" title="<?php echo $this->htmlEscape($this->getProductName()) ?>" class="product-image"><?php endif;?><img style="margin-top: 4px;"src="<?php echo $this->getProductThumbnail()->keepFrame(false)->resize(85,null); ?>" width="85" alt="<?php echo $this->htmlEscape($this->getProductName()) ?>" /><?php if ($this->hasProductUrl()):?></a><?php endif;?></td>
	<td style="padding-right:10px;">
		<?php if ($this->hasProductUrl()):?>
			<a class="catalogue-product-name" href="<?php echo $this->getProductUrl() ?>"><?php echo $this->htmlEscape($this->getProductName()) ?></a>
		<?php else: ?>
			<?php echo $this->htmlEscape($this->getProductName()) ?>
		<?php endif; ?>
	 
		<?php if ($messages = $this->getMessages()): ?>
		<?php foreach ($messages as $message): ?>
			<p class="item-msg <?php echo $message['type'] ?>">* <?php echo $message['text'] ?></p>
		<?php endforeach; ?>
		<?php endif; ?>
		<?php if ($addtInfoBlock = $this->getProductAdditionalInformationBlock()):?>
			<?php echo $addtInfoBlock->setItem($_item)->toHtml() ?>
		<?php endif;?>
	</td>
	<td style="width:80px;">
        <input style="line-height:100%" name="cart[<?php echo $_item->getId() ?>][qty]" value="<?php echo $this->getQty() ?>" size="4" title="<?php echo $this->__('Qty') ?>" class="input-text qty" maxlength="12" />
        <div style="display:inline-block; line-height:120%">
            <span class="plus-qnt" onClick="javascript: update_qnt(this.parentNode, true)">
                +
            </span><br>
            <span class="minus-qnt" onClick="javascript: update_qnt(this.parentNode, false)" style="">
                 &#8211;
            </span>
        </div>
	</td>
	<td style="width:120px">
		<div class="price-box">
			<span class="regular-price" id="product-price-145-new">
				<?php echo $_item->getRowTotal() ?>
				<span class="currency">руб.</span>
			</span>					
		</div>
	</td>
	<td style="width:60px">
		<a href="<?php echo $this->getDeleteUrl()?>" class="btn-remove btn-remove2">Удалить</a>
	</td>
</tr>
