<?php
/**
 * Created by JetBrains PhpStorm.
 * User: svyatoslav
 * Date: 18.06.12
 * Time: 8:30
 * To change this template use File | Settings | File Templates.
 */
$slideCollection = Mage::getModel('slideshow/slideshow')->getCollection()->addFieldToFilter('status',array('eq'=>1));
$n = $slideCollection->getSize();
$q = 0;
?>
<!--<div class="slider border" style="border: 1px solid #EAE4E4; border-bottom-left-radius: 9px; border-top-right-radius: 9px; padding-top: 50px;">-->
<div id="carousel-wrapper" class="slab-slideshow" style=" overflow: hidden; width: 720px; height: 306px; border: 1px solid #EAE4E4; border-bottom-left-radius: 9px; border-top-right-radius: 9px;">
    <div class="slider" id="carousel-content" >
        <?php foreach ($slideCollection as $slide): $q++; ?>
            <div class="slide" id="slide-<?php echo $q ?>" style="position: relative; height: 206px; padding: 50px 0;" >
                <div class="slider-info" style="float: left;">
                    <div class="slider-desc" style=" color: #ffffff; float:left; height: 104px; width: 303px; background-color: #e35651;">
                        <div class="slider-name" style=" font: 23px Arial, Helvetica, sans-serif; padding-left: 20px; padding-top: 15px;"><?php echo $slide->getName() ?></div>
                        <div class="slider-des" style="margin-top: 3px; line-height: 1; margin-left: 22px; font-size: 12px"><?php echo $slide->getContent() ?></div>
                    </div>
                    <div class="nool" style=" margin-right: 3px; width: 12px; float: left; height: 105px; background-image: url('<?php echo Mage::getBaseUrl('media') . 'slideshow/nool.jpg'; ?>')"></div>
                    <div style="clear: both;"></div>
                    <div class="slider-price" style="margin-top: 56px;">
                        <?php if ($slide->getPrice() != 0): ?>
                        <div class="slide-price" style="float: left; margin-left: 20px "><span style="font-size: 18px; color: #656667">Цена: </span><span style="font-size: 28px"><?php echo $slide->getPrice() ?> </span>руб.</div>
                        <?php endif ?>
                        <?php if ($slide->getButton() != 'Нет'): ?>
                        <div class="slide-but" style="text-align: center;" ><button style="background: none; border: none; color: red; text-decoration: underline; margin-top: 0; font-size: 22px;" type="button" onclick="setLocation('<?php echo Mage::getBaseUrl() . $slide->getUrl() ?>')"><?php echo $slide->getButton(); ?></button> </div>
                        <?php endif ?>
                    </div>
                </div>
                <div class="slider-image" style="text-align: center;">
                    <img style="text-align: center;" src="<?php echo Mage::getBaseUrl('media') . 'slideshow/'. $slide->getImg(); ?>" title="<?php echo $slide->getContent() ?>" />
                </div>
                <div style="clear: both;"></div>
                <div class="navigation-slid" style="position: absolute; right: 20px; bottom: 10px;">
                    <?php for ($i=1; $i<= $n; $i++): ?>
                    <a href="javascript:" class="carousel-jumper" rel="slide-<?php echo $i ?>" style="float: left; margin-right:3px;display: block; width: 16px; height:16px;<?php if ($i == $q) { echo "background: url('".Mage::getBaseUrl('media')."slideshow/a.png')";} else { echo "background: url('".Mage::getBaseUrl('media')."slideshow/na.png')";} ?>"></a>
                    <?php endfor ?>
                </div>
            </div>
        <?php endforeach ?>
    </div>
</div>
<!--</div>-->
<script type="text/javascript">
    jQuery(window).load(function(){
        new Carousel(
            'carousel-wrapper',
            $$('#carousel-content .slide'),
            $$('a.carousel-control', 'a.carousel-jumper'),{
                auto:true,
                frequency: 4,
                visibleSlides:1,
                effect: 'fade',
                circular: true
//                afterMove: function(){
//
//                }
            });
    });
</script>