<div id='vvcrSmallWidgetContainer'></div>
<script type="text/javascript">
<!--
jQuery.getScript("http://vsevcredit.ru/jssys/widget-small.js?p=<?php echo $this->getProduct()->getFinalPrice();?>;&c=1;");
//-->
</script>
