<?php
/**
 * Shopping cart template
 *
 * @see Mage_Checkout_Block_Cart
 */
?>
<div class="cart">
        <script type="text/javascript">
            function update_qnt(div, direction){
                var td = div.parentNode;
                var input = div.parentNode.children[0];
                var update = false;
                if(direction == true){
                    input.value++;
                    update = true;
                } else if(input.value > 1){
                    input.value--;
                    update = true;
                }
                if(update){
                    var form = document.getElementById('checkout-items-form');
                    form.submit();
                }
            }
        </script>
	<div class="page-title title-buttons">
		<h1>Вы заказали</h1>
	</div>
	<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
	<?php echo $this->getChildHtml('form_before') ?>
	<form action="<?php echo $this->getUrl('checkout/cart/updatePost') ?>" method="post" id="checkout-items-form">
		<table id="shopping-cart-table" class="data-table cart-table">
			<thead>
				<tr>
					<th style="width:85px;">&nbsp;</th>
					<th style="">Наименование товара</span></th>
					<th style="width:85px;">Количество</th>
					<th style="width:120px; text-align: center;">Стоимость</th>
					<th style="width:60px">&nbsp;</th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<td colspan="50">
						<!--<?php if(!$this->hasError()): ?>
							<button type="button" class="button btn-order" onclick="setLocation('http://vmashin.ru/checkout/onepage/')">Оформить заказ</button>
						<?php endif; ?> -->
						 <button type="submit" title="<?php echo $this->__('Update Shopping Cart') ?>" class="button btn-update"><?php echo $this->__('Update Shopping Cart') ?></button>
						<?php if($this->getContinueShoppingUrl()): ?>
								<button type="button" title="<?php echo $this->__('Continue Shopping') ?>" class="button btn-blue add-margin btn-update" onclick="setLocation('<?php echo $this->getContinueShoppingUrl() ?>')"><?php echo $this->__('Continue Shopping') ?></button>
						<?php endif; ?> 
					</td>
				</tr>
			</tfoot>
			<tbody>
			<?php foreach($this->getItems() as $_item): ?>
				<?php echo $this->getItemHtml($_item) ?>
			<?php endforeach ?>
                <tr>
					<td colspan="5" >					
						<?php echo $this->getChildHtml('totals'); ?>
					</td>
				</tr>
			</tbody>
		</table>
		<script type="text/javascript">decorateTable('shopping-cart-table')</script>
	</form>
	<?php echo $this->getChildHtml('onestepcheckout') ?>
</div>
