<?php
/**
 * Create account form template
 *
 * @see Mage_Customer_Block_Form_Register
 */
?>
<div class="account-create">
    <div class="page-title">
        <h1><?php echo $this->__('Create an Account') ?></h1>
    </div>
    <?php echo $this->getChildHtml('form_fields_before')?>
    <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
    <form action="<?php echo $this->getPostActionUrl() ?>" method="post" id="form-validate">
			<input type="hidden" name="success_url" value="<?php echo $this->getSuccessUrl() ?>" />
			<input type="hidden" name="error_url" value="<?php echo $this->getErrorUrl() ?>" />
			<h2 class="legend"><?php echo $this->__('Personal Information') ?></h2>
				<?php echo $this->getLayout()->createBlock('customer/widget_name')->setObject($this->getFormData())->setForceUseCustomerAttributes(true)->toHtml() ?>
				<p>
					<label for="email_address" class="required"><em>*</em>Email</label>
					<input type="text" name="email" id="email_address" value="<?php echo $this->htmlEscape($this->getFormData()->getEmail()) ?>" title="<?php echo $this->__('Email Address') ?>" class="input-text validate-email required-entry">
				</p>
				<?php if ($this->isNewsletterEnabled()): ?>
				<p>
					<input type="checkbox" name="is_subscribed" title="<?php echo $this->__('Sign Up for Newsletter') ?>" value="1" id="is_subscribed"<?php if($this->getFormData()->getIsSubscribed()): ?> checked="checked"<?php endif; ?> class="checkbox" />
					<label for="is_subscribed"><?php echo $this->__('Sign Up for Newsletter') ?></label>
				</p>
				<?php endif ?>
			<?php $_dob = $this->getLayout()->createBlock('customer/widget_dob') ?>
			<?php if ($_dob->isEnabled()): ?>
				<?php echo $_dob->setDate($this->getFormData()->getDob())->toHtml() ?>
			<?php endif ?>
			<?php $_taxvat = $this->getLayout()->createBlock('customer/widget_taxvat') ?>
			<?php if ($_taxvat->isEnabled()): ?>
				<?php echo $_taxvat->setTaxvat($this->getFormData()->getTaxvat())->toHtml() ?>
			<?php endif ?>
			<?php $_gender = $this->getLayout()->createBlock('customer/widget_gender') ?>
			<?php if ($_gender->isEnabled()): ?>
				<?php echo $_gender->setGender($this->getFormData()->getGender())->toHtml() ?>
			<?php endif ?>
			<?php if($this->getShowAddressFields()): ?>
        <input type="hidden" name="create_address" value="1" />
        <h2 class="legend"><?php echo $this->__('Address Information') ?></h2>
				<label for="company"><?php echo $this->__('Company') ?></label>
				<input type="text" name="company" id="company" value="<?php echo $this->htmlEscape($this->getFormData()->getCompany()) ?>" title="<?php echo $this->__('Company') ?>" class="input-text"><br>
				<label for="telephone" class="required"><em>*</em><?php echo $this->__('Telephone') ?></label>
				<input type="text" name="telephone" id="telephone" value="<?php echo $this->htmlEscape($this->getFormData()->getTelephone()) ?>" title="<?php echo $this->__('Telephone') ?>" class="input-text required-entry"><br>
				<label for="street_1" class="required"><em>*</em><?php echo $this->__('Street Address') ?></label>
				<input type="text" name="street[]" value="<?php echo $this->htmlEscape($this->getFormData()->getStreet(1)) ?>" title="<?php echo $this->__('Street Address') ?>" id="street_1" class="input-text required-entry"><br>
				<?php for ($_i=2, $_n=$this->helper('customer/address')->getStreetLines(); $_i<=$_n; $_i++): ?>
					<input type="text" name="street[]" value="<?php echo $this->htmlEscape($this->getFormData()->getStreet($_i)) ?>" title="<?php echo $this->__('Street Address %s', $_i) ?>" id="street_<?php echo $_i?>" class="input-text"><br>
				<?php endfor ?>
				<label for="city" class="required"><em>*</em><?php echo $this->__('City') ?></label>
				<input type="text" name="city" value="<?php echo $this->htmlEscape($this->getFormData()->getCity()) ?>" title="<?php echo $this->__('City') ?>" class="input-text required-entry" id="city">
				<label for="region_id" class="required"><em>*</em><?php echo $this->__('State/Province') ?></label>
				<select id="region_id" name="region_id" title="<?php echo $this->__('State/Province') ?>" class="validate-select" style="display:none;">
						<option value=""><?php echo $this->__('Please select region, state or province') ?></option>
				</select><br>
				<script type="text/javascript">
				//<![CDATA[
						$('region_id').setAttribute('defaultValue', "<?php echo $this->getFormData()->getRegionId() ?>");
				//]]>
				</script>
				<input type="text" id="region" name="region" value="<?php echo $this->htmlEscape($this->getRegion()) ?>" title="<?php echo $this->__('State/Province') ?>" class="input-text" style="display:none;" />
				<label for="zip" class="required"><em>*</em><?php echo $this->__('Zip/Postal Code') ?></label>
				<input type="text" name="postcode" value="<?php echo $this->htmlEscape($this->getFormData()->getPostcode()) ?>" title="<?php echo $this->__('Zip/Postal Code') ?>" id="zip" class="input-text validate-zip-international required-entry"><br>
				<label for="country" class="required"><em>*</em><?php echo $this->__('Country') ?></label>
				<?php echo $this->getCountryHtmlSelect() ?>
                   
				<input type="hidden" name="default_billing" value="1" />
				<input type="hidden" name="default_shipping" value="1" />
			<?php endif; ?>
			
			<h2 class="legend"><?php echo $this->__('Login Information') ?></h2>
			<p>
				<label for="password" class="required"><em>*</em><?php echo $this->__('Password') ?></label>
				<input type="password" name="password" id="password" title="<?php echo $this->__('Password') ?>" class="input-text required-entry validate-password">
			</p>
			<p>
			<label for="confirmation" class="required"><em>*</em><?php echo $this->__('Confirm Password') ?></label>
			<input type="password" name="confirmation" title="<?php echo $this->__('Confirm Password') ?>" id="confirmation" class="input-text required-entry validate-cpassword">
			</p>
			<p class="required"><?php echo $this->__('* Required Fields') ?></p>
			<button type="submit" title="<?php echo $this->__('Submit') ?>" class="button"><?php echo $this->__('Submit') ?></button>
    </form>
    <script type="text/javascript">
    //<![CDATA[
        var dataForm = new VarienForm('form-validate', true);
        <?php if($this->getShowAddressFields()): ?>
        new RegionUpdater('country', 'region', 'region_id', <?php echo $this->helper('directory')->getRegionJson() ?>, undefined, 'zip');
        <?php endif; ?>
    //]]>
    </script>
</div>
