<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
<div class="page-title">
	<h1><?php echo Mage::helper('contacts')->__('Contact Us') ?></h1>
</div>
    <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('contact-us')->toHtml(); ?>
<form action="<?php echo $this->getFormAction(); ?>" id="contactForm" method="post">
	<h2><?php echo Mage::helper('contacts')->__('Contact Information') ?></h2>
	<p>
		<label for="name" class="required"><em>*</em><?php echo Mage::helper('contacts')->__('Name') ?></label>
		<input name="name" id="name" value="<?php echo $this->htmlEscape($this->helper('contacts')->getUserName()) ?>" class="input-text required-entry" type="text" />
	</p>
	<p>
		<label for="email" class="required"><em>*</em>Email:</label>
		<input name="email" id="email" value="<?php echo $this->htmlEscape($this->helper('contacts')->getUserEmail()) ?>" class="input-text required-entry validate-email" type="text" />
	</p>
	<p>
		<label for="telephone"><?php echo Mage::helper('contacts')->__('Telephone') ?></label>
		<input name="telephone" id="telephone" value="" class="input-text" type="text" />
	</p>
	<p>
		<label for="comment" class="required"><em>*</em><?php echo Mage::helper('contacts')->__('Comment') ?></label><br>
		<textarea name="comment" id="comment" class="required-entry input-text" cols="5" rows="3"></textarea>
	</p>
	<p class="required"><?php echo Mage::helper('contacts')->__('* Required Fields') ?></p>
	<p>
		<input type="text" name="hideit" id="hideit" value="" style="display:none !important;" />
	</p>
	<p><button type="submit" class="button"><?php echo Mage::helper('contacts')->__('Submit') ?></button></p>
</form>
<script type="text/javascript">
//<![CDATA[
    var contactForm = new VarienForm('contactForm', true);
//]]>
</script>
