<?php
/**
 * Top menu for store
 *
 * @see Mage_Catalog_Block_Navigation
 */
?>
<?php
/**
 * $this->renderCategoriesMenuHtml() supports optional arguments:
 * int Level number for list item class to start from
 * string Extra class of outermost list items
 * string If specified wraps children list in div with this class
 */
?>
<?php $_menu = $this->renderCategoriesMenuHtml(0,'level-top') ?>
<?php if($_menu): ?>
<div class="nav-container">
<!--	<div class="block-header">Каталог</div>-->
	<ul id="nav">
		<?php echo $_menu ?>
	</ul>
</div>
<?php endif ?>
<a href="/credit.html"><img src="<?php echo $this->getBaseUrl().'skin/frontend/vmashin/default/images/svin.jpg';?>" /></a>
<div class="yandex-market-menu">
    <a href="http://clck.yandex.ru/redir/dtype=stred/pid=47/cid=1248/*http://market.yandex.ru/shop/60639/reviews/add" target="_blank">
        <img src="http://clck.yandex.ru/redir/dtype=stred/pid=47/cid=1248/*http://img.yandex.ru/market/informer2.png" border="0" alt="Оцените качество магазина на Яндекс.Маркете." />
    </a>
</div>
<?php
$news = new Actions_News_Model_News();
$newsCollection = $news->getCollection()
                       ->setOrder("created_time","desc")
                       ->setPageSize(4)
                       ->setCurPage(1)
                       ->addFilter('news_status', array("eq" => 1));;
?>
<?php if(count($newsCollection)) : ?>
<div class="news">
    <div>
        <h3 class="news-title">Новости</h3> <a href="http://vmashin.ru/news" class="all-news-link">все новости</a>
    </div>
    <div class="recent-news">
        <?php foreach($newsCollection as $_new) : ?>
            <?php $data = $_new->getData(); ?>
            <div class="news-container">
                <div class="news-date"><?php echo date("d.m.Y", strtotime($data['created_time'])); ?></div>
                <div class="news-link">
                    <a href="<?php echo $_new->getUrl(); ?>"><?php echo $data['title']; ?></a>
                </div>
            </div>
        <?php endforeach; ?>
    </div>
</div>
<?php endif; ?>
<div class="shipping-cities">
    <h3>Осуществляем доставку в следующие города:</h3>
    <ul>
        <li>Москва</li>
        <li>Санкт-Петербург</li>
        <li>Новосибирск</li>
        <li>Екатеринбург</li>
        <li>Нижний Новгород</li>
        <li>Казань</li>
        <li>Самара</li>
        <li>Челябинск</li>
        <li>Омск</li>
        <li>Ростов-на-Дону</li>
        <li>Уфа</li>
        <li>Красноярск</li>
        <li>Пермь</li>
        <li>Волгоград</li>
        <li>Воронеж</li>
        <li>а также по всей остальной России, а еще до Беларуси и Казахстана</li>
    </ul>
</div>
<?php
/*
$reviews = Mage::getModel('review/review')->getResourceCollection();
$reviews->addStoreFilter( Mage::app()->getStore()->getId() )
      ->addStatusFilter( Mage_Review_Model_Review::STATUS_APPROVED )
      ->setPageSize(4)
      ->setCurPage(1)
      ->setDateOrder()
      ->addRateVotes()
      ->load();//->getData();
*/
?>
<?php //if(count($reviews)): ?>
<!--div id="store-reviews">
    <h3>Недавние отзывы: </h3>
    <?php foreach($reviews as $_review): ?>
            <?php $_votes = $_review->getRatingVotes(); ?>
            <?php
                if(count($_votes)){
                    $votes = array();
                    foreach($_votes as $_vote){
                        $votes[] = $_vote->getPercent();
                    }
                    $totalPercentRating = round(array_sum($votes)/count($votes)/20,2);
                }else{
                    $totalPercentRating = 5;
                }
                $productId = $_review['entity_pk_value'];
                $_product = Mage::getModel('catalog/product')->load($productId);
            ?>
            <div itemprop="review" itemscope itemtype="http://schema.org/Review">
                <meta itemprop="author" content="<?= $this->escapeHtml($_review->getNickname()) ;?>" />
                <meta itemprop="itemReviewed" content="<?= $_product->getName() ;?>" />
                <dt>
                    <table class="ratings-table f-left">
                        <colgroup><col width="1"><col>
                        </colgroup>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="reviewed-product-img">
                                        <a rel="prev" title='<?php echo $this->escapeHtml($_product->getName()); ?>' href="<?php echo $_product->getProductUrl(); ?>">
                                            <img src="<?php echo $this->helper('catalog/image')->init($_product, 'thumbnail')->resize(50,null); ?>" width="50px" alt="<?php echo $this->escapeHtml($_product->getName()); ?>" />
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    <div class="rating-box">
                                        <div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                                            <meta itemprop="ratingValue" content="<?= $totalPercentRating; ?>" />
                                        </div>
                                        <div class="rateit static-review-rate" data-rateit-value="<?= $totalPercentRating;?>" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
                                        <div class="revieew-title" itemprop="name"><?= $this->escapeHtml($_review->getTitle()) ;?></div>
                                    </div>
                                    <div class="customer-review-nick">Автор: <strong><?= $this->escapeHtml($_review->getNickname()) ;?></strong> <small class="date">(<?= $this->formatDate($_review->getCreatedAt(), 'short'); ?>)</small></div> 
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="clearer"></div>
                </dt>
                <dd class="review-detail" itemprop="description">
                    <?= nl2br($this->escapeHtml($_review->getDetail())) ;?>
                </dd>
            </div>
    <?php endforeach; ?>
</div-->
<?php //endif; ?>
<script>
    jQuery(document).ready(
        function()
        {
            var hideButton = '<li class="buttonShowAll"><span>Показать все</span></li><li class="buttonHide"><span>Скрыть</span></li>';
            jQuery('li .hideCategory').parent().append(hideButton);
            
            if(jQuery('.hideCategory').length < 1)
            {
                jQuery('.buttonShowAll').hide();
            }
            jQuery('.buttonShowAll').bind(
                'click',
                function(event)
                {
                    var element = event.target;
                    jQuery(element).closest('ul').find('.hideCategory').show();
                    jQuery('.iSubCategories').find('.hideCategory').show();
                    jQuery(element).closest('ul').find('.buttonShowAll').hide();
                    jQuery(element).closest('ul').find('.buttonHide').show();
                }
            );
            jQuery('.buttonHide').bind(
                'click',
                function(event)
                {
                    var element = event.target;
                    jQuery(element).closest('ul').find('.hideCategory').show();
                    jQuery('.iSubCategories').find('.hideCategory').hide();
                    jQuery(element).closest('ul').find('.buttonShowAll').show();
                    jQuery(element).closest('ul').find('.buttonHide').hide();
                }
            );
        }
    );
</script>
<!-- /app/design/frontend/vmashin/default/template/catalog/navigation/top END --->