<?php
$bookmarks = $this->getBookmarks();
?>
<?php if (count($bookmarks)>0): ?>

<div class="social-bookmarking">
<p><span style="font-size: medium;">Рассказать друзьям:</span>
<?php foreach($bookmarks as $bookmark): ?>
	<a style="margin-left:17px;" href="<?php echo $bookmark->getBookmarkUrl() ?>" <?php echo $bookmark->getBookmarkTarget() ?> title="<?php echo $bookmark->getName() ?>" rel="nofollow"><?php echo $bookmark->getBookmarkImage() ?></a> 
<?php endforeach; ?>
</p>

</div>

<?php endif; ?>