<?php if($crumbs && is_array($crumbs)): ?>
<ul class="breadcrumbs" >
<?php foreach($crumbs as $_crumbName=>$_crumbInfo): ?>
	<li class="<?php echo $_crumbName ?>" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
	<?php if($_crumbInfo['link']): ?>
            <a href="<?php echo $_crumbInfo['link'] ?>" title="<?php echo $this->htmlEscape($_crumbInfo['title']) ?>" itemprop="url"><span itemprop="title"><?php echo $this->htmlEscape($_crumbInfo['label']) ?></span></a>
	<?php elseif($_crumbInfo['last']): ?>
		<p class="bold likespan"><?php echo $this->htmlEscape($_crumbInfo['label']) ?></p>
	<?php else: ?>
		<?php echo $this->htmlEscape($_crumbInfo['label']) ?>
	<?php endif; ?>
	<?php if(!$_crumbInfo['last']): ?>
		<span>&nbsp;</span>
	<?php endif; ?>
	</li>
<?php endforeach; ?>
</ul>
<?php endif; ?>
