<div id="footer-outer">
  <div id="footer">
    <div class="nav-cell">
        <?php echo $this->getCopyright() ?>
        <div class="yandex-market-footer">
            <a href="http://clck.yandex.ru/redir/dtype=stred/pid=47/cid=2508/*http://market.yandex.ru/shop/60639/reviews" target="_blank">
                <img src="http://clck.yandex.ru/redir/dtype=stred/pid=47/cid=2507/*http://grade.market.yandex.ru/?id=60639&action=image&size=2" border="0" width="150" height="101" alt="Читайте отзывы покупателей и оценивайте качество магазина на Яндекс.Маркете" />
            </a>
        </div>
    </div>
    <div class="contacts-cell">
    	<div class="contacts">
        <div class="phones-title">Консультация по телефону</div>
        <div class="phone">(495) 724-93-59</div>
        <div class="phone">(495) 724-93-89</div>
        <div class="worktime">Пн-Пт - с 10-00 до 19-00</div>
        <button onclick="callmeback_open()" class="button callmeback-button" type="button">Заказать звонок</button>
      </div>
    </div>
    <div class="cat-cell">
        <div style="margin-top: 10px">
            <div class="phone intercity-phone">8 (800) 700-93-89</div>
        </div>
        <?php echo $this->getChildHtml() ?>
    </div>
    <div class="menu-cell">&nbsp;</div>
  </div>
</div>
<script>
    jQuery(document).ready(function(){
        jQuery('#vvc_proceed').live('click', function(){
            window.location.href='';
        });        
        jQuery('#popup_ok').live('click', function(){
            window.location.href='';
        });         
    });
</script>
<div onclick="callmeback_close()" id="callmeback-popup-overlay" style="display:none; position: absolute; z-index: 99998; top: 0px; left: 0px; width: 100%; height: 13478px; background: none repeat scroll 0% 0% rgb(255, 255, 255); opacity: 0.01;"></div>
<script type="text/javascript">
    function callmeback_open(){
        document.getElementById('callmeback-container').style.display = 'block';
        document.getElementById('callmeback-popup-overlay').style.display = 'block';
    }

    function callmeback_close(){
        document.getElementById('callmeback-container').style.display = 'none';
        document.getElementById('callmeback-popup-overlay').style.display = 'none';
    }
</script>
<!-- Begin: www.iperceptions.com --> <!--<script src="http://ips-invite.iperceptions.com/webValidator.aspx?sdfc=e53c3e80-109472-97ebf85c-7e43-4ff0-a304-dd8d2d8973e5&lID=20&loc=STUDY&cD=90&rF=False&iType=1&domainname=0" type="text/javascript" defer="defer" ></script><!-- End: www.iperceptions.com -->
<!-- Yandex.Metrika counter --><script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter5542432 = new Ya.Metrika({id:5542432, params:window.yaParams, webvisor:true, clickmap:true, trackLinks:true, accurateTrackBounce:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/5542432" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->
