<div id="footer-outer">
  <div id="footer">
  	<div class="nav-cell"><?php echo $this->getCopyright() ?></div>
    <div class="contacts-cell">
    	<div class="contacts">
        <div class="phones-title">Консультация по телефону</div>
        <div class="phone">(495) 724-93-59</div>
        <div class="phone">(495) 724-93-89</div>
        <div class="worktime">Пн-Пт - с 10-00 до 19-00</div>
        <a class="callmeback" href="/callmeback">Заказать звонок</a>
      </div>
    </div>
    <div class="cat-cell"><?php echo $this->getChildHtml() ?></div>
    <div class="menu-cell">&nbsp;</div>
  </div>
</div>