<div id="footer-outer">
  <div id="footer">
  	<div class="nav-cell"><?php echo $this->getCopyright() ?></div>
    <div class="contacts-cell">
    	<div class="contacts">
        <div class="phones-title">Консультация по телефону</div>
        <div class="phone">(495) 724-93-59</div>
        <div class="phone">(495) 724-93-89</div>
        <div class="worktime">Пн-Пт - с 10-00 до 19-00</div>
        <a class="callmeback" href="/callmeback">Заказать звонок</a>
      </div>
    </div>
    <div class="cat-cell"><?php echo $this->getChildHtml() ?></div>
    <div class="menu-cell">&nbsp;</div>
  </div>
</div>
<!-- Yandex.Metrika counter --><script type="text/javascript">(function (d, w, c) { var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f); } else { f(); } (w[c] = w[c] || []).push(function() { try { w.yaCounter5542432 = new Ya.Metrika({id:5542432, enableAll: true, webvisor:true}); } catch(e) {} }); })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/5542432" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->