<meta charset="utf-8">
<title><?php echo $this->getTitle() ?></title>
<meta name="description" content="<?php echo htmlspecialchars($this->getDescription()) ?>" />
<meta name="keywords" content="<?php echo htmlspecialchars($this->getKeywords()) ?>" />
<?php if( ! $this->isMetaTagRobotsRemoved()) :?>
    <meta name="robots" content="<?php echo htmlspecialchars($this->getRobots()) ?>" />
<?php endif; ?>
<link rel="icon" href="<?php echo $this->getFaviconFile(); ?>" type="image/x-icon" />
<link rel="shortcut icon" href="<?php echo $this->getFaviconFile(); ?>" type="image/x-icon" />

<script type="text/javascript" src="<?php echo Mage::getBaseUrl('js').'jquery/jquery.js'?>"></script>
<script type="text/javascript" src="<?php echo Mage::getBaseUrl('js').'jquery/jquery.noconflict.js' ?>"></script>
<script type="text/javascript" src="<?php echo Mage::getBaseUrl('js').'jquery/jquery-ui.js' ?>"></script>
<?php echo $this->getCssJsHtml() ?>
<?php echo $this->getChildHtml() ?>
<?php echo $this->helper('core/js')->getTranslatorScript() ?>
<?php echo $this->getIncludes() ?>


<script type="text/javascript" src="<?php echo Mage::getBaseUrl('js').'lightbox/jquery.lightbox-0.5.js' ?>"></script>
<script type="text/javascript" src="<?php echo Mage::getBaseUrl('js').'varien/jquery.alerts.js' ?>"></script>
<script type="text/javascript" src="<?php echo Mage::getBaseUrl('js').'carousel/carousel.js' ?>"></script>
<script type="text/javascript" src="<?php echo Mage::getBaseUrl('js').'jquery/jquery.printf.js' ?>"></script>
<script type="text/javascript" src="<?php echo Mage::getBaseUrl('js').'mana/core.js' ?>"></script>
<script type="text/javascript" src="<?php echo Mage::getBaseUrl('js').'jquery/jquery.easing.js' ?>"></script>
<script type="text/javascript" src="<?php echo Mage::getBaseUrl('js').'jquery/advListRotator.js' ?>"></script>
<script type="text/javascript" src="<?php echo Mage::getBaseUrl('js').'jquery/validate/jquery.validate.js' ?>"></script>

<!-- Google Universal Analytics openstat code by Netpeak start -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-27639858-1');
        var OpenStatParser = {
            _params: {},
            _parsed: false,
            _decode64: function(data) {
                if (typeof window['atob'] === 'function') {
                    return atob(data);
                }
                var b64 = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=";
                var o1, o2, o3, h1, h2, h3, h4, bits, i = 0,
                    ac = 0,
                    dec = "",
                    tmp_arr = [];
                if (!data) {
                    return data;
                }
                data += '';
                do {
                    h1 = b64.indexOf(data.charAt(i++));
                    h2 = b64.indexOf(data.charAt(i++));
                    h3 = b64.indexOf(data.charAt(i++));
                    h4 = b64.indexOf(data.charAt(i++));
                    bits = h1 << 18 | h2 << 12 | h3 << 6 | h4;
                    o1 = bits >> 16 & 0xff;
                    o2 = bits >> 8 & 0xff;
                    o3 = bits & 0xff;
                    if (h3 == 64) {
                        tmp_arr[ac++] = String.fromCharCode(o1);
                    } else if (h4 == 64) {
                        tmp_arr[ac++] = String.fromCharCode(o1, o2);
                    } else {
                        tmp_arr[ac++] = String.fromCharCode(o1, o2, o3);
                    }
                } while (i < data.length);
                dec = tmp_arr.join('');
                return dec;
            },
            _parse: function() {
                var prmstr = window.location.search.substr(1);
                var prmarr = prmstr.split('&');
                this._params = {};
                for (var i = 0; i < prmarr.length; i++) {
                    var tmparr = prmarr[i].split('=');
                    this._params[tmparr[0]] = tmparr[1];
                }
                this._parsed = true;
            },
            hasMarker: function() {
                if (!this._parsed) {
                    this._parse();
                }
                return (typeof this._params['_openstat'] !== 'undefined') ? true : false;
            },
            buildCampaignParams: function() {
                if (!this.hasMarker()) {
                    return false;
                }
                var openstat = this._decode64(this._params['_openstat']);
                var statarr = openstat.split(';');
                utmcampaign = statarr[3];
                utmsource = statarr[0];
                utmcontent = statarr[2];
            }
        }
        if (OpenStatParser.hasMarker()) {
            var campaignParams = OpenStatParser.buildCampaignParams();
            if (campaignParams !== false) {
                ga('set', {'campaignName': utmcampaign, 'campaignSource': utmsource, 'campaignMedium': 'cpc', 'campaignContent': utmcontent});
            }
        }
        ga('send', 'pageview');
    </script>
    <!-- Google Universal Analytics openstat code by Netpeak end -->

<script type="text/javascript">
jQuery(document).ready(function() {
    jQuery('.product-image-wrapper a.lightbox').lightBox();
    
    var stepNumber = 1;
    jQuery('#checkoutSteps > li').each(function(index) {
        if(jQuery(this).css("display") != "none")
        {
            jQuery("span.number", this).html(stepNumber);
            stepNumber = stepNumber + 1;
        }
    });
}); 
</script>
<script>
                    var VVC_SETTINGS = {
                        shop_id  : 2096,
                        user_id  : 1,
                        order_id : 0,
                        css      : 'red',
                        response : function(result){}
                    };
</script>
<script type="text/javascript">
var __cs = __cs || [];
__cs.push(["setAccount", "vTgirzek6HOsEIan3WwhouNEPkQwvOG1"]);
__cs.push(["setHost", "http://server.comagic.ru/comagic"]);
</script>
<script type="text/javascript" async src="http://app.comagic.ru/static/cs.min.js"></script>
<script type="text/javascript">
    function hide_lightbox(){
        document.getElementById('popup_overlay').style.display = 'none';
        document.getElementById('popup_container').style.display = 'none';
    }
</script>
