﻿<div class="top-red-row">&nbsp;</div>
<div class="top-white-row">&nbsp;</div>
<div class="top-grey-row">&nbsp;</div>
<div id="header">
  <div class="left-wrapper">
    <a href="/" class="trade-mark">Время Машин</a>
    <div class="f-slogan">Радиоуправляемые модели</div>
  </div><div class="right-wrapper">
    <div class="contacts">
      <div class="phone">8 (495) 724-93-59</div>
      <div class="phone intercity-phone">8 (800) 700-93-89</div>
      <div class="freecall">Бесплатные звонки по России</div>
      <button onclick="callmeback_open()" class="button callmeback-button" type="button">Заказать звонок</button>
    </div><div class="right-wrapper">
        <div class="phone add_phone">8 (495) 724-93-89</div>
	<div class="sign-in">
        <?php if (! Mage::getSingleton('customer/session')->isLoggedIn()): ?>
            <a class="sign-in-link" href="<?php echo Mage::helper('customer')->getLoginUrl(); ?>"><?php echo $this->__('Login') ?></a><a href="/customer/account/create/" class="reg-link"><span class="text">Зарегистрироваться</span></a>
        <?php else: ?>
            <a class="sign-out-link" href="<?php echo Mage::helper('customer')->getLogoutUrl(); ?>"><?php echo $this->__('Выйти') ?></a><a class="my-profile" href="/customer/account/"><span><?php echo $this->__('Мой кабинет') ?></span></a>
        <?php endif; ?>
     </div>
            <div class="search-mini-form">
				<?php echo $this->getChildHtml('topSearch') ?>
                <div class="worktime">ПН-ПТ 10:00 - 19:00</div>
            </div>
			<?php echo $this->getChildHtml('top_cart'); ?>
    </div>
  </div>
  <div class="top-menubar">
    <menu class="top-menu">
      <li class="first"><a href="/discount.html">Скидки</a></li>
      <li><a href="/oplata.html">Оплата</a></li>
      <li><a href="/dostavka.html">Доставка</a></li>
      <li><a href="/service.html">Сервис</a></li>
      <li><a href="/credit.html">ВСЁ В КРЕДИТ</a></li>
      <li><a href="/adresa-magazinov.html">Наш адрес</a></li>
      <li><a href="/garantija.html">Гарантия</a></li>
      <li><a href="/articles.html">Статьи</a></li>
      <li class="last"><a href="/contacts">Контакты</a></li>
    </menu>
  </div>
</div>
<?php echo $this->getChildHtml('topMenu') ?>
<div id="float_header">
    <div id="float_header_content">
        <div class="left-wrapper left">
            <a href="/" class="trade-mark">Время Машин</a>
            <div class="f-slogan">Радиоуправляемые модели</div>
        </div>
        <div class="contacts left">
          <div class="phone intercity-phone">8 (800) 700-93-89</div>
          <div class="phone">8 (495) 724-93-89</div>
        </div>
        <div class="search-mini-form left">
            <?php echo $this->getChildHtml('topSearch') ?>
            <div class="worktime"> ПН-ПТ 10:00 - 19:00</div>
        </div>
        <?php echo $this->getChildHtml('top_cart'); ?>
    </div>
</div>
<script>
var iScrollPos = 0;
jQuery(document).ready(function($){
    $(window).scroll(function () {
        var iCurScrollPos = $(this).scrollTop();
        if(iCurScrollPos > 60){
            $('#float_header').show();
        }else{
            $('#float_header').hide();
        }
    });    
}); 
</script>