<?php
/**
 * Pager template
 *
 * @see Mage_Page_Block_Html_Pager
 */
?>
<?php if($this->getCollection()->getSize()): ?>

<?php if($this->getLastPageNum()>1): ?>
<div class="pagination">
	<?php if (!$this->isFirstPage()): ?>
            <?php if($this->isPageCurrent(2)) : ?>
                <a class="page-previuos" href="<?php echo $this->getPageUrl(null); ?>" title="<?php echo $this->__('Previous') ?>">&nbsp;</a>
            <?php else : ?>
                <a class="page-previuos" href="<?php echo $this->getPreviousPageUrl() ?>" title="<?php echo $this->__('Previous') ?>">&nbsp;</a>
            <?php endif; ?>
	<?php endif;?>

	<?php if ($this->canShowFirst()): ?>
		<a class="page first" href="<?php echo $this->getPageUrl(null); ?>">1</a>
	<?php endif;?>
	<?php foreach ($this->getFramePages() as $_page): ?>
		<?php if ($this->isPageCurrent($_page)): ?>
		<span class="page current"><?php echo $_page ?></span>
		<?php else: ?>
                    <?php if($_page == 1) : ?>
                        <a class="page" href="<?php echo $this->getPageUrl(null)  ?>"><?php echo $_page ?></a>
                    <?php else : ?>
                        <a class="page" href="<?php echo $this->getPageUrl($_page) ?>"><?php echo $_page ?></a>
                    <?php endif; ?>
		<?php endif;?>
	<?php endforeach;?>

	<?php if ($this->canShowLast()): ?>
		<a class="page last" href="<?php echo $this->getLastPageUrl() ?>"><?php echo $this->getLastPageNum() ?></a>
	<?php endif;?>

	<?php if (!$this->isLastPage()): ?>
		<a class="page-next" href="<?php echo $this->getNextPageUrl() ?>" title="<?php echo $this->__('Next') ?>">&nbsp;</a>
	<?php endif;?>
</div>
<?php endif; ?>
		
<?php endif ?>
