<?php
/**
 * Product list toolbar
 *
 * @see Mage_Catalog_Block_Product_List_Toolbar
 */
?>
<?php if($this->getCollection()->getSize()): ?>
<div class="toolbar-wrapper">
	<?php echo $this->getPagerHtml() ?>
	<div class="toolbar">
		<div class="limiter-wrapper">
			<label>
				<span class="label">Показать</span>
				<select onchange="setLocation(this.value)">
				<?php foreach ($this->getAvailableLimit() as  $_key=>$_limit): ?>
					<option value="<?php echo $this->getLimitUrl($_key) ?>"<?php if($this->isLimitCurrent($_key)): ?> selected="selected"<?php endif ?>>
						<?php echo $_limit ?>
					</option>
				<?php endforeach; ?>
				</select>
			</label>
		</div>   
		<?php if( $this->isExpanded() ): ?>	
		<div class="sorter-wrapper">
			<label>
				<span class="label">Тип сортировки</span>
				<select onchange="setLocation(this.value)">
				<?php foreach($this->getAvailableOrders() as $_key=>$_order): ?>
					<option value="<?php echo $this->getOrderUrl($_key, 'asc') ?>"<?php if($this->isOrderCurrent($_key)): ?> selected="selected"<?php endif; ?>>
						<?php echo $this->__($_order) ?>
					</option>
				<?php endforeach; ?>
				</select>
			</label>
			<?php if($this->getCurrentDirection() == 'desc'): ?>
				<a style="font-size: 1.4em" class="sort-asc bold" href="<?php echo $this->getOrderUrl(null, 'asc') ?>" title="<?php echo $this->__('Set Ascending Direction') ?>">&#8593;</a>
			<?php else: ?>
				<a style="font-size: 1.4em" class="sort-desc bold" href="<?php echo $this->getOrderUrl(null, 'desc') ?>" title="<?php echo $this->__('Set Descending Direction') ?>">&#8595;</a>
			<?php endif; ?>
		</div>
		<?php endif; ?>
	</div>
</div>
<?php endif ?>
