<?php

/**
 * Shoping cart sidebar
 *
 * @see Mage_Checkout_Block_Cart_Sidebar
 */

?>
<?php if ($this->getIsNeedToDisplaySideBar()):?>
<?php $_cartQty = $this->getSummaryCount() ?>
	<div class="mod-cart">
		<div class="mod-cart-info">
			<?php if ($_cartQty>0): ?>
				<?php if ($_cartQty==1): ?>
					<u>1</u> товар = <u><?php echo $this->getSubtotal() ?></u> руб.
				<?php else: ?>
					<u><?php echo $this->__('%s', $_cartQty) ?></u> товаров = <u><?php echo $this->getSubtotal() ?></u> руб.
				<?php endif ?>
			<?php else: ?>
				<?php echo $this->__('You have no items in your shopping cart.') ?>
			<?php endif; ?>
			<button type="button" class="button" onclick="location.href='/checkout/cart/'">Перейти в корзину</button>
                        <?php //information for Yandex Metrika
                            $magentoCurrentUrl = Mage::helper('core/url')->getCurrentUrl();

                            if(strstr($magentoCurrentUrl, 'checkout/onepage/success')){

                                $yaParams = array();
                                $yaParams['order_id'] = Mage::getSingleton('checkout/session')->getLastRealOrderId();
                                $order = Mage::getModel('sales/order')->load($yaParams['order_id'], 'increment_id');
                                $yaParams['order_price'] = $order->getGrandTotal() - $order->getShippingAmount();
                                $yaParams['currency'] = "RUR";

                                $_items = $order->getAllItems();
                                foreach($_items as $_item){
                                    $item = array();
                                    $item['id'] = $_item->getId();
                                    $item['name'] = $_item->getName();
                                    $item['quantity'] = $_item->getData('qty_ordered');
                                    $item['price'] = $_item->getPrice();
                                    $yaParams['goods'][] = $item;
                                }
                                $yaParams = json_encode($yaParams);
                                ?>
                                <script>// < ![CDATA[
                                // < ![CDATA[
                                    var yaParams = <?=$yaParams;?>;
                                    window.onload = function() {
                                        yaCounter5542432.reachGoal('ORDER_SUBMIT', yaParams);
                                    }
                                // ]]></script>
                                <?php
                            }
                        ?>
		</div>
	</div>
<?php endif;?>
