<?php 
/**
 * @category    Inchoo
 * @package     Inchoo_Prevnext
 * @author      Branko Ajzele <ajzele@gmail.com>
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
?>
<?php $_prev = $this->getPreviousProduct(); ?>
<?php $_next = $this->getNextProduct(); ?>

<?php if($_prev || $_next): ?>
<div class="prevnext-container">
    
    <?php if($_prev): ?>
    <div class="prevnext-product">
        <a rel="prev" title='<?php echo $this->escapeHtml($_prev->getName()); ?>' href="<?php echo $_prev->getProductUrl(); ?>">
            <img src="<?php echo $this->helper('catalog/image')->init($_prev, 'small_image')->resize(180,225); ?>" width="180" height="225" alt="<?php echo $this->escapeHtml($_prev->getName()); ?>" />
            <span>&laquo; Предыдущий товар</span>
        </a>
    </div>
    <?php endif; ?>

    <?php if($_next): ?>
    <div class="prevnext-product">
        <a rel="next" title='<?php echo $this->escapeHtml($_next->getName()); ?>' href="<?php echo $_next->getProductUrl(); ?>">
            <img src="<?php echo $this->helper('catalog/image')->init($_next, 'small_image')->resize(180,225); ?>" width="180" height="225" alt="<?php echo $this->escapeHtml($_next->getName()); ?>" />
            <span>Следующий товар &raquo;</span>
        </a>
    </div>
    <?php endif; ?>

</div>
<?php endif; ?>
