<?php 
/* @var $this Rugento_Vsevcredit_Block_Form */
?>
<ul id="payment_form_<?php echo $this->getMethodCode()?>" style="display: none" class="form-list">
	<li>	
		 <?php echo $this->__($this->getMethodDescription()); ?>
    </li>
</ul>