<?php if ($this->isPaymentsLink()) : ?>
    <div id="VVC_BUTTON_12345" style="display:none;">
        <?php echo $this->getOrderData();?>
    </div>
    <script type="text/javascript">
    VVC.onBuy(<?php echo $this->getOrderData();?>, 5);
    </script>
<?php endif;?>