<?php
/**
 * Product list template
 *
 * @see Mage_Catalog_Block_Product_List
 */
?>
<?php
    $_productCollection=$this->getLoadedProductCollection();
    $_helper = $this->helper('catalog/output');
    $storeId = Mage::app()->getStore()->getId();
//    echo $_productCollection->getSelect(); exit;
?>
<?php if(!$_productCollection->count()): ?>
<p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
<?php else: ?>
<div class="category-products">
<?php echo $this->getToolbarHtml() ?>

<?php // Grid Mode ?>

<?php $_collectionSize = $_productCollection->count() ?>
<?php $_columnCount = $this->getColumnCount(); ?>
<?php $i=0; foreach ($_productCollection as $_product): ?>
    
    
<?php
    $_taxHelper  = $this->helper('tax');
    $_price = $_taxHelper->getPrice($_product, $_product->getPrice());
    if($_price < 5000){
        $bonus = 3;
    }elseif($_price < 10000){
        $bonus = 5;
    }elseif ($_price < 35000){
        $bonus = 7;
    }else{
        $bonus = 10;
    }
?>
    
<!--    --><?php //echo $_productCollection->getSelect();  ?>
    <?php if ($i++%$_columnCount==0): ?>
    <div class="catalogue-grid-view ">
<?php endif ?>
        <div class="catalogue-product-cell item<?php if(($i-1)%$_columnCount==0): ?> first<?php elseif($i%$_columnCount==0): ?> last<?php endif; ?>">
            <div class="outline-container">
                <div class="informational-catalogue-product-cell">
                    <?php #TODO INL: Label Begin ?>
                    <?php echo Mage::helper('label')->getLabel($_product, 'category', 135); ?>
                    <?php #TODO INL: Label END ?>
                    <a href="<?php echo $_product->getProductUrl() ?>" class="catalogue-product-image">
                        <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')
                                                                            ->constrainOnly(true)
                                                                            ->keepAspectRatio(true)
                                                                            ->keepFrame(true)
                                                                            ->resize(230,180)
                                                                            ?>" width="230" alt="<?php echo $this->htmlEscape($_product->getName()) ?>">
                    </a>
                    <?php if($bonus): ?>
                    <div class="catalog-product-bonus-container">
                        <div class="product-bonus">
                            <noindex><a href="http://vmashin.ru/discount.html" target="_blank">Бонус</a>: <span class="bonus-size"><?= $bonus; ?>%</span></noindex>
                        </div>
                    </div>
                    <?php endif; ?>
                    <noindex>
                        <a href="<?php echo $product_url = $_product->getProductUrl(); ?>" class="catalogue-product-name">
                            <?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?>
                        </a>
                    </noindex>
                    <!--span class="availability">
                    <?php $qty = Mage::getModel('cataloginventory/stock_item')->loadByProduct($_product)->getQty() ?>

                    <?php if($_product->isSaleable() && $qty > 0): ?>
                        <?php echo $this->__('In stock') ?>
                    <?php else: ?>
                        <?php echo 'Уточняйте наличие';//$this->__('Out of stock') ?>
                    <?php endif; ?> 
                    </span-->
                    <?php
                        // get product`s review info
                        $storeId = Mage::app()->getStore()->getId();
                        $summaryData = Mage::getModel('review/review_summary')
                                                                ->setStoreId($storeId)
                                                                ->load($_product->getId());
                        $rating = $summaryData['rating_summary'] ? $summaryData['rating_summary']/20 : 0;
                        $reviews = $summaryData['reviews_count'] ? $summaryData['reviews_count'] : 0;
                    $storeId = Mage::app()->getStore()->getId();
                    ?>
                        <div class='catalog-review-summary'>
                            <div class="rateit" data-rateit-value="<?= $rating ;?>" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
                            <div class="ratings">
                                <div class="rating-box">
                                    <div class='ratings-total-count'><a href="<?=$product_url;?>#product-review"><?php echo $reviews; ?> отзывов</a></div>
                                </div>
                            </div>
                        </div>
            </div>
                <div class="description-catalogue-product-cell">
                    <?php
                        $filters = Mage::helper('mana_filters')->getFilterOptionsCollection();
                        $addAttr = $_product->getAttributes(); //array of Mage_Catalog_Model_Resource_Eav_Attribute
                    ?>
                    <!-- Short Attributes Block -->
                        <!--table>
                            <?php
                            foreach ($filters as $_filter){
                                 if(($_filter->getShowMoreItemCount()>0)
                                     && ($_filter->getDisplay()=='checkboxes')
                                     && !empty($addAttr[$_filter->getCode()]))
                                 {
                             ?>
                                 <tr>
                                     <th class="label"><?php echo $addAttr[$_filter->getCode()]->getFrontendLabel();?></th>
                                     <td class="data"><?php if($value=Mage::getModel('catalog/product')->load($_product->getId())->getAttributeText($_filter->getCode())){echo $value;}else{echo "Нет";};?></td>
                                 </tr>
                             <?php
                                     }
                                 }
                             ?>
                        </table-->
                    <!-- END Short Attributes Block -->
                </div>
                <div class="price-catalogue-product-cell">
                    <div class="up">
                        <span class="ajax_loader" id='ajax_loader<?=$_product->getId()?>' style='display:none'><img src='/skin/frontend/vmashin/default/images/opc-ajax-loader.gif' /></span>
                        <?php if($_product->isAvailable() && $qty > 0): ?>
                            <button type="button" class="btn-buy" onclick="addAjaxCart('<?php echo $this->getAddToCartUrl($_product) ?>','<?=$_product->getId()?>')">Купить</button>
                        <?php else: ?>
                            <button type="button" class="btn-buy" onclick="sendOrderAjaxCart('<?php echo $this->getAddToCartUrl($_product) ?>','<?=$_product->getId()?>')">Заказать</button>
                        <?php endif; ?>
                    </div>
                    <div class="down">
                        <div class="left-price">
                            <?php echo $this->getPriceHtml($_product, true) ?>
                        </div>
                        <div class="right-buy">
                            <button style="bottom:40px;" class="btn-buy-credit" onclick="loadVseVKredit('<?php echo $this->getAddToCartUrl($_product) ?>','<?=$_product->getId()?>');">Купить в кредит</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<?php if ($i%$_columnCount==0 || $i==$_collectionSize): ?>
    </div>
<?php endif ?>
<?php endforeach ?>
<script type="text/javascript">decorateGeneric($$('ul.products-grid'), ['odd','even','first','last'])</script>

    <div class="toolbar-bottom">
    <?php echo $this->getToolbarHtml() ?>
    </div>
</div>
<script type="text/javascript">
//<![CDATA[
function addAjaxCart(url,id){
    var data = 'product='+id+'&related_products=&qty=1&isAjax=1';
    jQuery('#ajax_loader'+id).show();
    try {
        jQuery.ajax({
        url: url,
        dataType: 'json',
        type : 'post',
        data: data,
        success: function(data){
            jQuery('.mod-cart').load('http://vmashin.ru/ajax.php');
            jQuery('#ajax_loader'+id).hide();
            data.message=data.message+'<br /><div class="gocart"><a href="/checkout/cart/">Перейти в корзину</a></div>';
            jAlert(data.message, 'Товар добавлен');
            //    alert(data.status + ": " + data.message);
        }
        });
    } catch (e) {}
}
function sendOrderAjaxCart(url,id){
    var data = 'product='+id+'&related_products=&qty=1&isAjax=1';
    jQuery('#ajax_loader'+id).show();
    try {
        jQuery.ajax({
        url: url,
        dataType: 'json',
        type : 'post',
        data: data,
        success: function(data){
            jQuery('.mod-cart').load('http://vmashin.ru/ajax.php');
            jQuery('#ajax_loader'+id).hide();
            data.message=data.message+'<br /><div class="gocart"><a href="/checkout/cart/">Перейти в корзину</a></div>';
            jAlert(data.message, 'Заказ отправлен');
            //    alert(data.status + ": " + data.message);
        }
        });
    } catch (e) {}
}
//]]>
function addCreditToCart(url,id){
    var data = 'product='+id+'&related_products=&qty=1&isAjax=1';
    jQuery('#ajax_loader'+id).show();
    try {
        jQuery.ajax({
        url: url,
        dataType: 'json',
        type : 'post',
        data: data,
        success: function(data){
            jQuery('.mod-cart').load('http://vmashin.ru/ajax.php');
            jQuery('#ajax_loader'+id).hide();
            VVC.gui.addCreditInfoWindow('/checkout/cart/'); 
        }
        });
    } catch (e) {}
}
function loadVseVKredit(url, id){
    var vkredit_css = jQuery('head link[href*="vsevcredit.ru"]');
    var script_url = "http://vsevcredit.ru/js/vvclib.js";
    if(vkredit_css.attr('href')){
        addCreditToCart(url,id);
    }else{
        jQuery.getScript(script_url, function(){
            addCreditToCart(url,id);
        });
    }
}
</script>
<?php endif; ?>
