

<?php
/**
 * Product view template
 *
 * @see Mage_Catalog_Block_Product_View
 * @see Mage_Review_Block_Product_View
 */
?>
<?php $_helper = $this->helper('catalog/output'); ?>
<?php 
    $_product = $this->getProduct();
    $shippingPrice = ((int)$_product->getPrice() > 7000) ? 'бесплатно' : '300 р';
?>
<?php
$manufacturerAttributes = array(
    'battery_manufacturer',
    'boat_manufacturer',
    'heli_manufacturer',
    'other_manufacturer',
    'manufacturer',
);
$manufacturerStr = '';
foreach ($manufacturerAttributes as $attributeCod) {
    if ($_product->getData($attributeCod))
        $manufacturerStr .= $_product->getResource()->getAttribute($attributeCod)->getFrontend()->getValue($_product);
}

// Define filterable attributes
$attributes = new Mage_Catalog_Block_Product_View_Attributes;
$addAttr = $attributes->getAdditionalData();
$filters = Mage::helper('mana_filters')->getFilterOptionsCollection();

// get product`s review info
$_product = $this->getProduct(); //get the product in cart
$storeId = Mage::app()->getStore()->getId();
$summaryData = Mage::getModel('review/review_summary')
                                        ->setStoreId($storeId)
                                        ->load($_product->getId());
$rating = $summaryData['rating_summary'] ? $summaryData['rating_summary']/20 : 0;
$reviews = $summaryData['reviews_count'] ? $summaryData['reviews_count'] : 0;

//get price for meta
$_taxHelper  = $this->helper('tax');
$_price = $_taxHelper->getPrice($_product, $_product->getPrice());
if($_price < 5000){
    $bonus = 3;
}elseif($_price < 10000){
    $bonus = 5;
}elseif ($_price < 35000){
    $bonus = 7;
}else{
    $bonus = 10;
}
?>
<script type="text/javascript">
    var optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);
</script>
<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
<script type="text/javascript">
//if(!$('messages_product_view').empty()){
	// var elem = $$('li.success-msg').first();
	// var innerText=elem.innerHTML;
	// innerText = innerText + '<div class="mpv_co"><a href="/">Продолжить покупки</div><div class="mpv_ca"><a href="/checkout/cart/">Перейти в корзину</div><div class="clear"></div>';
	// elem.update(innerText);
	// $('over').show();
// }
</script>
<div class="product-view">
    <div class="product-essential" id="product-essential">
        <div class="no-display">
            <input type="hidden" name="product" value="<?php echo $_product->getId() ?>" />
            <input type="hidden" name="related_product" id="related-products-field" value="" />
        </div>
        <div id="product-shop-container">
            <div class="product-shop">
                <div class="product-name">
                    <h1 itemprop="name"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h1>
                </div> 
                <!--<div id="VVC_BUTTON_STYLE4_COLORRED_ROUND_<?php echo $_product->getId();?>" style="display:none; ">{id:<?php echo $_product->getId();?>,title:'<?php echo $_product->getName();?>',amount:<?php echo $_product->getPrice();?>,info:'<?php echo $_product->getName();?>'}</div>					-->          
                <div class="left-asside" id="left-asside">
                    <!--div class="availability in-stock">
                        <span class="product_availability" itemid="http://schema.org/InStock" itemtype="http://schema.org/ItemAvailability" itemscope="">
                            <?php $qty = Mage::getModel('cataloginventory/stock_item')->loadByProduct($_product)->getQty() ?>
                            <?php if ($_product->isAvailable() && $qty > 0): ?>
                                    <?php echo $this->__('In stock') ?>
                            <?php else: ?>
                                    <?php echo "Уточняйте наличие"//$this->__('Out of stock') ?>
                            <?php endif; ?>
                        </span>
                    </div-->
                    <?php if($manufacturerStr): ?>
                    <div class="manufacturer"><span>Производитель: <span  itemprop="manufacturer"><?php echo nl2br($manufacturerStr) ?></span></span></div>
                    <?php endif; ?>
                    <?php if($_product->getManufacturerCod()): ?>
                        <div class="manufacturer-cod"><span>Артикул: <?php echo nl2br($_product->getManufacturerCod()) ?></span></div>
                    <?php endif; ?>
                        <div class="sku" ><span>Код: <span itemprop="sku"><?php echo nl2br($_product->getSku()) ?></span></div>
                        <div class='review-summary' itemtype="http://schema.org/AggregateRating" itemscope="" itemprop="aggregateRating">
                            <div class="rateit" data-rateit-value="<?= $rating ;?>" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
                            <meta content="<?= $rating ;?>" itemprop="ratingValue">
                            <div class="ratings">
                                <div class="rating-box">
                                    <div class='ratings-total-count'><a href="#product-reviews"><span itemprop="reviewCount"><?php echo $reviews; ?></span> отзывов</a> | <a href="#" onClick="add_review()">Оставить отзыв</a></div>
                                </div>
                            </div>
                        </div>
                        <?php if($bonus): ?>
                        <div class="product-bonus-container">
                            <div class="product-bonus">
                                <noindex><a href="http://vmashin.ru/discount.html" target="_blank">Бонус</a>: <span class="bonus-size"><?= $bonus; ?>%</span></noindex>
                            </div>
                        </div>
                        <?php endif; ?>
                </div>
            <!-- Short Attributes Block -->
                <table>
                     <?php
                         foreach ($filters as $_filter){                            
                             if(($_filter->getShowMoreItemCount()>0)
                                 && ($_filter->getDisplay()=='checkboxes')
                                 && !empty($addAttr[$_filter->getCode()]))
                             { 
                     ?>                                
                         <tr>
                             <th class="label"><?php echo $addAttr[$_filter->getCode()]['label']; ?></th>
                             <td class="data"><?php echo $addAttr[$_filter->getCode()]['value']; ?></td>
                         </tr>                               
                     <?php
                             }
                         }
                     ?>                                                   
                </table>
            <!-- END Short Attributes Block -->
                <div class="clear"></div>                                                 
                <div class="share-buttons">
                    <script type="text/javascript">(function() {
                      if (window.pluso)if (typeof window.pluso.start == "function") return;
                      if (window.ifpluso==undefined) { window.ifpluso = 1;
                        var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
                        s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
                        s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
                        var h=d[g]('body')[0];
                        h.appendChild(s);
                      }})();</script>
                    <div class="pluso" data-background="#ebebeb" data-options="medium,square,line,horizontal,counter,theme=01" data-services="vkontakte,odnoklassniki,facebook,twitter,google,email,moimir,print"></div>
                </div>
                <div class="bookmark">
                    <?php echo $this->getChildHtml('bookmarks') ?>
                </div>
            </div> 
        </div>
    </div>
    <?php if ($_product->getShortDescription()):?>
    <div class="short-description" itemprop="description">
        <?php echo $_helper->productAttribute($_product, nl2br($_product->getShortDescription()), 'short_description') ?>
    </div>
    <?php endif;?>       
    <div class="product-collateral" id="product-collateral">
	<?php $_description = $this->getProduct()->getDescription(); ?>
            <ul class="tabs">
                <?php if ($_description): ?>
                <li class="tab">
                    <a href="#box-description">Полное описание</a>
                    <span>&nbsp;</span>
                </li>
		<?php endif; ?>
                <li class="tab">
                    <a href="#box-additional">Характеристики</a>
                    <span>&nbsp;</span>
                </li>
                <?php $video = Mage::getModel('catalog/product')->load($_product->getId())->getModelVideo(); ?>
                <?php if($video != ''): ?>
                <li class="tab">
                    <a href="#box-video">Видео</a>
                    <span>&nbsp;</span>
                </li>
		<?php endif; ?>
                <li class="tab">
                    <a href="#pane-3">Запчасти</a>
                    <span>&nbsp;</span>
                </li>            
            </ul>
            <?php foreach ($this->getChildGroup('detailed_info', 'getChildHtml') as $alias => $html):?>
            <div class="pane" id="<?php echo "box-{$alias}"?>">
                <?php echo $html; ?>
            </div>
            <?php endforeach;?>
            <?php if($video != ''): ?>
            <div class="pane" id="<?php echo "box-video"?>">
                <?php echo $video; ?>
            </div>
            <?php endif; ?>
            <div class="pane catalogue-grid-view" id="pane-3">
                <?php echo $this->getChildHtml('product.crosssell') ?>
            </div>
        </div>
        <div id="product_image_container">
            <div class="product-image-wrapper">
                <?php echo $this->getChildHtml('media') ?>
            </div>
        </div>
        <script type="text/javascript" src="/skin/frontend/vmashin/default/js/jquery.mytabs.js"></script>
        <script type="text/javascript">
            jQuery(function($) {
                $('#product-collateral').tabs();
                $('#product-bottom').mytabs();
            });
        </script>
        <div class="footer">
            <div class="add-to-box">
                    <?php if($_product->isAvailable() && $qty > 0): ?>
                        <?php echo $this->getChildHtml('addtocart') ?>
                <!--One click buy-->
            <div class="quick-order">
                <button type="button" align="right" class="btn-buy m-span">Быстрый заказ</button>
                <?php if (!empty($_POST) && $error):?>
                    <br><span style="color:#C90000;border:none;"><?=$error?></span>
                <?endif;?>
                <?php if ($done):?>
                    <br><?="Ваш заказ принят!";?><br>
                <?php else:?>
                    <form method="post" class="quick_order_form" action="?1">
                        <span class='m-close'></span>
                        <p>
                            <input type="text" class="input-text required-entry" value="" id="name" name="name" placeholder="*Имя">
                        </p>
                        <p>
                            <input type="text" class="input-text" value="" id="telephone" name="telephone" placeholder="*Телефон">
                        </p>
                        <p>
                            <input type="text" class="input-text validate-email" value="" id="email" name="email" placeholder="email">
                        </p>
                        <p>
                            <input type="text" class="input-text" value="" id="adres" name="address" placeholder="Адрес доставки">
                        </p>

                        <p class="required"><span class="em">*</span> &mdash; обязательные поля</p>
                        <p>
                            <input type="text" style="display:none !important;" value="" id="hideit" name="hideit">
                        </p>
                       <p><button class="btn-buy" type="button" onclick="quickOrder.gik(this);">Заказать</button></p>
                        <p><div id="OrderInProcess" style="display: none;">Заказ в обработке</div></p>
                    </form>
                <script>
                    var quickOrder = {
                            gik: function(th){
                            jQuery(th).hide();
                            jQuery('#OrderInProcess').show();
                            jQuery(th).parents('form').submit();
                        return false;
                        }
                    };
                </script>

                <?php endif;?>
            </div>
                    <?php endif; ?>
        </div>
        <?php echo $this->getChildHtml('product_type_data') ?>              
       <div class="delivery-info">
            <div class="d-block">
                <p class="page-header"><span>Доставка</span></p>
                <p>Стоимость доставки: <span class="price-redstar">*</span></p>
                <p class="d-pnt"><span>&nbsp;&nbsp;– в пределах МКАД</span><span class="em"><?php echo $shippingPrice; ?></span></p>
                <p class="d-pnt"><span class="redstar">&nbsp;&nbsp;– Московская область</span><span class="em">от 500 р</span></p>
                <p class="d-pnt"><span>&nbsp;&nbsp;– в Регионы России</span><span class="em"><a href="http://www.emspost.ru/ru/calc/" rel="nofollow" target="_blank">посчитать</a></span></p>                                
                <p class="d-pnt"><span>Срок</span><span class="em">1 - 3 дня</span></p>
                <p class="last_p">Возможен <a href="/dostavka.html" target="_blank">самовывоз</a></p>
                <p class="d-usl"><span class="price-redstar">* </span><a href="/dostavka.html" target="_blank">Условия доставки</a></p>
            </div>
       </div>
       <div class="payment-info">                       
            <div class="d-block">
                <p class="page-header"><span>Оплата</span></p>
                <p class="d-text">&nbsp;&nbsp;– наличными курьеру</p>
                <p class="d-text">&nbsp;&nbsp;– банковской картой</p>
                <p class="d-text">&nbsp;&nbsp;– банковским переводом</p>
                <p class="d-text">&nbsp;&nbsp;– наложенным платежом</p>
                <p class="d-text">&nbsp;&nbsp;– в кредит</p>                                
                <p class="center"><a href="/oplata.html"><img src="/skin/frontend/vmashin/default/css/images/d-carty.png" width="150"></a></p>
                <p class="d-usl"><span class="price-redstar">* </span><a href="/oplata.html">Условия оплаты</a></p>
            </div>
        </div>
        <div class="clear"></div>    
    </div>
</div>
    <?php echo $this->getChildHtml('inchoo.prevnext.links'); ?>
<div id="product-bottom">

    <div data-href="pane-1" class="mytab">Необходимо докупить</div>
    <div class="mypane catalogue-grid-view" id="pane-1">
        <?php echo $this->getChildHtml('product.related') ?>
    </div>

    <div data-href="pane-2" class="mytab">Схожие товары</div>
    <div class="mypane catalogue-grid-view" id="pane-2">
        <?php echo $this->getChildHtml('product.upsell') ?>
    </div>
    <div id="product-reviews" style="position: relative; margin-top: -100px; height: 100px;"></div>
    <div id="product-review" name="reviews">
        <?php echo $this->getChildHtml('product_review'); ?>
    </div>
 
<!--    <div data-href="pane-4" class="mytab">Также смотрят</div>   
    <div class="mypane catalogue-grid-view" id="pane-4">
        <?php //echo $this->getChildHtml('product.mostviewed') ?>
    </div>     -->

</div>
<script type="text/javascript">
    var image = document.getElementById('product_image_container');
    var prev = document.getElementById('product-shop-container');
    var parent = prev.parentNode;
    parent.insertBefore(image, prev.nextSibling);
</script>
<div class="right-asside" id="right-asside" itemtype="http://schema.org/Offer" itemscope="" itemprop="offers">
    <meta content="<?= $_price ;?>" itemprop="price">
    <meta content="RUB" itemprop="priceCurrency">
    <?php echo $this->getChildHtml('product_type_data') ?>
    <div class="add-to-box">
        <form action="<?php echo $this->getSubmitUrl($_product) ?>" method="post" id="product_addtocart_form"<?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>                            
            <?php if($_product->isAvailable() && $qty > 0): ?>
                <?php echo $this->getChildHtml('addtocart') ?>
            <?php else: ?>
                <?php echo $this->getChildHtml('preorder') ?>
            <?php endif; ?>
        </form>
        <button style="margin-top: 4px;" class="btn-buy-credit" onclick="loadVseVKredit('<?php echo $this->getAddToCartUrl($_product) ?>','<?=$_product->getId()?>');">Купить в кредит</button>
<!-- One-click buy (first)--> 
        <?php
            $done = false;
            if(!empty($_POST)){
                $error = $this->_validateForm();
                if(!$error){
                   $done = $this->createOrderOnFly($_product);
                }
            }
        ?>
        <div style="clear:both"></div>
        <?php if($_product->isAvailable() && $qty > 0): ?>
        <div class="quick-order" style="float:left; text-align: left; margin-left: 7px;" >
            <button type="button" class="btn-buy m-span">Быстрый заказ</button>
            <?php if (!empty($_POST) && $error):?>
                <br><span style="color:#C90000;border:none;"><?=$error?></span>
            <?php endif;?>
            <?php if ($done):?>
                <br><?="Ваш заказ принят!";?><br>
            <?php else:?>
                <form method="post" class="quick_order_form" action="?1">
                    <span class='m-close'></span>
                    <p>
                        <input type="text" class="input-text required-entry" value="" id="name" name="name" placeholder="*Имя">
                    </p>
                    <p>
                        <input type="text" class="input-text" value="" id="telephone" name="telephone" placeholder="*Телефон">
                    </p>
                    <p>
                        <input type="text" class="input-text validate-email" value="" id="email" name="email" placeholder="email">
                    </p>
                    <p>
                        <input type="text" class="input-text" value="" id="adres" name="address" placeholder="Адрес доставки">
                    </p>

                    <p class="required"><span class="em">*</span> &mdash; обязательные поля</p>
                    <p>
                        <input type="text" style="display:none !important;" value="" id="hideit" name="hideit">
                    </p>
                    <p><button class="btn-buy" type="button" onclick="quickOrderR.gik(this);">Заказать</button></p>
                    <p><div id="OrderInProcess" style="display: none;">Заказ в обработке</div></p>
                </form>
                <script>
                    var quickOrderR = {
                        gik: function(th){
                            jQuery(th).hide();
                            jQuery('#OrderInProcess').show();
                            jQuery(th).parents('form').submit();
                            return false;
                        }
                    };
                </script>
            <?php endif;?>
        </div>
        <?php endif; ?>
<!-- //// -->
    </div>
</div>
<script type="text/javascript">
    var box = document.getElementById('right-asside');
    var prev = document.getElementById('left-asside');
    var parent = prev.parentNode;
    parent.insertBefore(box, prev.nextSibling);
</script>
                <script type="text/javascript">
                //<![CDATA[
                    var productAddToCartForm = new VarienForm('product_addtocart_form');
				productAddToCartForm.submit = function(button, url) {
							if (this.validator.validate()) {
								var form = this.form;
								var oldUrl = form.action;
				 
								if (url) {
								   form.action = url;
								}
								var e = null;
				//Start of our new ajax code
								if(!url){
									url = jQuery('#product_addtocart_form').attr('action');
								}
								var data = jQuery('#product_addtocart_form').serialize();
								data += '&isAjax=1';
								jQuery('#ajax_loader').show();
								jQuery('.ajax_loader_image').show();
								try {
									jQuery.ajax({
										  url: url,
										  dataType: 'json',
										  type : 'post',
										  data: data,
										  success: function(data){
										        jQuery('.mod-cart').load('http://vmashin.ru/ajax.php');
												jQuery('#ajax_loader').hide();
												jQuery('.ajax_loader_image').hide();
                                                ga('send', 'pageview', '/zakazat');
												data.message=data.message+'<br /><div class="gocart"><a href="/checkout/cart/">Перейти в корзину</a></div>';
                                                                                                <?php if($_product->isAvailable() && $qty > 0): ?>
                                                                                                        var jAlertTitle = 'Товар добавлен';
                                                                                                <?php else: ?>
                                                                                                        var jAlertTitle = 'Заказ отправлен';
                                                                                                <?php endif; ?>
												jAlert(data.message, jAlertTitle);
											//	alert(data.status + ": " + data.message);
										  }
									});
								} catch (e) {
								}
				//End of our new ajax code
								this.form.action = oldUrl;
								if (e) {
									throw e;
								}
							}
						}.bind(productAddToCartForm);

					productAddToCartForm.submitLight = function(button, url){
							if(this.validator) {
									var nv = Validation.methods;
									delete Validation.methods['required-entry'];
									delete Validation.methods['validate-one-required'];
									delete Validation.methods['validate-one-required-by-name'];
									if (this.validator.validate()) {
											if (url) {
													this.form.action = url;
											}
											this.form.submit();
									}
									Object.extend(Validation.methods, nv);
							}
					}.bind(productAddToCartForm);
			//]]>
            //<![CDATA[
                    function addAjaxCart(url,id){
                        var data = 'product='+id+'&related_products=&qty=1&isAjax=1';
                        jQuery('#ajax_loader'+id).show();
                        try {
                            jQuery.ajax({
                            url: url,
                            dataType: 'json',
                            type : 'post',
                            data: data,
                            success: function(data){
                                jQuery('.mod-cart').load('http://vmashin.ru/ajax.php');
                                jQuery('#ajax_loader'+id).hide();
                                data.message=data.message+'<br /><div class="gocart"><a href="/checkout/cart/">Перейти в корзину</a></div>';
                                jAlert(data.message, jAlertTitle);			
                                //	alert(data.status + ": " + data.message);
                            }
                            });
                        } catch (e) {}
                    }
            //]]>
			// vse-v-kredit button
                    function addCreditToCart(url,id){
                            var data = 'product='+id+'&related_products=&qty=1&isAjax=1';
                            jQuery('#ajax_loader'+id).show();
                            try {
                                    jQuery.ajax({
                                    url: url,
                                    dataType: 'json',
                                    type : 'post',
                                    data: data,
                                    success: function(data){
                                            jQuery('.mod-cart').load('http://vmashin.ru/ajax.php');
                                            jQuery('#ajax_loader'+id).hide();
                                            VVC.gui.addCreditInfoWindow('/checkout/cart/'); 
                                    }
                                    });
                            } catch (e) {}
                    }
                    function loadVseVKredit(url, id){
                        var vkredit_css = jQuery('head link[href*="vsevcredit.ru"]');
                        var script_url = "http://vsevcredit.ru/js/vvclib.js";
                        if(vkredit_css.attr('href')){
                            addCreditToCart(url,id);
                        }else{
                            jQuery.getScript(script_url, function(){
                                addCreditToCart(url,id);      
                            });            
                        }    
                    }                
                </script>
                            <script type="text/javascript">
                allow_hide = true;

                jQuery('.m-close').click(function(){jQuery(this).parent().hide()});
                jQuery('.m-span').click(function(){jQuery(this).parent().find('.quick_order_form').show()});

            </script>
<div onclick="hide_form(this)" id="popup_overlay" style="display:none; position: absolute; z-index: 99998; top: 0px; left: 0px; width: 100%; height: 13478px; background: none repeat scroll 0% 0% rgb(255, 255, 255); opacity: 0.01;"></div>
<script type="text/javascript">
    var span = document.getElementsByClassName('ajax_loader_image');
    span[0].style.cssText = "float:none; display:none";
</script>
