<?php $_product = $this->getProduct(); ?>
<?php if($_product->isSaleable()): ?>
<script type="text/javascript">
    hs.graphicsDir = '/skin/frontend/vmashin/default/css/graphics/';
    hs.outlineType = 'rounded-white';
</script>
<div class="add-to-cart">
    <?php if(!$_product->isGrouped()): ?>
    <input type="hidden" name="qty" id="qty" value="1">
    <?php endif; ?>
    <button type="button" class="btn-buy main-button" onclick="productAddToCartForm.submit(this)">Купить</button>
    <span id='ajax_loader' class="ajax_loader_image" style='display:none; float:right; margin-right: -16px;'><img src='<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif')?>'/></span>
    <?php echo $this->getChildHtml('', true, true) ?>
</div>
<?php endif; ?>
