<?php
/**
 * Product additional attributes template
 *
 * @see Mage_Catalog_Block_Product_View_Attributes
 */
?>
<?php
    $_helper = $this->helper('catalog/output');
    $_product = $this->getProduct()
?>
<?php if($_additional = $this->getAdditionalData()): ?>
<table class="data-table" id="product-attribute-specs-table">
	<col style="width:25%">
	<col>
	<tbody>
	<?php foreach ($_additional as $_data): ?>
		<?php 
			$filter_value = array(
					Mage::helper('eav')->__('N/A'),
					Mage::helper('eav')->__('No'),
			);

			if (in_array($_data['value'], $filter_value)) {
					continue;
			}
            if (($_data['code']=='weight') && (is_numeric($_data['value']))){
                if ($_data['value'] == round($_data['value'])){
                    $_data['value'] = round($_data['value']).' г';
                }
                
            }
		?>
		<tr>
			<th class="label"><?php echo $this->htmlEscape($this->__($_data['label'])) ?></th>
			<td class="data"><?php echo $_helper->productAttribute($_product, $_data['value'], $_data['code']) ?></td>
		</tr>
	<?php endforeach; ?>
	</tbody>
</table>
<script type="text/javascript">decorateTable('product-attribute-specs-table')</script>
<?php endif;?>
