<?php
/**
 * Product media data template
 *
 * @see Mage_Catalog_Block_Product_View_Media
 */
?>
<?php
    $_product = $this->getProduct();
    $_helper = $this->helper('catalog/output');
?>
<?php if ($_product->getImage() != 'no_selection' && $_product->getImage()): ?>
<div class="product-image-wrapper">
	<div class="product-image">
		<?php
        $_img = '<img id="image" src="'.$this->helper('catalog/image')->init($_product, 'image')->keepFrame(false)->resize(360,null).'" alt="'.$this->htmlEscape($this->getImageLabel()).'">';
        echo $_helper->productAttribute($_product, $_img, 'image');
    ?>
	</div>
	<div class="more-views-header">Галерея</div>
	<ul class="more-views">
	<?php foreach ($this->getGalleryImages() as $_image): ?>
		<li>
			<a href="#" onclick="popWin('<?php echo $this->getGalleryUrl($_image) ?>', 'gallery', 'width=300,height=300,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes'); return false;" title="<?php echo $this->htmlEscape($_image->getLabel()) ?>"><img src="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'thumbnail', $_image->getFile())->resize(56); ?>" width="56" height="56" alt="<?php echo $this->htmlEscape($_image->getLabel()) ?>" /></a>
		</li>
	<?php endforeach; ?>
	</ul>
</div>
<?php endif; ?>
