<?php
    $_product = $this->getProduct();
    $_helper = $this->helper('catalog/output');
    
    $_lightboxConfig = Mage::getStoreConfig('easy_lightbox/general');
    /* Main Image Size */
    if (strstr($_lightboxConfig['mainImageSize'], '_')) {
        $mainImageSize = explode('_', $_lightboxConfig['mainImageSize'], 2);
    } else {
        $mainImageSize = array(265, 265);
    }
    /* Popup Image Size */
    if (strstr($_lightboxConfig['popupImageSize'], '_')) {
        $popupImageSize = explode('_', $_lightboxConfig['popupImageSize'], 2);
    } else {
        $popupImageSize = array(0, 0);
    }
    /* Additional Images Size */
    if (strstr($_lightboxConfig['additionalImageSize'], '_')) {
        $additionalImageSize = explode('_', $_lightboxConfig['additionalImageSize'], 2);
    } else {
        $additionalImageSize = array(60, 60);
    }
    
    $image = $this->helper('catalog/image')->init($_product, 'image');
    if ($popupImageSize[0] > 0) {
        $image = $this->helper('catalog/image')->init($_product, 'image')->resize($popupImageSize[0], $popupImageSize[1]);
    }
       
?>

<div class="product-image-wrapper">
<?php if(!$_lightboxConfig['defaulzoom']): ?>

<?php
	$maintitle = $this->htmlEscape($_product->getImageLabel());
	if(($_lightboxConfig['productName'] != 0) && empty($maintitle)):
	        $maintitle  = $_product->getName();
	endif;
?>

    <?php #TODO INL: Label Begin ?>
	<div class="product-image" style="position:relative;">
        <?php echo Mage::helper('label')->getLabel($_product, 'product', 265); ?>
        <div class="clearer"></div>
    <?php #TODO INL: Label END ?>
<a href="<?php echo $image; ?>" 
    title="<?php echo $maintitle ;?>"
    onclick="jQuery('.more-views a:first').trigger('click');return false;"
><?php
        $_img = '<img itemprop="image" id="image" src="'.$this->helper('catalog/image')->init($_product, 'image')->keepFrame(false)->resize(360,null).'" alt="'.$this->htmlEscape($this->getImageLabel()).'">';
        echo $_helper->productAttribute($_product, $_img, 'image');
    ?></a>
	</div>

<?php endif; ?>

<?php if (count($this->getGalleryImages()) > 1): ?>
	<div class="more-views-header">Галерея</div>
	<ul class="more-views">
    <?php foreach ($this->getGalleryImages() as $_image): ?>
	<?php
        $img = $this->helper('catalog/image')->init($this->getProduct(), 'image', $_image->getFile());
//        var_dump($img);

        $realsize = getimagesize($img);
        if ($realsize[0]>750) {
            $rate = $realsize[0] / $realsize[1];
            $height = 750 / $rate;
            $popupImageSize = array(750,$height);

        } else {
            $popupImageSize= array($realsize[0],$realsize[1]);
        }

	$subtitle = $this->htmlEscape($_image->getLabel());
	if(($_lightboxConfig['productName'] != 0) && empty($subtitle)):
	        $subtitle  = $_product->getName();
	endif;
	?>
<!--    --><?php //var_dump($realsize) ?>
    <li>
        <a href="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'image', $_image->getFile())->resize($popupImageSize[0], $popupImageSize[1]); ?>"
            title="<?php echo $subtitle; ?>"
            onclick="return false;"
            class="lightbox"
        ><img src="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'thumbnail', $_image->getFile())->resize(56); ?>" width="56" height="56"
        /></a>
    </li>
    <?php endforeach; ?>
    </ul>
<?php endif; ?>
</div>