<?php $_product = $this->getProduct(); ?>
<script type="text/javascript">
    hs.graphicsDir = '/skin/frontend/vmashin/default/css/graphics/';
    hs.outlineType = 'rounded-white';
</script>
<div class="add-to-cart">
	<?php if(!$_product->isGrouped()): ?>
	<input type="hidden" name="qty" id="qty" value="1">
	<?php endif; ?>
	<button type="button" class="button btn-buy" onclick="productAddToCartForm.submit(this)">Заказать</button>
	<span id='ajax_loader' style='display:none'><img src='<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif')?>'/></span>
	<?php echo $this->getChildHtml('', true, true) ?>
</div>
