<?php
/**
 * @category    Mana
 * @package     Mana_Admin
 * @copyright   Copyright (c) http://www.manadev.com
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */

/**
 * This template displays grid page's content 
 */
/* @var $this Mana_Admin_Block_Grid */
/* @var $core Mana_Core_Helper_Data */ $core = Mage::helper(strtolower('Mana_Core'));
/* @var $config Mana_Admin_Model_Grid_Config */ $config = Mage::getSingleton(strtolower('Mana_Admin/Grid_Config'));
$grid = $config->getGrid($this->getGridName());
$titles = $core->getSortedXmlChildren($grid, 'title', 'title');
$title = array_pop($titles);
?>
<div class="content-header">
<table cellspacing="0">
    <tr>
        <td style="width:50%;"><h3 class="icon-head <?php if (isset($grid->head_css)) : echo (string)$grid->head_css; endif; ?>"><?php echo $title ?></h3></td>
        <td class="a-right"><?php echo $this->getButtonsHtml() ?></td>
    </tr>
</table>
</div>
<?php if( !Mage::app()->isSingleStoreMode() ): ?>
<?php echo $this->getChildHtml('store_switcher');?>
<?php endif;?>
<div>
    <?php echo $this->getChildHtml('entity.grid') ?>
</div>
