<div class="onestepcheckout">
    <?php
        if($this->hasShowMessagesBlock()) {
            echo $this->getMessagesBlock()->getGroupedHtml();
        }
     ?>
    <h2><?php echo $this->__('Checkout')?></h2>
    <!-- start login -->
    <?php if(!$this->isCustomerLoggedIn()):?>
        <div class="onestepcheckout-login">
            <a href="javascript:void(0)"><span><?php echo $this->__('Already registered?') ?></span></a>
            <div class="onestepcheckout-login-content no-display">
                <?php if($this->getOpenIdModule()):?>
                    <?php echo $this->getLayout()->createBlock('openid/openid')->setButtonMode('mini')->toHtml(); ?>
                <?php endif;?>
                <div class="clearer"></div>
                <table>
                    <tr>
                        <td>
                            <label><?php echo $this->__('Логин:')?></label>
                            <input type="text" name="login[username]" id="mini-login" class="input-text" />
                        </td>
                         <td>
                            <label><?php echo $this->__('Пароль:')?></label>
                            <input type="password" name="login[password]" id="mini-password" class="input-text" />
                        </td>
                        <td style="vertical-align: bottom;">
                            <button type="button" class="button button-login"><span><span><?php echo $this->__('Login') ?></span></span></button>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="clearer"></div>
        </div>

    <?php endif;?>
    <!-- end login -->
    <div class="clearer"></div>
    <div id="onestepcheckout-error-top" class="no-display"></div>
    <!-- start form -->
    <form action="<?php echo $this->getFormAction(); ?>" id="co-billing-form" method="post">
        <div class="onestepcheckout-container">
            <div class="onestepcheckout-left-container">
                <!-- start address -->
                <div class="onestepcheckout-address-container">
                     <div class="onestepcheckout-title">
                        <i></i><strong><?php echo $this->__('Customer address');?></strong>
                        <div class="clearer"></div>
                    </div>
                    <?php if(!$this->isCustomerLoggedIn() && $this->getYandexAddress()):?>
                        <div class="onestepcheckout-ya-address">
                            <?php echo $this->getYandexAddressBtnHtml();?>
                        </div>
                    <?php endif;?>
                    <?php echo $this->getChildHtml('onestepcheckout_address'); ?>
                </div>
                <!-- end address -->
            </div>
            <div class="onestepcheckout-right-container">
                <?php if($this->isShow()) :?>
                    <!-- start shipping -->
                    <div class="onestepcheckout-shipping-container">
                         <div class="onestepcheckout-title">
                            <i></i><strong><?php echo $this->__('Shipping method');?></strong>
                            <div class="clearer"></div>
                         </div>
                         <?php echo $this->getChildHtml('onestepcheckout_shipping'); ?>
                    </div>
                    <!-- end shipping -->
                <?php endif;?>
                <!-- start payment -->
                <div class="onestepcheckout-payment-container">
                     <div class="onestepcheckout-title">
                        <i></i><strong><?php echo $this->__('Payment method');?></strong>
                        <div class="clearer"></div>
                     </div>
                     <?php echo $this->getChildHtml('onestepcheckout_payment'); ?>
                </div>
                <!-- end payment -->
                 <?php if(!$this->isShow()) :?>
                    <!-- start other block -->
                    <div class="onestepcheckout-other-container">
                        other
                    </div>
                    <!-- end other block -->
                <?php endif;?>
                <div class="clearer"></div>

                <?php if($this->getShowComment()):?>
                <!-- start comment -->
                <div class="onestepcheckout-comment-container">
                     <div class="onestepcheckout-title">
                        <i></i><strong><?php echo $this->__('Comments  to order');?></strong>
                        <div class="clearer"></div>
                     </div>
                     <div class="input-box">
                        <span class="field-row">
                            <textarea placeholder="<?php echo $this->getCommentPlaceholder();?>" id="history_comment" cols="5" rows="3" name="history_comment"><?php echo $this->getCustomerComment();?></textarea>
                        </span>
                    </div>
                </div>
                <!-- end comment -->
                <?php endif;?>

                <?php if($this->getShowReview()):?>
                    <?php echo $this->getChildHtml('review'); ?>
                <?php endif;?>

                <!-- start discount -->
                <?php if($this->getCouponField()):?>
                <div class="onestepcheckout-discount-container">
                        <div id="onestepcheckout-sertificat" class="input-box">
                            <label for="onestepcheckout-sert"><?php echo $this->__('Enter sertificate code:')?></label>
                            <input class="input-text" id="onestepcheckout-sert" autocomplete="off" value="<?php echo $this->getCouponCode();?>" />
                            <button type="button" id="onestepcheckout-add-coupon" class="button button-login"><span><span><?php echo $this->__('Apply Coupon') ?></span></span></button>
                            <button type="button" id="onestepcheckout-cancel-coupon" class="button button-login no-display"><span><span><?php echo $this->__('Cancel Coupon') ?></span></span></button>
                        </div>
                </div>
                <?php endif;?>
                <!-- end discount -->

                <?php echo $this->getChildHtml('onestepcheckout_other'); ?>

                <!-- start totals -->
                <div class="onestepcheckout-totals-container">
                    <?php echo $this->getChildHtml('onestepcheckout_totals'); ?>
                </div>
                <div class="clearer"></div>
                <!-- end totals -->

                <div class="footer-onestepcheckout">
                    <!-- start agreements -->
                    <?php echo $this->getChildHtml('agreements'); ?>
                    <!-- end agreements -->
                     <?php if(!$this->isCustomerLoggedIn() && $this->getQuote()->isAllowedGuestCheckout()): ?>
                     <div class="onestepcheckout-register-container">
                         <!-- register -->
                         <input type="checkbox" <?php if($this->getRegisterGuest()):?>checked="checked"<?php endif;?> class="checkbox" title="<?php echo $this->__('Sign me in this store'); ?>" name="checkout_method" id="checkout_method" value="register" />
                         <label for="checkout_method"><?php echo $this->__('Sign me in this store'); ?></label>
                        <!-- register -->
                    </div>
                    <?php endif;?>

                    <div id="onestepcheckout-error" class="no-display"></div>
                    <div class="onestepcheckout-checout-button-container">
                       <button class="button btn-proceed-checkout btn-checkout <?php if(!$this->getValidateMinimumAmount()):?>no-checkout<?php endif;?>" <?php if(!$this->getValidateMinimumAmount()):?>disabled="disabled"<?php endif;?> title="<?php echo $this->__('Place Order') ?>" type="button"><span><span><?php echo $this->__('Place Order') ?></span></span></button>
                    </div>
                </div>
            </div>
            <div class="clearer"></div>
        </div>
    </form>
    <!-- end form -->
<script>
jQuery('.onestepcheckout').onestepcheckout(jQuery.parseJSON('<?php echo $this->getScriptData();?>'));
</script>
</div>