<?php 
/**
 * @category    Mana
 * @package     ManaPro_FilterShowMore
 * @copyright   Copyright (c) http://www.manadev.com
 * @license     http://www.manadev.com/license  Proprietary License
 */
/** 
 * Template for showing Show More / Show less actions 
 * @author Mana Team
 * Injected in designated place in filter items template used. In default template, designated place is right 
 * under list of items
 */
/* @var $block Mana_Filters_Block_Filter_Attribute */

/* @var $_filter Mana_Filters_Model_Filter_Attribute */
$_filter = $block->getFilter();

/** @var $_showMoreHelper ManaPro_FilterShowMore_Helper_Data */
$_showMoreHelper = Mage::helper('manapro_filtershowmore');

if ($_filter->getMIsShowMoreApplied()):

/** @var $session ManaPro_FilterShowMore_Model_Session */
$session = Mage::getSingleton('manapro_filtershowmore/session');
$defaultLabel = $session->isFilterExpanded($_filter->getRequestVar())
    ? $block->__('[- show less]') : $block->__('[+ show more]');
?>
<div class="m-more-less" id="m-more-less-<?php echo $_filter->getRequestVar() ?>">
	<a href="javascript:;" onclick="return <?php echo $session->isFilterExpanded($_filter->getRequestVar()) ? 'true' : 'false' ?>"><?php echo $defaultLabel ?></a>
</div>
<script type="text/javascript">
    $('m-more-less-<?php echo $_filter->getRequestVar() ?>').observe('click', function(event) {
        var label = '';
        var onClick = '';
        var showBlock = $('show-more-<?php echo $_filter->getRequestVar() ?>');
        var id = event.target.parentElement.id.replace('m-more-less-','');
        var expand = false;
        if (event.returnValue) {
            label = '<?php echo $block->__('[+ show more]') ?>';
            onClick = function() {return false;};
            showBlock.hide();
            expand = false;
        } else {
            label = '<?php echo $block->__('[- show less]') ?>';
            onClick = function() {return true;};
            showBlock.show();
            expand = true;
        }
        event.target.update(label);
        event.target.onclick = onClick;
        //set cookie value
        var cookie = getcookie('expandedFilters') ? getcookie('expandedFilters').evalJSON() : {};
        if (expand) {
            cookie[id] = 1;
        } else {
            delete cookie[id];
        }
        setcookie('expandedFilters', Object.toJSON(cookie));
    });
</script>
<?php endif; ?>

