<form id="search_mini_form" action="<?php echo $this->helper('catalogsearch')->getResultUrl() ?>" method="get">
    <div class="form-search">
        <input id="search" 
               type="text" 
               name="<?php echo $this->helper('catalogsearch')->getQueryParamName() ?>" 
               value="<?php echo $this->helper('catalogsearch')->getEscapedQueryText() ?>"  
               maxlength="128" 
               autocomplete="off"
               class="input-text" />
        <button type="submit" class="button btn-blue">Искать</button>
        <input type="hidden" name="dir" value="desc">
        <input type="hidden" name="order" value="price">
    <div id="search_autocomplete" class="search-autocomplete"></div>

        <script type="text/javascript">
        //<![CDATA[
            var searchForm = new Varien.searchForm('search_mini_form', 'search', 'Что ищем?');
                    searchForm.initAutocomplete('<?php echo $this->helper('searchautocomplete')->getSuggestUrl() ?>', 'search_autocomplete');
        //]]>
        </script>
    </div>
</form>
<div class="search-example">Например: <span style="text-decoration: underline;"><span style="font-style: italic"><a href="#" onclick="moveToSearch()">KYOSHO</a></span></span></div>
<script type="text/javascript">
    function moveToSearch(){
        var input = document.getElementById('search');
        input.value = 'KYOSHO';
    }
</script>

<?php echo Mage::helper('searchautocomplete')->getStyle(); ?>
