/**
 * @category    Mana
 * @package     Mana_Filters
 * @copyright   Copyright (c) http://www.manadev.com
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
/*.m-filter-item-list .m-selected-filter-item { color: red; }*/

    .m-filter-checkboxes {
        list-style: none;
    }
    #narrow-by-list{
    display:inline-block;
/*    display:block;*/
/*    float:left;*/
    } 