<?php $_code=$this->getMethodCode() ?>
    <ul id="payment_form_<?php echo $_code ?>" style="display:none" class="form-list">
    	<?php if($this->isCompany()):?>
   		<li>
        	<label for="<?php echo $_code ?>_company"><?php echo $this->__('Company') ?> <span class="required">*</span></label>
            <div class="input-box">                
                <input type="text" title="<?php echo $this->__('Company') ?>" class="input-text required-entry" id="<?php echo $_code ?>_company" name="payment[invoisejuristic_company]" value="<?php echo $this->htmlEscape($this->getAddress()->getCompany()) ?>" />
            </div>
        </li>
        <?php endif;?>
        <li>
        	<label for="<?php echo $_code ?>_inn"><?php echo $this->__('Inn') ?> <span class="required">*</span></label>
            <div class="input-box">                
                <input type="text" title="<?php echo $this->__('Inn') ?>" class="input-text required-entry" id="<?php echo $_code ?>_inn" name="payment[invoisejuristic_inn]" value="<?php echo $this->htmlEscape($this->getAddress()->getYurInn()); ?>" />
            </div>
        </li>
        <li>
             <label for="<?php echo $_code ?>_kpp"><?php echo $this->__('Kpp') ?> <span class="required">*</span></label>
             <div class="input-box">
             	<input type="text" title="<?php echo $this->__('Kpp') ?>" class="input-text required-entry" id="<?php echo $_code ?>_kpp" name="payment[invoisejuristic_kpp]" value="<?php echo $this->htmlEscape($this->getAddress()->getYurKpp()); ?>" />
             </div>
        </li>
        <?php if($this->isYuraddress()):?>
        <li>
        	<label for="<?php echo $_code ?>_yuraddr"><?php echo $this->__('Yuraddr') ?> <span class="required">*</span></label>
			<div class="input-box">
                <input type="text" title="<?php echo $this->__('Yuraddr') ?>" class="input-text required-entry" id="<?php echo $_code ?>_yuraddr" name="payment[invoisejuristic_yuraddr]" value="<?php echo $this->htmlEscape($this->getAddress()->getYurAddress()); ?>" />
            </div>
        </li>
        <?php endif;?>
    </ul>    