<?php
/**
 * Customer onepage checkout login form template
 *
 * @see app/design/frontend/base/default/template/checkout/onepage/login.phtml
 */
/** @var $this Mage_Checkout_Block_Onepage_Login */
?>
<div class="account-login">
	<?php echo $this->getChildHtml('login_before')?>
	<div class="registered-users">
		<h3>Я новый покупатель</h3>
		<p>
			<?php if( $this->getQuote()->isAllowedGuestCheckout() ): ?>
			<input type="radio" name="checkout_method" id="login:guest" value="guest"<?php if($this->getQuote()->getCheckoutMethod()==Mage_Checkout_Model_Type_Onepage::METHOD_GUEST): ?> checked="checked"<?php endif; ?> class="radio" />
			<label style="width:auto; color:#000; font-size:17px" for="login:guest">Оформить заказ как Гость</label>
			<br>			
			<input type="radio" name="checkout_method" id="login:register" value="register"<?php if($this->getQuote()->getCheckoutMethod()==Mage_Checkout_Model_Type_Onepage::METHOD_REGISTER || !$this->getQuote()->isAllowedGuestCheckout()): ?> checked="checked"<?php endif ?> class="radio" />
			<label style="width:auto; color:#000; font-size:17px" for="login:register">Я новый клиент и хочу зарегистрироваться</label>
			<p><i><?php echo $this->__('Register with us for future convenience:') ?></i></p>
			<ul class="ul">
				<li><?php echo $this->__('Fast and easy check out') ?></li>
				<li><?php echo $this->__('Easy access to your order history and status') ?></li>
			</ul>
			<?php else: ?>
				<input type="hidden" name="checkout_method" id="login:register" value="register" checked="checked" />
      <?php endif; ?>
		</p>
		<div class="buttons-set">
			<span class="required">&nbsp;</span>
			<?php if ($this->getQuote()->isAllowedGuestCheckout()): ?>
				<button id="onepage-guest-register-button" type="button" class="button" onclick="checkout.setMethod();"><?php echo $this->__('Continue') ?></button>
			<?php else: ?>
				<form action="<?php echo $this->getUrl('persistent/index/saveMethod'); ?>">
					<button id="onepage-guest-register-button" type="submit" class="button"><?php echo $this->__('Register') ?></button>
				</form>
			<?php endif; ?>
		</div>
	</div>
	<div class="new-users">
		<h3>Я уже зарегистрирован</h3>
		<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
    <form id="login-form" action="<?php echo $this->getPostAction() ?>" method="post">
			<p>
				<label for="login-email" class="required" style="width:80px;"><em>*</em>Email</label>
				<input type="text" class="input-text required-entry validate-email" id="login-email" name="login[username]" value="<?php echo $this->htmlEscape($this->getUsername()) ?>" />
			</p>
			<p>
				<label for="login-password" class="required" style="width:80px;"><em>*</em><?php echo $this->__('Password') ?></label>
				<input type="password" class="input-text required-entry" id="login-password" name="login[password]" />
			</p>
			<?php echo $this->getChildHtml('persistent.remember.me'); ?>
			<input name="context" type="hidden" value="checkout" />
		</form>
		<div class="buttons-set">
      <button type="submit" class="button" onclick="onepageLogin(this)"><?php echo $this->__('Login') ?></button><a href="<?php echo $this->getUrl('customer/account/forgotpassword') ?>" class="f-pass"><?php echo $this->__('Forgot your password?') ?></a>
		</div>
	</div>
</div>

<script type="text/javascript">
//<![CDATA[
    var loginForm = new VarienForm('login-form', true);
    $('login-email').observe('keypress', bindLoginPost);
    $('login-password').observe('keypress', bindLoginPost);
    function bindLoginPost(evt){
        if (evt.keyCode == Event.KEY_RETURN) {
            loginForm.submit();
        }
    }
    function onepageLogin(button)
    {
        if(loginForm.validator && loginForm.validator.validate()){
            button.disabled = true;
            loginForm.submit();
        }
    }
//]]>
</script>
<?php
    $registerParam = $this->getRequest()->getParam('register');
    if ($registerParam || $registerParam === ''):
?>
    <script type="text/javascript">
    //<![CDATA[
        document.observe("dom:loaded", function() {
            if($('login:register')) {
                $('login:register').checked = true;
                checkout.setMethod();
            }
        })
    //]]>
    </script>
<?php endif; ?>
