.onestepcheckout {
    margin: 10px auto;
    min-width: 900px;
}

.onestepcheckout-left-container {
    width: 33%;
    float: left;
}

.onestepcheckout-right-container {
    width: 67%;
    float: left;
}

.onestepcheckout-address-container {
    position: relative;
    padding: 0 10px;
}

.onestepcheckout-shipping-container {
    width: 50%;
    float: left;
    background: url("../../images/onestepcheckout/step-bg.png") no-repeat
        scroll left top transparent;
    min-height: 100px;
}

.onestepcheckout-payment-container {
    width: 50%;
    float: left;
    background: url("../../images/onestepcheckout/step-bg.png") no-repeat
        scroll left top transparent;
    min-height: 100px;
}

.onestepcheckout-other-container {
    width: 50%;
    float: left;
}

.onestepcheckout-login {
    float: right;
}

#co-billing-form {
    display: block;
    padding: 10px 0;
}

.onestepcheckout > h2 {
    float: left;
}

.onestepcheckout #openloader {
    float: right;
}

.onestepcheckout-login > a {
    border-bottom: 1px dashed #0096DC;
    color: #0096DC;
    cursor: pointer;
    float: right;
    line-height: normal;
    font-weight: bold;
    text-decoration: none;
}

.onestepcheckout-container .input-text,.onestepcheckout-container select,.onestepcheckout-container textarea,.onestepcheckout-login-content .input-text
    {
    width: 100%;
    border: 1px solid #BEBCB7;
    color: #2B363D;
    padding: 3px;
    font-size: 13px;
    color: #555555;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.onestepcheckout-container .input-box {
    padding-right: 8px;
}

.onestepcheckout-container .input-box-select {
    padding-right: 0;
}

.onestepcheckout-shipping-container .sp-methods,.onestepcheckout-payment-container .sp-methods
    {
    min-height: 100px;
    margin: 0 10px 0 18px;
}

.onestepcheckout-title {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 8px;
}

.onestepcheckout-right-container .onestepcheckout-title {
    margin-left: 18px;
}

.onestepcheckout-title i {
    background: url(../../images/onestepcheckout/step-rondo.png) top left no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 8px;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
    color: #fff;
    font-style: normal;
    font-size: 15px;
    float: left;
}

.onestepcheckout-title strong {
    display: inline-block;
    float: left;
}

.onestepcheckout-ya-address {
    padding: 2px 0 6px 10px;
}

#billing-new-address-form>ul {
    padding-left: 10px;
}

.onestepcheckout-address-container div.field {
    margin-bottom: 4px;
}

.onestepcheckout-address-container label.required {
    font-weight: bold;
}

.onestepcheckout-address-container label {
    color: #5F696F;
    font-size: 11px;
}

.onestepcheckout-address-container label.for-required em {
    display: none;
}

.onestepcheckout-address-container label.required em {
    color: red;
    display: inline;
    padding-left: 2px;
}

.onestepcheckout-shipping-container .sp-methods>div,.onestepcheckout-shipping-container .sp-methods>ul,.onestepcheckout-payment-container .sp-methods>div,.onestepcheckout-payment-container .sp-methods>ul
    {
    padding-left: 10px;
}

.onestepcheckout-comment-container .input-box {
    margin-left: 28px;
}

.order-review-footer .onestepcheckout-review-div {
    padding-left: 28px;
}

.onestepcheckout-comment-container,.order-review-footer {
    margin-top: 18px;
}

.onestepcheckout-totals-container {
    margin-top: 20px;
    margin-bottom: 10px;
    float: right;
}

.chzn-container {
    width: 100% !important;
}

.loadmask {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    -moz-opacity: 0.4;
    opacity: .40;
    filter: alpha(opacity = 40);
    background-color: #fff;
    width: 100%;
    height: 100%;
    zoom: 1;
    padding: 0;
}

.onestepcheckout-container .sp-methods .loadmask-msg,.onestepcheckout-totals-container .loadmask-msg
    {
    z-index: 20001;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
}

.loadmask-msg div {
    padding: 8px 13px 8px 28px;
    background: #fbfbfb url('../../images/onestepcheckout/loading.gif')
        no-repeat 5px 8px;
    line-height: 16px;
    border: 1px solid #ccc;
    color: #222;
    font: normal 11px tahoma, arial, helvetica, sans-serif;
    cursor: wait;
}

.masked { /* overflow: hidden !important; */

}

.masked-relative {
    position: relative !important;
}

.masked-hidden {
    visibility: hidden !important;
}

.onestepcheckout-discount-container {
    margin: 18px 0 0 28px;
}

.onestepcheckout-discount-container .input-box {
    background: url("../../images/onestepcheckout/sertificat.png") no-repeat
        scroll left top transparent;
    height: 26px;
    line-height: 26px;
    padding-left: 50px;
}

.onestepcheckout-discount-container .input-box label {
    font-weight: bold;
}

.onestepcheckout-discount-container .input-text {
    width: 120px;
}

#shopping-cart-totals-table td,#shopping-cart-totals-table th {
    padding: 1px 4px;
    font-size: 14px;
}

.footer-onestepcheckout {
    border-top: 3px solid #C2C2C2;
    margin: 0 0 0 28px;
    padding-top: 12px;
}

.onestepcheckout-register-container {
    float: left;
    padding-left: 10px;
    padding-bottom: 4px;
}

.onestepcheckout-register-container .checkbox {
    margin-bottom: 3px;
}

.onestepcheckout-checout-button-container {
    float: right;
    margin-left: 5px;
}

#onestepcheckout-error {
    clear: left;
}

.checkout-agreements li {
    margin: 0;
}

.checkout-agreements .agree {
    padding: 0 0 1px 2px;
    margin: 0 0 9px 9px;
}

.onestepcheckout-agreements-container {
    margin-bottom: 12px;
}

.checkout-agreements .agreement-content {
    border: 1px solid #CCCCCC;
}

.onestepcheckout-payment-container .sp-methods .onestepcheckout-method-color
    {
    margin: 2px 0 2px 10px;
    padding: 4px 8px;
}

.onestepcheckout-payment-container .sp-methods label,.onestepcheckout-shipping-container .sp-methods label
    {
    color: #384750;
}

.onestepcheckout-payment-container .sp-methods .radio,.onestepcheckout-shipping-container .sp-methods .radio
    {
    margin: 0 1px 3px 0;
}

.onestepcheckout-method-color-true {
    background: none repeat scroll 0 0 #ECF7DA;
}

.onestepcheckout-payment-container .payment-html .form-list {
    margin-left: 20px;
    padding: 0;
}

.onestepcheckout-payment-container .payment-html .form-list .input-box {
    width: 100%;
    padding: 0;
    margin-right: 6px;
}

.onestepcheckout-payment-container .payment-html .form-list .input-box .input-text
    {
    width: 97%;
}

.onestepcheckout-shipping-container span.price {
    color: #8F8F8F;
    float: right;
    font-size: 11px;
}

.onestepcheckout-shipping-container li {
    line-height: 19px;
    margin: 2px 0;
    padding: 4px;
}

.onestepcheckout-shipping-container .onestepcheckout-methods-label {
    margin-top: 4px;
    font-weight: bold;
}

.onestepcheckout-shipping-container .sp-methods label {
    font-weight: normal;
}

.onestepcheckout-shipping-container .sp-methods label.bolder {
    font-weight: bold;
}

.onestepcheckout-login-content {
    clear: both;
    float: right;
    margin: 4px 0 0;
}

input.input-text.onestepcheckout-error-field,textarea.onestepcheckout-error-field,select.onestepcheckout-error-field,.chzn-container.onestepcheckout-error-field a,p.agree.onestepcheckout-error-field
    {
    background: none repeat scroll 0 0 #FFDCDD;
}

#pickup-field label {
    font-weight: bold;
}

#pickup-field {
    padding: 4px 0 2px;
}

#pickup-field .checkbox {
    margin-bottom: 3px;
}

.onestepcheckout-address-container .onestepcheckout-label-address {
    display: block;
    margin-bottom: 4px;
    font-size: 13px;
    line-height: normal;
}

.onestepcheckout-customer-address-title label {
    font-weight: bold;
    font-size: 13px;
    line-height: normal;
}

.onestepcheckout-customer-address-title .radio {
    margin-bottom: 3px;
    margin-right: 2px;
}

.onestepcheckout-customer-address-address {
    padding-left: 17px;
}

.onestepcheckout-customer-address-title {
    margin-bottom: 3px;
}

.chzn-container-single.chzn-container-active a {
    background-color: #EDF7FD;
}

.alert {
    padding: 8px 35px 8px 14px;
    margin: 4px 0;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.alert,.alert-heading {
    color: #c09853;
}

.alert .close {
    position: relative;
    top: 1px;
    right: -27px;
    line-height: 18px;
    text-decoration: none;
}

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-success,.alert-success .alert-heading {
    color: #468847;
}

.alert-danger,.alert-error {
    background-color: #FFDCDD;
    border-color: #eed3d7;
}

.alert-danger,.alert-error,.alert-danger .alert-heading,.alert-error .alert-heading
    {
    color: #b94a48;
}

.alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert-info,.alert-info .alert-heading {
    color: #3a87ad;
}

.alert-block {
    padding-top: 4px;
    padding-bottom: 4px;
}

.alert-block>p,.alert-block>ul {
    margin-bottom: 0;
}

.alert-block p+p {
    margin-top: 5px;
}

.close {
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 18px;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.2;
    filter: alpha(opacity = 20);
}

.close:hover {
    color: #000000;
    text-decoration: none;
    opacity: 0.4;
    filter: alpha(opacity = 40);
    cursor: pointer;
}

.fade {
    -webkit-transition: opacity 0.15s linear;
    -moz-transition: opacity 0.15s linear;
    -ms-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
    opacity: 0;
}

.fade.in {
    opacity: 1;
}

.collapse {
    -webkit-transition: height 0.35s ease;
    -moz-transition: height 0.35s ease;
    -ms-transition: height 0.35s ease;
    -o-transition: height 0.35s ease;
    transition: height 0.35s ease;
    position: relative;
    overflow: hidden;
    height: 0;
}

.collapse.in {
    height: auto;
}

.onestepcheckout-login-content label {
    display: block;
    font-weight: bold;
}

.onestepcheckout-login-content .input-text {
    width: 120px;
    margin-right: 6px;
}

.onestepcheckout-login-content .button-login {
    margin-bottom: 1px;
}

.field-note {
    padding-left: 10px;
    background: url(../../images/onestepcheckout/note_bg.gif) center left
        no-repeat;
    font-size: 10px;
    line-height: 12px;
    margin: 2px 0 0 4px;
    color: #484848;
}
.empty-methods.sp-methods {
    margin: 10px 10px 6px 32px;
}

/*
 * UI
 */
.ui-autocomplete {
    position: absolute;
    cursor: default;
}

.ui-autocomplete-loading {
    background: url(../../images/onestepcheckout/ui-anim_basic_16x16.gif)
        right center no-repeat !important;
}

.ui-autocomplete.ui-menu {
    background: #fff;
    border: #BEBCB7 1px solid;
    border-top: none;
}

.ui-autocomplete.ui-menu .ui-menu-item {
    text-align: left;
}

/* workarounds */
* html .ui-autocomplete {
    width: 1px;
} /* without this, the menu expands to 100% in IE6 */
.ui-menu {
    list-style: none;
    padding: 2px;
    margin: 0;
    display: block;
    float: left;
}

.ui-menu .ui-menu {
    margin-top: -3px;
}

.ui-menu .ui-menu-item {
    margin: 0;
    padding: 0;
    zoom: 1;
    float: left;
    clear: left;
    width: 100%;
}

.ui-menu .ui-menu-item a {
    text-decoration: none;
    display: block;
    padding: .2em .4em;
    line-height: 18px;
    zoom: 1;
    border: 1px solid #fff;
}

.ui-menu .ui-menu-item a.ui-state-hover,.ui-menu .ui-menu-item a.ui-state-active
    {
    font-weight: normal;
    /*margin: -1px;*/
    background: #F7FDE1;
    border: 1px solid #B6B6B6;
}

::-webkit-input-placeholder { /* WebKit browsers */
    font-size: 14px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-size: 14px;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-size: 14px;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    font-size: 14px;
}
.checkout-agreements .agree input.checkbox {
    margin-bottom: 3px;
}