<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<title><?php echo Mage::helper('invoicebank')->__('Title kvit') ?></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<style type="text/css">
H1 {font-size: 12pt;}
p, ul, ol, h1 {margin-top:6px; margin-bottom:6px} 
td {font-size: 8pt;}
small {font-size: 7pt;}
BODY {font-size: 9pt; background-color:#fff;}
</style>
</head>
<body style="font-family: timesnewroman;" >
<h3 style="color:#7A7F88;font-family:Tahoma;font-size:11px;">Квитанция для оплаты заказанного товара по счету через Сбербанк или любой другой банк.<br />
Распечатайте эту страницу, заполните фамилию и адрес, поставьте дату и подпись.</h3>
<table border="0" cellspacing="0" cellpadding="0" style="width:180mm; height:145mm;" width="180mm">
<tr style="vertical-align: top;">
	<td style="width:50mm; height:70mm; border:1pt solid #000000; border-bottom:none; border-right:none; vertical-align: top" align="center">
	<table>
		<tr>
			<td style="vertical-align: top; padding-bottom: 65mm;" align="center"><b>Извещение</b></td>
		</tr>
		<tr>
			<td style="vertical-align: top;" align="center"><b>Кассир</b></td>
		</tr>
	</table>	
	</td>
	<td style="border:1pt solid #000000;border-bottom:none; vertical-align: top; padding: 0;" align="center">
		<table border="0" cellspacing="0" cellpadding="0" style="width:122mm; margin-top:3pt;">
			<tr>
				<td align="right" height="3mm"><small><i>Форма № ПД-4</i></small></td>
			</tr>
			<tr>
				<td style="border-bottom:1pt solid #000000;text-align:center;font-weight:bold;"><?php echo $this->getConfig()->getCompany() ?></td>
			</tr>
			<tr>
				<td align="center"><small>(наименование получателя платежа)</small></td>
			</tr>
		</table>
		<table border="0" cellspacing="0" cellpadding="0" style="width:122mm; margin-top:3pt;">
			<tr>
				<td style="width:37mm; border-bottom:1pt solid #000000;text-align:center;"><?php echo $this->getConfig()->getINN() ?>/<?php echo $this->getConfig()->getKPP() ?></td>
				<td style="width:9mm;">&nbsp;</td>
				<td style="border-bottom:1pt solid #000000;text-align:center;font-weight:bold;"><?php echo $this->getConfig()->getNomerScheta() ?></td>
			</tr>
			<tr>
				<td align="center"><small>(ИНН/КПП)</small></td>
				<td><small>&nbsp;</small></td>
				<td align="center"><small>(номер счета получателя платежа)</small></td>
			</tr>
		</table>
		<table border="0" cellspacing="0" cellpadding="0" style="width:122mm; margin-top:3pt;">
			<tr>
				<td>в </td>
				<td style="width:73mm; border-bottom:1pt solid #000000;"><?php echo $this->getConfig()->getBankName() ?></td>
				<td align="right">БИК&nbsp;&nbsp;</td>
				<td style="width:33mm; border-bottom:1pt solid #000000;"><?php echo $this->getConfig()->getBankBik() ?></td>
			</tr>
			<tr>
				<td></td>
				<td align="center"><small>(наименование банка получателя платежа)</small></td>
				<td></td>
				<td></td>
			</tr>
		</table>
		<table border="0" cellspacing="0" cellpadding="0" style="width:122mm; margin-top:3pt;">
			<tr>
				<td  align="left" style="white-space: nowrap; text-align: left; width: 60mm;">Номер кор./сч. банка получателя платежа&nbsp;</td>
				<td  style="border-bottom:1pt solid #000000;"> <?php echo $this->getConfig()->getBankKorrSchet() ?></td>
			</tr>
		</table>
		<table border="0" cellspacing="0" cellpadding="0" style="width:122mm; margin-top:3pt;">
			<tr>
				<td style="border-bottom:1pt solid #000000;text-align:center;font-weight:bold;"><?php echo Mage::helper('invoicebank')->__('Pay order') ?> 
	  <?php echo $this->getOrder()->getRealOrderId() ?>
	  от 
	  <?php echo $this->formatDate($this->getOrder()->getCreatedAtStoreDate()) ?></td>				
			</tr>
			<tr>
				<td  align="center"><small>(наименование платежа)</small></td>
			</tr>
		</table>
		<table border="0" cellspacing="0" cellpadding="0" style="width:122mm; margin-top:3pt;">
			<tr>
				<td style="white-space: nowrap; width: 30mm;">Ф.И.О. плательщика&nbsp;&nbsp;</td>
				<td style="border-bottom:1pt solid #000000;">&nbsp;</td>
			</tr>
		</table>
		<table border="0" cellspacing="0" cellpadding="0" style="width:122mm; margin-top:3pt;">
			<tr>
				<td style="white-space: nowrap; width: 30mm;">Адрес плательщика&nbsp;&nbsp;</td>
				<td style="border-bottom:1pt solid #000000;">&nbsp;</td>
			</tr>
		</table>		
		<table border="0" cellspacing="0" cellpadding="0" style="width:122mm; margin-top:3pt;">
			<tr>
				<td style="white-space: nowrap;">Сумма платежа&nbsp;<font style="font-weight:bold;"><?php echo $this->getOrderSummRub() ?> </font>&nbsp;руб.&nbsp;<font style="font-weight:bold;"> <?php echo $this->getOrderSummKop() ?></font>&nbsp;коп.</td>
				<td align="right">&nbsp;Сумма платы за услуги&nbsp;_____&nbsp;руб.&nbsp;____&nbsp;коп.</td>
			</tr>
		</table>
		<table border="0" cellspacing="0" cellpadding="0" style="width:122mm; margin-top:3pt;">
			<tr>
				<td>Итого&nbsp;&nbsp;_________&nbsp;руб.&nbsp;____&nbsp;коп.</td>
				<td align="right">&nbsp;&nbsp;&laquo;______&raquo;________________ 201____ г.</td>
			</tr>
		</table>	
		<table border="0" cellspacing="0" cellpadding="0" style="width:122mm; margin-top:3pt;">
			<tr>
				<td><small>С условиями приема указанной в платежном документе суммы, 
				в т.ч. с суммой взимаемой платы за услуги банка, ознакомлен и согласен.</small></td>
			</tr>
		</table>
		<table border="0" cellspacing="0" cellpadding="0" style="width:122mm; margin-top:3pt;margin-bottom:3pt;">
			<tr>
				<td align="right"><b>Подпись плательщика _____________________</b></td>
			</tr>
		</table>
	</td>
</tr>
<tr style="vertical-align: top;">
	<td style="width:50mm; height:70mm; border:1pt solid #000000; border-right:none;vertical-align: top;" align="center" >
	<table>
		<tr>
			<td style="vertical-align: top; padding-bottom: 65mm;" align="center"><b>Квитанция</b></td>
		</tr>
		<tr>
			<td style="vertical-align: top;" align="center"><b>Кассир</b></td>
		</tr>
	</table>
	</td>
	<td style="border:1pt solid #000000; vertical-align: top; padding: 0;" align="center" >
		<table border="0" cellspacing="0" cellpadding="0" style="width:122mm; margin-top:3pt;">
			<tr>
				<td align="right" height="4mm"><small><i>Форма № ПД-4</i></small></td>
			</tr>
			<tr>
				<td style="border-bottom:1pt solid #000000;text-align:center;font-weight:bold;"><?php echo $this->getConfig()->getCompany() ?></td>
			</tr>
			<tr>
				<td align="center"><small>(наименование получателя платежа)</small></td>
			</tr>
		</table>
		<table border="0" cellspacing="0" cellpadding="0" style="width:122mm; margin-top:3pt;">
			<tr>
				<td style="width:37mm; border-bottom:1pt solid #000000;text-align:center;"><?php echo $this->getConfig()->getINN() ?>/<?php echo $this->getConfig()->getKPP() ?></td>
				<td style="width:9mm;">&nbsp;</td>
				<td style="border-bottom:1pt solid #000000;text-align:center;font-weight:bold;"><?php echo $this->getConfig()->getNomerScheta() ?></td>
			</tr>
			<tr>
				<td align="center"><small>(ИНН/КПП)</small></td>
				<td><small>&nbsp;</small></td>
				<td align="center"><small>(номер счета получателя платежа)</small></td>
			</tr>
		</table>
		<table border="0" cellspacing="0" cellpadding="0" style="width:122mm; margin-top:3pt;">
			<tr>
				<td>в </td>
				<td style="width:73mm; border-bottom:1pt solid #000000;"><?php echo $this->getConfig()->getBankName() ?></td>
				<td align="right">БИК&nbsp;&nbsp;</td>
				<td style="width:33mm; border-bottom:1pt solid #000000;"><?php echo $this->getConfig()->getBankBik() ?></td>
			</tr>
			<tr>
				<td></td>
				<td align="center"><small>(наименование банка получателя платежа)</small></td>
				<td></td>
				<td></td>
			</tr>
		</table>
		<table border="0" cellspacing="0" cellpadding="0" style="width:122mm; margin-top:3pt;">
			<tr>
				<td  align="left" style="white-space: nowrap; text-align: left; width: 60mm;">Номер кор./сч. банка получателя платежа&nbsp;</td>
				<td  style="border-bottom:1pt solid #000000;"> <?php echo $this->getConfig()->getBankKorrSchet() ?></td>
			</tr>
		</table>
		<table border="0" cellspacing="0" cellpadding="0" style="width:122mm; margin-top:3pt;">
			<tr>
				<td style="border-bottom:1pt solid #000000;text-align:center;font-weight:bold;"><?php echo Mage::helper('invoicebank')->__('Pay order') ?> 
	  <?php echo $this->getOrder()->getRealOrderId() ?>
	  от 
	  <?php echo $this->formatDate($this->getOrder()->getCreatedAtStoreDate()) ?></td>				
			</tr>
			<tr>
				<td  align="center"><small>(наименование платежа)</small></td>
			</tr>
		</table>
		<table border="0" cellspacing="0" cellpadding="0" style="width:122mm; margin-top:3pt;">
			<tr>
				<td style="white-space: nowrap; width: 30mm;">Ф.И.О. плательщика&nbsp;&nbsp;</td>
				<td style="border-bottom:1pt solid #000000;">&nbsp;</td>
			</tr>
		</table>
		<table border="0" cellspacing="0" cellpadding="0" style="width:122mm; margin-top:3pt;">
			<tr>
				<td style="white-space: nowrap; width: 30mm;">Адрес плательщика&nbsp;&nbsp;</td>
				<td style="border-bottom:1pt solid #000000;">&nbsp;</td>
			</tr>
		</table>		
		<table border="0" cellspacing="0" cellpadding="0" style="width:122mm; margin-top:3pt;">
			<tr>
				<td style="white-space: nowrap;">Сумма платежа&nbsp;<font style="font-weight:bold;"><?php echo $this->getOrderSummRub() ?> </font>&nbsp;руб.&nbsp;<font style="font-weight:bold;"> <?php echo $this->getOrderSummKop() ?></font>&nbsp;коп.</td>
				<td align="right">&nbsp;Сумма платы за услуги&nbsp;_____&nbsp;руб.&nbsp;____&nbsp;коп.</td>
			</tr>
		</table>
		<table border="0" cellspacing="0" cellpadding="0" style="width:122mm; margin-top:3pt;">
			<tr>
				<td>Итого&nbsp;&nbsp;_________&nbsp;руб.&nbsp;____&nbsp;коп.</td>
				<td align="right">&nbsp;&nbsp;&laquo;______&raquo;________________ 201____ г.</td>
			</tr>
		</table>	
		<table border="0" cellspacing="0" cellpadding="0" style="width:122mm; margin-top:3pt;">
			<tr>
				<td><small>С условиями приема указанной в платежном документе суммы, 
				в т.ч. с суммой взимаемой платы за услуги банка, ознакомлен и согласен.</small></td>
			</tr>
		</table>
		<table border="0" cellspacing="0" cellpadding="0" style="width:122mm; margin-top:3pt;margin-bottom:3pt;">
			<tr>
				<td align="right"><b>Подпись плательщика _____________________</b></td>
			</tr>
		</table>
	</td>
</tr>
</table>
<br />
<h1>Внимание! В стоимость заказа не включена комиссия банка.</h1>

<!-- Условия поставки -->
<h1><b>Метод оплаты:</b></h1>
<ol>
  <li>Распечатайте квитанцию. Если у вас нет принтера, перепишите верхнюю часть квитанции и заполните по этому образцу стандартный бланк квитанции в вашем банке.</li>
  <li>Вырежьте по контуру квитанцию.</li>
  <li>Оплатите квитанцию в любом отделении банка, принимающего платежи от частных лиц.</li>
  <li>Сохраните квитанцию до подтверждения исполнения заказа.</li>
</ol>
<?php echo $this->getDesk();?>
</body>
</html>