<?php 
/**
 * @category    Mana
 * @package     ManaPro_FilterCheckboxes
 * @copyright   Copyright (c) http://www.manadev.com
 * @license     http://www.manadev.com/license  Proprietary License
 */
/** 
 * Template for showing options for filter as a list of checkboxes 
 * @author Mana Team
 * Injected instead of standard catalog/layer/filter.phtml in Mana_Filters_Block_Filter_Attribute init() method.
 * This template is overridden by copying (template body was pasted from catalog/layer/filter.phtml 
 * and modified as needed). All changes are marked with comments.
 */
/* @var $this Mana_Filters_Block_Filter_Attribute */
?>
<ol class="m-filter-checkboxes">
<?php
    /** @var $session ManaPro_FilterShowMore_Model_Session */
    $session = Mage::getSingleton('manapro_filtershowmore/session');

    $maxItemCount = $this->getFilterOptions()->getShowMoreItemCount();
$i=0;
foreach ($this->getItems() as $_item):
        if($i<$maxItemCount) { ?>
    <li>
        <?php // MANA BEGIN ?>
		<input type="checkbox" id="<?php echo $_item->getUniqueId() ?>" value="<?php echo $_item->getValue() ?>" <?php if ($_item->getMSelected()): ?>checked="checked"<?php endif; ?>
			onClick="location.href='<?php echo $this->urlEscape($_item->getMSelected() ? $_item->getRemoveUrl() : $_item->getUrl()) ?>';"
            />
		<label for="<?php echo $_item->getUniqueId() ?>"><span <?php if ($_item->getMSelected()): ?>class="m-selected-checkbox-item"<?php endif; ?>><?php echo $_item->getLabel() ?></span></label>
        <?php // MANA END ?>
        (<?php echo $_item->getCount() ?>)
    </li>
<?php

        } $i++;
endforeach;

?>
</ol>
<div id="show-more-<?php echo $this->getFilter()->getRequestVar()?>"<?php if (!$session->isFilterExpanded($this->getFilter()->getRequestVar())) echo ' style="display:none"' ?>>
<ol class="m-filter-checkboxes">
<?php
$i=0; $checked = 0;
foreach ($this->getItems() as $_item):
        if($i>=$maxItemCount) { ?>
    <li>
        <?php // MANA BEGIN ?>
		<input type="checkbox" id="<?php echo $_item->getUniqueId() ?>" value="<?php echo $_item->getValue() ?>" <?php if ($_item->getMSelected()): $checked++; ?>checked="checked"<?php endif; ?>
			onClick="location.href='<?php echo $this->urlEscape($_item->getMSelected() ? $_item->getRemoveUrl() : $_item->getUrl()) ?>';" />
		<label for="<?php echo $_item->getUniqueId() ?>"><span <?php if ($_item->getMSelected()): ?>class="m-selected-checkbox-item"<?php endif; ?>><?php echo $_item->getLabel() ?></span></label>
        <?php // MANA END ?>
        (<?php echo $_item->getCount() ?>)
    </li>
<?php

        } $i++;
endforeach; ?>
</ol>
</div>
<?php echo Mage::helper('mana_core')->getNamedHtml('mana_filters/markup', 'after_items', array('block' => $this)) ?>
