<ul id="payment_form_<?php echo $this->getMethodCode()?>" style="display: none" class="form-list">
	<li>
		 <?php echo $this->__('После подтверждения заказа, вы сможете распечатать квитанцию для оплаты в Банке.') ; ?>
    </li>
</ul>