<div id="onestepcheckout-shipping-methods">
<?php $_shippingRateGroups = $this->getShippingRates();?>
<?php if (!count($_shippingRateGroups)): ?>
    <p class="empty-methods sp-methods"><?php echo $this->getEmptyText(); ?></p>
<?php else: ?>
<div class="sp-methods">
        <?php $_sole = count($_shippingRateGroups) == 1; foreach ($_shippingRateGroups as $code => $_rates): ?>
        <?php if($this->isShippingLabel()):?>
            <div class="onestepcheckout-methods-label"><?php echo $this->getCarrierName($code) ?></div>
        <?php endif;?>
        <ul>
            <?php $_sole = $_sole && count($_rates) == 1; foreach ($_rates as $_rate): ?>
            <li <?php if (!$_rate->getErrorMessage()):?>class="onestepcheckout-success"<?php endif;?>>
               <?php if ($_rate->getErrorMessage()): ?>
                <ul class="messages"><li class="error-msg"><ul><li><?php echo $_rate->getErrorMessage() ?></li></ul></li></ul>
               <?php else: ?>
                    <input name="shipping_method" type="radio" value="<?php echo $_rate->getCode() ?>" id="s_method_<?php echo $_rate->getCode() ?>" <?php if($_rate->getCode()===$this->getAddressShippingMethod()) echo ' checked="checked"' ?> class="radio" />
                    <label <?php if(!$this->isShippingLabel()):?>class="bolder"<?php endif;?> for="s_method_<?php echo $_rate->getCode() ?>"><?php echo $_rate->getMethodTitle() ?>
                    <?php $_excl = $this->getShippingPrice($_rate->getPrice(), $this->helper('tax')->displayShippingPriceIncludingTax()); ?>
                    <?php $_incl = $this->getShippingPrice($_rate->getPrice(), true); ?>
                    <?php echo $_excl; ?>
                    <?php if ($this->helper('tax')->displayShippingBothPrices() && $_incl != $_excl): ?>
                        (<?php echo $this->__('Incl. Tax'); ?> <?php echo $_incl; ?>)
                    <?php endif; ?>
                    </label>
                     <?php
                        //XXX add custom html
                        $carrier = Mage::getModel('shipping/config')->getCarrierInstance($code);
                        if($carrier->getFormBlock()){
                            $block = $this->getLayout()->createBlock($carrier->getFormBlock());
                            $block->setMethodCode($code);
                            $block->setRate($_rate);
                            $block->setMethodInstance($carrier);
                            echo $block->_toHtml();
                        }
                        //XXX
                    ?>
               <?php endif ?>
               <div class="clearer"></div>
            </li>
        <?php endforeach; ?>
        </ul>
    <?php endforeach; ?>
</div>
<?php endif; ?>
</div>