<?php
/**
 * Template for Mage_Page_Block_Html
 */
?>
<!DOCTYPE HTML>
<html>
<head>
<?php echo $this->getChildHtml('head') ?>
<!--[if !IE]><!-->
<script>if(/*@cc_on!@*/false){document.documentElement.className+=' ie10';}</script>
<!--<![endif]-->
</head>
<body<?php echo $this->getBodyClass()?' class="'.$this->getBodyClass().'"':'' ?>>
    <div id="general_cantainer">
        <div id="content_container" align="center" itemscope itemtype="http://schema.org/Product">
       
            <div id="over" style="display:none;"></div>
            <?php echo $this->getChildHtml('after_body_start') ?>
            <?php echo $this->getChildHtml('global_notices') ?>
            <div  id="section-wrapper">
                <div id="section">
                    <div id="center" align="left">
                        <div id="center_container">
                            <?php echo $this->getChildHtml('global_messages') ?>
                            <?php
                                if(isset($_POST['cmb_submit'])) {
                                    if(trim($_POST['cmb_name']) == '') $hasError = true;
                                    else $cmb_name = htmlspecialchars(trim($_POST['cmb_name']));
                                    if(trim($_POST['cmb_phone']) == '') $hasError = true;
                                    else $cmb_phone = htmlspecialchars(trim($_POST['cmb_phone']));
                                    if(!isset($hasError)) {
                                        $from = "call@bazelini.ru";
                                        $body = "Отправитель: $cmb_name <br>Телефон обратной связи: $cmb_phone";
                                        $headers  = "Content-type: text/html; charset=utf-8 \r\n"; 
                                        $headers .= "From: Перезвоните мне! <callmeback@vmashin.ru>\r\n"; 
                                        mail("vremya-mashin@mail.ru", "Заказан звонок", $body, $headers);
                                        echo "<div class=\"box_info\">Ваша заявка отправлена! Мы обязательно свяжемся с Вами в ближайшее время.</div>";
                                    }else{
                                        echo "<div class=\"box_error\">Произошла ошибка при отправке заявки. Пожалуйста, проверьте правильность ввода данных и повторите попытку.</div>";
                                    }
                                }
                            ?>
                            <?php echo $this->getChildHtml('content') ?>
                            <div id="breadcrumps_container">
                                <?php echo $this->getChildHtml('breadcrumbs') ?>
                            </div>
                        </div>
                    </div>
                    <div id="left" align="left">
                        <?php echo $this->getChildHtml('left') ?>
                    </div>
                </div>
            </div>
        </div>
        <div id="header_container">
            <?php echo $this->getChildHtml('header') ?>
        </div>
    </div>
    <div id="callmeback-container">
        <?php echo $this->getChildHtml('requestcall') ?>
    </div>
                <?php echo $this->getChildHtml('footer') ?>
                <?php echo $this->getChildHtml('before_body_end') ?>
                <?php echo $this->getAbsoluteFooter() ?>
</body>
</html>