<?php
/**
 * Template for Mage_Page_Block_Html
 */
?>
<!DOCTYPE HTML>
<html>
<head>
<?php echo $this->getChildHtml('head') ?>
<?php 
/**
<!--GA begin -->
<script type='text/javascript'>

  var _gaq = _gaq || [];

  _gaq.push(['_setAccount', 'UA-27639858-1']);
  _gaq.push(['_addOrganic', 'blogsearch.google.ru', 'q', true]);
  _gaq.push(['_addOrganic', 'blogs.yandex.ru', 'text', true]);
  _gaq.push(['_addOrganic', 'go.mail.ru', 'q']);
  _gaq.push(['_addOrganic', 'nova.rambler.ru', 'query']);
  _gaq.push(['_addOrganic', 'nigma.ru', 's']);
  _gaq.push(['_addOrganic', 'webalta.ru', 'q']);
  _gaq.push(['_addOrganic', 'aport.ru', 'r']);
  _gaq.push(['_addOrganic', 'poisk.ru', 'text']);
  _gaq.push(['_addOrganic', 'km.ru', '_km_search_search_string']);
  _gaq.push(['_addOrganic', 'liveinternet.ru', 'string']);
  _gaq.push(['_addOrganic', 'quintura.ru', 'request']);
  _gaq.push(['_addOrganic', 'search.qip.ru', 'query']);
  _gaq.push(['_addOrganic', 'gde.ru', 'like[title]']);
  _gaq.push(['_addOrganic', 'gogo.ru', 'q']);
  _gaq.push(['_addOrganic', 'ru.yahoo.com', 'p']);
  _gaq.push(['_addOrganic', 'tut.by', 'str']);
  _gaq.push(['_addOrganic', 'all.by', 'query']);
  _gaq.push(['_addOrganic', 'meta.ua', 'q']);
  _gaq.push(['_addOrganic', 'bigmir.net', 'q']);
  _gaq.push(['_addOrganic', 'i.ua', 'q']);
  _gaq.push(['_addOrganic', 'online.ua', 'q']);
  _gaq.push(['_addOrganic', 'a.ua', 'query']);
  _gaq.push(['_addOrganic', 'ukr.net', 'q']);
  _gaq.push(['_addOrganic', 'search.ua', 'q']);
  _gaq.push(['_addOrganic', 'search.ukr.net', 'q']);
  _gaq.push(['_addOrganic', 'market.yandex.ru', 'text', true]);
  _gaq.push(['_addOrganic', 'price.ru', 'query']);
  _gaq.push(['_addOrganic', 'tyndex.ru', 'pnam']);
  _gaq.push(['_addOrganic', 'torg.mail.ru', 'q']);
  _gaq.push(['_addOrganic', 'tiu.ru', 'search_term']);
  _gaq.push(['_addOrganic', 'tech2u.ru', 'text']);
  _gaq.push(['_addOrganic', 'goods.marketgid.com', 'q']);
  _gaq.push(['_addOrganic', 'poisk.ngs.ru', 'q']);
  _gaq.push(['_addOrganic', 'sravni.com', 'q']);
  _gaq.push(['_addOrganic', 'e-katalog.ru', 'search_']);
  _gaq.push(['_addOrganic', 'market.meta.ua', 'q']);
  _gaq.push(['_addOrganic', 'sravni.ua', 'q']);
  _gaq.push(['_addOrganic', 'shop.bigmir.net', 'q']);
  _gaq.push(['_addOrganic', 'av.hotline.ua', 'q']);
  _gaq.push(['_addOrganic', 'bt.hotline.ua', 'q']);
  _gaq.push(['_addOrganic', 'dom.hotline.ua', 'q']);
  _gaq.push(['_addOrganic', 'sport.hotline.ua', 'q']);
  _gaq.push(['_addOrganic', 'auto.hotline.ua', 'q']);
  _gaq.push(['_addOrganic', 'hotline.ua', 'q']);
  _gaq.push(['_addOrganic', 'e-katalog.com.ua', 'search_']);
  _gaq.push(['_addOrganic', 'svitpokupok.com', 'q']);
  _gaq.push(['_addOrganic', 'search.topping.com.ua', 'search']);
  _gaq.push(['_addOrganic', 'searchcat.mytop-in.net', 'search']);
  _gaq.push(['_addOrganic', 'hit24.com.ua', 'sw']);
  _gaq.push(['_addOrganic', 'hotsale.ua', 'q']);
  _gaq.push(['_addOrganic', 'shop.i.ua', 'q']);
  _gaq.push(['_addOrganic', 'catalog.i.ua', 'q']);
  _gaq.push(['_addOrganic', 'price-list.in.ua', 'word']);
  _gaq.push(['_addOrganic', 'pay.ua', 'q']);
  _gaq.push(['_addOrganic', 'hotprice.ua', 's_text']);
  _gaq.push(['_trackPageview']);
  _gaq.push(['_addTrans', '100001639', 'Время Машин - Радиоуправляемые модели', '31680.0000', '0.0000', '0.0000', 'Москва', 'Москва', 'RU']);
  _gaq.push(['_addItem', '100001639', 'MV12803', 'Радиоуправляемая машина монстр Maverick Ion MT 4WD 1:18 RTR 2,4 ГГц, Электро коллекторный, MV12803', '', '4890.0000', '1.0000']);
  _gaq.push(['_addItem', '100001639', 'MV12701', 'Радиоуправляемая машина багги Maverick Vader XB 4WD, 2.4GHz, RTR, 1:5, Электро бесколлекторный, MV12701', '', '26790.0000', '1.0000']);
  _gaq.push(['_trackTrans']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<!--GA end -->*/
?>
</head>
<body<?php echo $this->getBodyClass()?' class="'.$this->getBodyClass().'"':'' ?>>
<div id="over" style="display:none;"></div>
<?php echo $this->getChildHtml('after_body_start') ?>
<?php echo $this->getChildHtml('global_notices') ?>

<?php echo $this->getChildHtml('header') ?>
<div id="section-wrapper">
	<div id="section">
    <div id="left">
			<?php echo $this->getChildHtml('left') ?>
		</div>
		<div id="center">
			<?php echo $this->getChildHtml('breadcrumbs') ?>

			<?php echo $this->getChildHtml('global_messages') ?>

			<?php
if(isset($_POST['cmb_submit'])) {
	
  if(trim($_POST['cmb_name']) == '') $hasError = true;
  else $cmb_name = htmlspecialchars(trim($_POST['cmb_name']));
	
  if(trim($_POST['cmb_phone']) == '') $hasError = true;
  else $cmb_phone = htmlspecialchars(trim($_POST['cmb_phone']));
	
  if(!isset($hasError)) {
		$from = "call@bazelini.ru";
    $body = "Отправитель: $cmb_name <br>Телефон обратной связи: $cmb_phone";
		$headers  = "Content-type: text/html; charset=utf-8 \r\n"; 
		$headers .= "From: Перезвоните мне! <callmeback@vmashin.ru>\r\n"; 
			
		mail("vremya-mashin@mail.ru", "Заказан звонок", $body, $headers);
    
		echo "<div class=\"box_info\">Ваша заявка отправлена! Мы обязательно свяжемся с Вами в ближайшее время.</div>";
		
  } else {
    echo "<div class=\"box_error\">Произошла ошибка при отправке заявки. Пожалуйста, проверьте правильность ввода данных и повторите попытку.</div>";
  }
}
?>
			<?php echo $this->getChildHtml('content') ?>
		</div>
	</div>
</div>
<?php echo $this->getChildHtml('footer') ?>
<?php echo $this->getChildHtml('before_body_end') ?>
<?php echo $this->getAbsoluteFooter() ?>
</body>
</html