<?php
/**
 * Template for Mage_Page_Block_Html
 */
?>
<!DOCTYPE HTML>
<html>
<head>
<?php echo $this->getChildHtml('head') ?>
</head>
<body<?php echo $this->getBodyClass()?' class="'.$this->getBodyClass().'"':'' ?>>
    <div id="general_cantainer">
        <div id="content_container" align="center">
            <div id="section-wrapper">
                    <div id="section">
                            <div id="center" style="width: 100%">
                                <?php echo $this->getChildHtml('global_messages') ?>
                                <?php echo $this->getChildHtml('content') ?>
                            </div>
                    </div>
            </div>
        </div>
        <div id="header_container">
            <?php echo $this->getChildHtml('after_body_start') ?>
            <?php echo $this->getChildHtml('global_notices') ?>

            <div class="top-red-row">&nbsp;</div>
            <div class="top-white-row">&nbsp;</div>
            <div class="top-grey-row">&nbsp;</div>
            <div id="header">
              <div class="left-wrapper">
                <a href="/" class="trade-mark">Время Машин</a>
                            <div class="f-slogan" style="margin:130px 0 0;">Радиоуправляемые модели</div>
              </div><div class="right-wrapper">
                <div class="contacts">
                  <div class="phone">(495) 724-93-59</div>
                  <div class="phone">(495) 724-93-89</div>
                  <div class="worktime">Пн-Пт - с 10-00 до 19-00</div>
                  <a class="callmeback" href="/callmeback">Заказать звонок</a>
                </div>
              </div>
            </div>
        </div>
    </div>
    <?php echo $this->getChildHtml('footer') ?>
    <?php echo $this->getChildHtml('before_body_end') ?>
    <?php echo $this->getAbsoluteFooter() ?>
</body>
</html>