<?php
/**
 * Created by JetBrains PhpStorm.
 * User: svyatoslav
 * Date: 04.06.12
 * Time: 14:33
 * To change this template use File | Settings | File Templates.
 */
?>
<form id="cmb_form" action="<?php echo Mage::getBaseUrl()?>callmeback/index/sent" method="post" onSubmit="ajaxSubmit(this); return false;">
    <ul id="message" class="messages" style="display:none;">
        <li class="success-msg">
            <ul>
                <li>
                    <span></span>
                </li>
            </ul>
        </li>
    </ul>
    <div id="error" style="display: none;"><span>Пожалуйста, заполните поля отмеченные <span class="field-req">*</span></span></div>
    <p><label><span class="label-txt">Имя:<span class="field-req">*</span></span><input id="callmeback-name" class="it1 input-text" type="text" name="cmb_name" /></label></p>
    <label><span class="label-txt">Телефон:<span class="field-req">*</span></span><span class="tel-7">+7</span><input id="callmeback-phone" class="tel-it1 input-text" type="tel" name="cmb_phone" /></label>
    <br/>
    <br/>
    
    <div>
        <div style="margin: 5px 0;"><span>Желаемое время звонка:</span></div>
        <div style="float: left;">
            <span style="margin-right:10px;">C</span>
            <select onchange="fromH(this.value)" name="h_from" id="h_from">
                <option id="h_from_10" value="10">10</option>
                <option id="h_from_11" value="11">11</option>
                <option id="h_from_12" value="12">12</option>
                <option id="h_from_13" value="13">13</option>
                <option id="h_from_14" value="14">14</option>
                <option id="h_from_15" value="15">15</option>
                <option id="h_from_16" value="16">16</option>
                <option id="h_from_17" value="17">17</option>
                <option id="h_from_18" value="18">18</option>
                <option id="h_from_19" value="19">19</option>
                <option id="h_from_20" value="20">20</option>
                <option id="h_from_21" value="21">21</option>
            </select>
            <span>:</span>
            <select onchange="fromM(this.value)" name="m_from" id="m_from">
                <option id="m_from_0" value="00">00</option>
                <option id="m_from_1" value="15">15</option>
                <option id="m_from_2" value="30">30</option>
                <option id="m_from_3" value="45">45</option>
            </select>
        </div>
        <div style="float: left; margin: 0 15px;"><span>до</span></div>
        <div>
            <select onchange="toH(this.value)" name="h_to" id="h_to">
                <option id="h_to_10" value="10">10</option>
                <option id="h_to_11" value="11">11</option>
                <option id="h_to_12" value="12">12</option>
                <option id="h_to_13" value="13">13</option>
                <option id="h_to_14" value="14">14</option>
                <option id="h_to_15" value="15">15</option>
                <option id="h_to_16" value="16">16</option>
                <option id="h_to_17" value="17">17</option>
                <option id="h_to_18" value="18">18</option>
                <option id="h_to_19" value="19">19</option>
                <option id="h_to_20" value="20">20</option>
                <option id="h_to_21" value="21">21</option>
            </select>
            <span>:</span>
            <select onchange="toM(this.value)" name="m_to" id="m_to">
                <option id="m_to_0" value="00">00</option>
                <option id="m_to_1" value="15">15</option>
                <option id="m_to_2" value="30">30</option>
                <option id="m_to_3" value="45">45</option>
            </select>
        </div>
        <div style="clear: both;"></div>
    </div>
    <br/>
    <label><span class="label-txt">Коментарий:</span></label>
    <textarea name="comment" style="border-color: #B8B6B6; resize:none; " rows="2"  class="it1"></textarea>
        <p><button onclick="validatecmb(this.form);return false;" class="button" name="cmb_submit" type="button">Заказать звонок</button></p>
</form>

<script type="text/javascript">
    function fromH(hfrom) {
        var i;
        for(i=10;i<=21;i++){
            var id = 'h_to_'+i;
            $(id).disabled=false;
        }
        for(i=10;i<hfrom;i++){
            var id = 'h_to_'+i;
            //alert(id);
            $(id).disabled="disabled";
        }
        id = 'h_to_'+i;
        if ($('h_to').value < hfrom){
        $('h_to').value = $(id).value;
        }
        if (hfrom == $('h_to')){
            fromM($('m_to').value)
        }

    }
    function fromM(mfrom) {
        if ($('h_to').value == $('h_from').value){
            var i;
            for(i=0;i<4;i++){
                var id = 'm_to_'+i;
                    $(id).disabled=false;
            }
            for(i=0;i<4;i++){
                var id = 'm_to_'+i;
                if ($(id).value != mfrom){
                $(id).disabled="disabled";
                } else {break}
            }
            i = (i*1)+(1*1);
            id = 'm_to_'+i;
            if ($(id).value > mfrom) {
            $('m_to').value = $(id).value;
            }
        }

    }

    function toH(hto) {
        var i;
        for(i=10;i<=21;i++){
            var id = 'h_from_'+i;
            $(id).disabled=false;
        }
        var tmp = (hto*1)+(1*1);
        for(i=tmp;i<=21;i++){
            var id = 'h_from_'+i;
            //alert(id);
            $(id).disabled="disabled";
        }

        if (hto == $('h_from').value){
            toM($('m_to').value);
        }


    }
    function toM(mt) {
        if ($('h_to').value == $('h_from').value){
            var i;
            for(i=0;i<4;i++){
                var id = 'm_from_'+i;
                $(id).disabled=false;
            }
            for(i=0;i<4;i++){
                var id = 'm_from_'+i;
                if ($(id).value > mt){
                    $(id).disabled="disabled";
                }
            }
        }

    }

    function validatecmb(form){
         if (($('callmeback-name').value == '') || ($('callmeback-phone').value == '')){
             $('error').style.display = "block";
             return false;
         } else {
             ajaxSubmit(form);
         }
        return false;
    }
    function ajaxSubmit(form){
            var url = form.getAttribute('action');
            var data = $(form).serialize();
            jQuery.ajax({
                url: url,
                type: 'post',
                data: data,
                success: function(data){
                    data = JSON.parse(data);
                    if(data.result === true){
                        $('message').style.display = "block";
                        jQuery('.success-msg span').html(data.message)
                    }else{
                        jQuery('.success-msg span').html(data.message)
                    }
                }
            });
        return false;
    }
</script>