<?php $_code=$this->getMethodCode() ?>
<ul id="payment_form_<?php echo $_code ?>" style="display:none" class="form-list">
    <li>
        <div class="input-box">
            <label for="<?php echo $_code ?>_tel"><?php echo $this->__('Tel') ?> <span class="required">*</span></label><br/>
            <input type="text" title="<?php echo $this->__('Tel') ?>" class="validate-phoneLax input-text required-entry" id="<?php echo $_code ?>_tel" name="payment[tel]" value="<?php echo $this->htmlEscape($this->getInfoData('tel')) ?>"/>
            <br />
            <small><?php echo $this->__('Primer 9219898888'); ?></small>
            <br />
        </div>
        <?php echo $this->__($this->getMethodDescription()); ?>
    </li>
</ul>
<?php if($this->isInputMask()):?>
<script>
jQuery(document).ready(function(){
    jQuery("#qiwi_tel").inputmask("mask", {"mask": "(999) 999-99-99"});
    });
</script>
<?php endif;?>