<?php
/**
 * Edit customer address template
 *
 * @see Mage_Customer_Block_Address_Edit
 */
?>
<?php if($this->getTitle()): ?>
<div class="page-title">
    <h1><?php echo $this->getTitle() ?></h1>
</div>
<?php endif; ?>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<form action="<?php echo $this->getSaveUrl() ?>" method="post" id="form-validate" class="account-address-new">
    <div class="fieldset">
    <?php echo $this->getBlockHtml('formkey')?>
    <input type="hidden" name="success_url" value="<?php echo $this->getSuccessUrl() ?>" />
    <input type="hidden" name="error_url" value="<?php echo $this->getErrorUrl() ?>" />
			<h2 class="legend"><?php echo $this->__('Contact Information') ?></h2>
			<p>
				<?php echo $this->getNameBlockHtml() ?>
			</p>
			<p style="display:none">
				<label for="company"><?php echo $this->__('Company') ?></label>
				<input type="text" name="company" id="company" title="<?php echo $this->__('Company') ?>" value="<?php echo $this->htmlEscape($this->getAddress()->getCompany()) ?>" class="input-text" />
			</p>
			<p>
				<label for="telephone" class="required"><em>*</em><?php echo $this->__('Telephone') ?></label>
				<input type="text" name="telephone" value="<?php echo $this->htmlEscape($this->getAddress()->getTelephone()) ?>" title="<?php echo $this->__('Telephone') ?>" class="input-text required-entry" id="telephone" />
			</p>
			<p style="display:none">
				<label for="fax"><?php echo $this->__('Fax') ?></label>
				<input type="text" name="fax" id="fax" title="<?php echo $this->__('Fax') ?>" value="<?php echo $this->htmlEscape($this->getAddress()->getFax()) ?>" class="input-text" />
			</p>
    </div>
    <div class="fieldset">
			<h2 class="legend"><?php echo $this->__('Address') ?></h2>
			<p>
				<label for="city" class="required"><em>*</em><?php echo $this->__('City') ?></label>
				<input type="text" name="city" value="<?php echo $this->htmlEscape($this->getAddress()->getCity()) ?>"  title="<?php echo $this->__('City') ?>" class="input-text required-entry" id="city" />
			</p>
			<p>
				<label for="street_1" class="required"><em>*</em><?php echo $this->__('Street Address') ?></label>
				<input type="text" name="street[]" value="<?php echo $this->htmlEscape($this->getAddress()->getStreet(1)) ?>" title="<?php echo $this->__('Street Address') ?>" id="street_1" class="input-text required-entry" />
			</p>
			<?php for ($_i=2, $_n=$this->helper('customer/address')->getStreetLines(); $_i<=$_n; $_i++): ?>
			<p>
				<input type="text" name="street[]" value="<?php echo $this->htmlEscape($this->getAddress()->getStreet($_i)) ?>" title="<?php echo $this->__('Street Address %s', $_i) ?>" id="street_<?php echo $_i?>" class="input-text" />
			</p>
			<?php endfor ?>
			<p style="display:none">
				<label for="region_id" class="required"><em>*</em><?php echo $this->__('State/Province') ?></label>
				<select id="region_id" name="region_id" title="<?php echo $this->__('State/Province') ?>" class="validate-select" style="display:none;">
					 <option value=""><?php echo $this->__('Please select region, state or province') ?></option>
				</select>
				<script type="text/javascript">
				//<![CDATA[
						$('region_id').setAttribute('defaultValue',  "<?php echo $this->getAddress()->getRegionId() ?>");
				//]]>
				</script>
				<input type="text" id="region" name="region" value="<?php echo $this->htmlEscape($this->getAddress()->getRegion()) ?>"  title="<?php echo $this->__('State/Province') ?>" class="input-text" />
			</p>
			<p>
				<label for="zip" class="required"><em>*</em><?php echo $this->__('Zip/Postal Code') ?></label>
				<input type="text" name="postcode" value="<?php echo $this->htmlEscape($this->getAddress()->getPostcode()) ?>" title="<?php echo $this->__('Zip/Postal Code') ?>" id="zip" class="input-text validate-zip-international required-entry" />
			</p>
			<p style="display:none">
				<label for="country" class="required"><em>*</em><?php echo $this->__('Country') ?></label>
				<?php echo $this->getCountryHtmlSelect() ?>
			</p>
			<p<?php if($this->canSetAsDefaultBilling()) echo ' class="control"' ?>>
				<?php if($this->isDefaultBilling()): ?>
						<strong><?php echo $this->__('Default Billing Address') ?></strong>
				<?php elseif($this->canSetAsDefaultBilling()): ?>
						<input type="checkbox" id="primary_billing" name="default_billing" value="1" title="<?php echo $this->__('Use as My Default Billing Address') ?>" class="checkbox" /><label for="primary_billing"><?php echo $this->__('Use as my default billing address') ?></label>
				<?php else: ?>
						<input type="hidden" name="default_billing" value="1" />
				<?php endif; ?>
			</p>
			<p<?php if($this->canSetAsDefaultShipping()) echo ' class="control"' ?>>
				<?php if($this->isDefaultShipping()): ?>
						<strong><?php echo $this->__('Default Shipping Address') ?></strong>
				<?php elseif($this->canSetAsDefaultShipping()): ?>
						<input type="checkbox" id="primary_shipping" name="default_shipping" value="1" title="<?php echo $this->__('Use as My Default Shipping Address') ?>" class="checkbox" /><label for="primary_shipping"><?php echo $this->__('Use as my default shipping address') ?></label>
				<?php else: ?>
						<input type="hidden" name="default_shipping" value="1" />
				<?php endif; ?>
			</p>
		</div>
    <div class="buttons-set">
			<p class="required"><?php echo $this->__('* Required Fields') ?></p>
			<p class="back-link"><a href="<?php echo $this->escapeUrl($this->getBackUrl()) ?>"><small>&laquo; </small><?php echo $this->__('Back') ?></a></p>
			<button type="submit" title="<?php echo $this->__('Save Address') ?>" class="button"><span><span><?php echo $this->__('Save Address') ?></span></span></button>
    </div>
</form>
<script type="text/javascript">
//<![CDATA[
    var dataForm = new VarienForm('form-validate', true);
    new RegionUpdater('country', 'region', 'region_id', <?php echo $this->helper('directory')->getRegionJson() ?>, undefined, 'zip');
//]]>
</script>
